[2015-03-03 10:21] daattali opened #3 "support navbar links to external pages"

[2015-04-04 23:53] daattali opened #4 "A few issues reported by a reddit user"
There are some issues though:

- It looks like `site.baseurl` support is somewhat lacking. I've seen several places where it's not used. Check the output of `grep 'site\.url[^-]' -rn . | grep -v baseurl`. All of the lines it finds are broken when you have a baseurl.
- On hosts that don't auto-redirect "foo" to "foo/" (they exist), removing "/index.html" is a bit too aggressive, remove "index.html"

[2015-06-14 04:19] daattali commented on #3
nobody seems to want this, so closing (will reopen and work on it if there's demand)

[2015-10-12 12:54] SilverFoxA opened #10 "How to display the favicon to the page as well as display comment option on blog?"
I tried the library and has successfully modified to my need but currently i'm facing little bit of problem in adding the favicon as well as displaying the comments or even a field to type in the comment.
Please let me know if I am doing anything wrong.
Here is the url: http://silverfoxa.github.io/

Moreover when I try to host the same repo in terms of a project it shows error hence says the site

[2015-10-12 22:56] daattali commented on #10
- it looks like the favicon works

- if you want users to be able to leave comments on posts, [there is a section about it in my README](https://github.com/daattali/beautiful-jekyll#letting-users-leave-comments).  I just looked at your _config.yml file and it seems like you didn't provide a disqus id

- If you want the page `http://silverfoxa.github.io/project` to work then you need to have a repo

[2015-10-12 22:56] #10 closed

[2015-10-13 02:26] SilverFoxA commented on #10
sorry to say but there's no `disqus` parameter within the `_config.yml` file

[2015-10-13 02:32] daattali commented on #10
Yes there is, line 66 in your current config file

https://github.com/SilverFoxA/silverfoxa.github.io/blob/master/_config.yml#L66

[2015-10-13 02:34] SilverFoxA commented on #10
Thank you i have got it, It was commented so couldn't find it and thanks for this awesome easy to use library, Would love see few updates though regarding the theme

[2015-10-13 02:36] daattali commented on #10
If you have suggestions for improvements that will benefit other people, then you're welcome to open an issue for that

[2015-10-13 02:38] SilverFoxA commented on #10
Sorry to bug you  but what do you mean by the "disqus shortname not id", its the username right? i.e. https://disqus.com/by/"name here"/

[2015-10-13 02:41] daattali commented on #10
No, not the username.  Look up "disqus shortname"

https://help.disqus.com/customer/portal/articles/466208

[2015-10-13 02:42] SilverFoxA commented on #10
Thank you got it done :)

[2015-11-07 18:09] sillasgonzaga opened #12 "Files pushed to /_posts are not being shown in the website"
Here's my [github blog](http://sillasgonzaga.github.io/) created with beautiful-jekyll. It has only one post so far, the "First post!" so far.

However, I've pushed other two files to [/_posts](https://github.com/sillasgonzaga/sillasgonzaga.github.io/tree/master/_posts) but they are not showing up on my page. Why?

[2015-11-07 19:29] daattali commented on #12
The file has to follow the naming convention, the filename has to start with the date like all the sample ones have

[2015-11-07 19:29] #12 closed

[2015-11-19 01:22] isomerase commented on #3
+1!

[2015-11-19 01:24] daattali commented on #3
@isomerase noted.  Will add this soon once I get a bit of time

[2015-11-19 01:58] isomerase opened #15 "Stackoverflow icons not working as expected"
Adding  `stackoverflow: my-SO-name` and `  stackoverflow: true` to `footer-links-active` inside `_config.yml` does not work as expected because the baseURL for network profiles looks like `www.stackoverflow.com/users/#######/my-SO-name` (rather than `www.stackoverflow.com/my-SO-name`).

As a temporary solution, I set `stackoverflow` to `#######/my-SO-name` and edited `<a href="https://stackoverflo

[2015-11-19 07:14] daattali commented on #15
Yes I'm aware of that, LinkedIn also has a similar problem. That's why the demo config value is `stackoverflow: yourlink  # eg. "users/3943160/daattali"`

Although you're right that I could remove "users" from there and make that hardcoded, I might do that, but you'd still have to provide both the numeric id and username unfortunately.

[2015-11-19 07:16] #15 closed

[2015-11-19 07:20] daattali commented on #15
By the way, I'd really appreciate if you kept the small attribution to this theme in the footer, or at least somewhere

[2015-11-19 09:37] #3 closed

[2015-11-19 09:40] daattali commented on #3
this has been implemented

[2015-11-19 09:59] daattali commented on #4
all these issues have been resolved or are were never actually broken

[2015-11-19 09:59] #4 closed

[2015-11-19 16:43] isomerase commented on #15
Ah, I forked my site from one of your [featured user's site](thomased.github.io) so I never saw the demo config. They also scrubbed the attribution, I'll make sure to add it back in. Thanks for this theme!

[2015-11-19 16:44] isomerase commented on #3
<3

[2015-11-19 18:14] daattali commented on #15
No worries, it's obviously not mandatory (he put an attribution in the about page btw)

Thanks for the bug reports

[2015-11-19 18:15] daattali commented on #3
My girlfriend would not appreciate that comment.

[2015-12-16 22:22] mstrimas opened #22 "Hide avatar on small screens"
Hey Dean,

Thanks for the awesome theme!

I'm finding that the avatar covers up my name on small screens (i.e. on mobile). I notice the avatar decreases in size below a certain resolution, is there a simple way to totally hide it?

Example: http://quirktools.com/screenfly/#u=http%3A//strimas.com&w=320&h=568&a=37&s=1&p=1

Thanks!

M

[2015-12-17 03:21] daattali commented on #22
Great link, I love when people submit an issue and I don't have to jump hoops to understand the problem.

I can't test any of this right now because I'm out of the country , but I can think of 3 options:

- You can just remove the `avatar` parameter in `_config.yml` and then it won't show at all
- You can try playing with the CSS if you want to just move it down, but you'll have to figure that out

[2015-12-17 03:49] mstrimas commented on #22
Thanks, that bit of CSS worked perfectly!

[2015-12-17 03:49] #22 closed

[2016-01-01 06:08] woshichuanqilz opened #25 "I follow the 3 step just like the gif you post? But I get the 404 not found, why's that?"

[2016-01-01 06:56] woshichuanqilz commented on #25
I know the right URL is like this
http://woshichuanqilz.github.com/lizheblog/

[2016-01-01 07:58] woshichuanqilz commented on #25
It seems that I can't find the icon or the style and my page is like this:
how can I fix it?
![69](https://cloud.githubusercontent.com/assets/11295355/12070190/6b8f6fe4-b0a0-11e5-9ee6-9259385bb79e.png)

[2016-01-01 17:22] daattali commented on #25
Did you mean http://woshichuanqilz.github.io/lizheblogbf/ instead of http://woshichuanqilz.github.com/lizheblog/?

It seems to me that you only forked the repository (step 1) but didn't do the next steps of renaming the repository and of modifying the config file to reflect your URL. Please follow the instructions [here](https://github.com/daattali/beautiful-jekyll)

[2016-01-01 17:22] #25 closed

[2016-01-13 22:05] HintikkaKimmo opened #28 "About page not rendering"
I am facing following error with about me page. I have updated markdown and it renders fine in hintikkakimmo.github.io, but not when developing locally?

If I run Jekyll server command and click the link I get 404 error page, if I do the same on the github page it works fine.

Just in case I did run bundle install, updated bundler, Jekyll build and Jekyll build --watch with no error but serving pa

[2016-01-13 22:09] daattali commented on #28
Hey, I unfortunately can't help with this issue, as I never tried running Jekyll locally. Beautiful Jekyll was built to work well with GitHub Pages because I meant for it to be super simple for anyone to use, including myself. I never wanted to deal with local installations and ruby/gems and all that... I really can't help you here, sorry!

[2016-01-13 22:09] #28 closed

[2016-01-14 17:44] HintikkaKimmo commented on #28
Weirdly enough I fixed this by auto indenting HTML on _includes and _layouts folders. Probably a Jekyll bug.

[2016-01-14 19:31] daattali commented on #28
Awesome :)

[2016-01-21 19:41] abiyug opened #29 "HTML widgett on Jekyll"
Hi Dean,
Not able to render HTML widget (ex. DT, Leaflet) on beautiful-jekyll. Here is the YAML
---
layout: post
title: "HtmlWidge"
author: "Abiyu Giday"
date: "January 21, 2016"
output: html_document
---
Can you take a look?

[2016-01-21 22:00] daattali commented on #29
I assume you're referring to an interactive Rmarkdown document?  Interactive Rmarkdown documents have to be hosted on a shiny server. Jekyll is not a shiny server, it will not work.  Jekyll can only host plain HTML files

[2016-01-21 22:57] abiyug commented on #29
Hi Dean,
Lets take the DataTable (DT) for example. I can save the HTML source and open it on a PC that doesn't have shiny server. The browser is supposed to render it without any shiny server. Isn't that how Jekyll should work also?

Thanks,

Abiyu

Sent from my iPad

On Jan 21, 2016, at 17:01, Dean Attali <notifications@github.com> wrote:

[2016-01-21 23:12] daattali commented on #29
When you save it, does it only produce the HTML file, or are there other
files that are created too?  If it's literally just an HTML file, then yes
jekyll should be able to render it correctly.  To test it out, attach the
HTML file here and I'll try to open it. If I can render it properly then
jekyll should too, if not then that's the problem

---
http://deanattali.com

On 21 January 2016 at 14:57

[2016-01-21 23:31] abiyug commented on #29
Attached is the file.

Here is the markdown code:

---
title: "Data Table"
author: "Abiyu Giday"
date: "January 21, 2016"
output: html_document
---
###Test DT

This is the table.

[code]

*'Abiyu Giday | Principal Consultant*

*Antex Ultimate Solutions | www.antexusolutions.com
<http://www.antexusolutions.com/>(O) 703-436-4118** | (C)  703-459-0943
(e) matt.giday@antexu <http://goog_1484985646/>so

[2016-01-21 23:39] daattali commented on #29
Ok I took your code (I replaced `cars` with `mtcars` because I don't want to download a new package), and I uploaded the HTML to my website.  [Here is the HTML file](https://github.com/daattali/daattali.github.io/blob/master/test.html) that RStudio created, and [here](http://deanattali.com/test.html) is how it shows up on my site.  Looks fine.  Note that the file has to be `.html`, not `.md`.

[2016-01-21 23:42] daattali commented on #29
You can copy the exact file ([this one](https://github.com/daattali/daattali.github.io/blob/master/test.html)) to your website. There's no reason it wouldn't render.  I'm assuming you're using GitHub Pages, if you're using jekyll locally then maybe there's something else that's breaking it, I don't know anything about local jekyll.

[2016-01-22 01:12] abiyug commented on #29
I agree with you! There shouldn't be any reason. I will try again and revert back to you.

Sent from my iPad

On Jan 21, 2016, at 18:42, Dean Attali <notifications@github.com> wrote:

[2016-01-22 01:16] abiyug commented on #29
Have you tested it inside the beautiful Jekyll?

Sent from my iPad

On Jan 21, 2016, at 20:12, Abiyu <abiyu@antexusolutions.com> wrote:

[2016-01-22 01:17] daattali commented on #29
my website is a fork of beautiful jekyll. There really should not be any issue if it's just an HTML file with no other dependencies and our file is named correctly. Again, this is only assuming you're in GitHub Pages. If you are using github pages then you can just link me to the file on github that's not showing up properly if you

[2016-01-22 01:41] abiyug commented on #29
It isn't rending the table for me. Take a look.

http://abiyug.github.io/2016-01-21-DT-Test/

*'Abiyu Giday | Principal Consultant*

*Antex Ultimate Solutions | www.antexusolutions.com
<http://www.antexusolutions.com/>(O) 703-436-4118** | (C)  703-459-0943
(e) matt.giday@antexu <http://goog_1484985646/>solutions.com
<http://solutions.com/>*

This message may contain information which is confidenti

[2016-01-22 01:55] daattali commented on #29
Ah, I see. It's because it's trying to render as a post (inside the _posts folder). But anything inside the _posts folder gets rendered in a special way , it's not going to be pure HTML, it's going through some layers of abstraction. I'm guessing that the HTML gets escaped at some point.  To include a pure HTML page, it needs to be its own independent file, that doesn't go through the jekyll markd

[2016-01-22 01:59] abiyug commented on #29
But, it renders fine outside of beautiful Jekyll ...,

Sent from my iPad

On Jan 21, 2016, at 20:41, Abiyu G <abiyu@antexusolutions.com> wrote:

[2016-01-22 02:04] daattali commented on #29
Then you can try to have a look at how a "post" is rendered by looking at [the post layout](https://github.com/daattali/beautiful-jekyll/blob/master/_layouts/post.html) and the [default layout](https://github.com/daattali/beautiful-jekyll/blob/master/_layouts/default.html) which it build on.  You can play around with those layouts to see where the problem is. It might not be very fun to do

[2016-01-22 02:04] abiyug commented on #29
Actually I have HTML embedded in the post that is working already. So not sure it will render one HTML but not the other.

http://abiyug.github.io/2016-01-19-Salary-Comp-dplyr-ggplot/

At any rate, I think this is very important feature to have. But understand beautiful Jekyll doesn't support it.

Sent from my iPad

On Jan 21, 2016, at 20:55, Dean Attali <notifications@github.com> wrote:

[2016-01-22 02:05] abiyug commented on #29
Will give it a try, thanks.

Sent from my iPad

On Jan 21, 2016, at 21:04, Dean Attali <notifications@github.com> wrote:

[2016-01-22 02:38] daattali commented on #29
Ah! I found the problem. I did what I told you - started from a fresh template and slowly added things in. It was not fun, as I said :)  Looks like the problem is that I'm including jquery JavaScript, and the HTML that rstudio creates also laods jquery. Loading jquery twice on the same page is known to cause huge problems.  I'm not 100% how I'll fix that for now, but at least I can tell you that's

[2016-01-22 02:41] daattali commented on #29
Sorry, actually, don't do that! Removing jquery will fix that specific page but it will break all other pages (because other pages do require it). Let me think about it some more. But at least now it's not a mystery!

[2016-01-22 03:13] #29 closed

[2016-01-22 03:14] daattali commented on #29
Hey @abiyug I think I fixed the issue. Can you fork beautiful jekyll now and try it again?

[2016-01-23 02:14] abiyug commented on #29
I will test and revert back to you!

*'Abiyu Giday | Principal Consultant*

*Antex Ultimate Solutions | www.antexusolutions.com
<http://www.antexusolutions.com/>(O) 703-436-4118** | (C)  703-459-0943
(e) matt.giday@antexu <http://goog_1484985646/>solutions.com
<http://solutions.com/>*

This message may contain information which is confidential and subject to
legal privilege. If you are not the int

[2016-01-23 16:18] abiyug commented on #29
Tested and it renders the HTML widgets fine now!  Updated the
footer-scripts.html
script with your changes in the "_includes" folder.

FYI - best visual on Chrome - compare to Safari and Firefox.

Thanks again

[2016-01-23 16:29] abiyug commented on #29
One more question - why doesn't I am able to post .html.  But, r code in
the r-markdown doesn't seem to render example after saving xyz.md file that
contains this code

[code]
doesn't plot the graph on beutiful jykell.. it just shows the code only.

*'Abiyu Giday | Principal Consultant*

*Antex Ultimate Solutions | www.antexusolutions.com
<http://www.antexusolutions.com/>(O) 703-436-4118** | (C)

[2016-01-23 21:22] daattali commented on #29
@abiyug it's better if you don't change the file yourself as I said. Just fork this repository, there are a few more changes that fixed the problem.

Your second question: I don't understand what you mean. You're saying only code shows up but the graphs don't?  The previous example of the cars table shows that you CAN post results of R, as long as you're uploading the html.

[2016-01-31 22:59] ajkl opened #32 "tags/categories"
is there a way to create tags/categories for posts ?

[2016-01-31 23:53] daattali commented on #32
We've just talked about this in person, but I'll post the answer here for anyone in the future who has a similar question.

Somebody once sent me [this github pages website](http://amunategui.github.io/) and asked me how to do something similar (a page that shows all posts of a specific tag). If you look at the github repo for that website https://github.com/amunategui/amunategui.github.io, you ca

[2016-01-31 23:53] #32 closed

[2016-02-02 03:07] daattali opened #33 "Remove the hardcoded JS and CSS that resulted from github migrating to jekyll3"
On 2016-02-01 GitHub decided to upgrade to Jekyll v3 without warning us.  This caused a lot of breakage.  As a very quick and dirty fix, I hardcoded css and javascript in two files. Hopefully there's be a nicer fix eventually (this affects the master branch and gh-pages branch)

1947c4907e3bf3a3e4d2f5bf76ed3e529b9f90d1
6d0fff729ad47234491d49ab48c0ac9b4e7bc946

[2016-02-04 02:23] sillasgonzaga commented on #33
Many thanks for the quick fix. My blog is based on your personal template so I went nuts when I got an email from Github with some warning after I published a post.

[2016-02-04 02:26] daattali commented on #33
Oh , I went nuts for a few hours trying to figure out what's broken... :)  I files this issue with jekyll but unfortunately it doesn't seem like it's going to be addressed https://github.com/jekyll/jekyll/issues/4439

[2016-02-04 06:54] sunieldalal commented on #33
Thanks a lot Daattali for the quick fix!

[2016-02-04 06:58] daattali commented on #33
@sillasgonzaga @sunieldalal instead of saying thank you, I'd really appreciate if you could post on jekyll/jekyll#4439 to let jekyll know that this issue is affecting more people so that they'll take a look :) The solution I put in place is not great, but I'm glad you guys found it

[2016-02-05 00:43] daattali commented on #33
@sillasgonzaga @sunieldalal I implemented a better fix, still not ideal, but it's less hacky and will generalize better. Feel free to use it too, see https://github.com/daattali/beautiful-jekyll/commit/9197b79d9d4d96ca6e2e935814ca92079bd71791 and https://github.com/daattali/beautiful-jekyll/commit/57539e35e86ba9c55886da8ea54a87cdbf8e75ca

[2016-02-05 04:50] sunieldalal commented on #33
Thanks @daattali..

[2016-02-10 01:02] sfxfactor opened #37 "bigimg incorporation"
Can you incorporate the bigimg headers you have on your personal website into the general distribution?

[2016-02-10 01:37] daattali commented on #37
I think you're right, I should. I've seen dozens of people copying my personal website instead of beautiful jekyll because they wanted those images.  I'll do it, but probably not in the next few weeks as I'm extremely busy. Thanks for bringing it up

[2016-02-15 00:03] rfitz9 commented on #10
I would love to know how you were able to utilize a favicon

[2016-02-20 23:58] rfitz9 opened #40 "Help with Navigation"
I'm new to this, so please bear with me. I'm having trouble with my navigation menu. I can't figure out how to have my avatar and site name direct to /home. They are both leading to "rfitz9.github.io/rfitz9.github.io"

[2016-02-21 00:05] daattali commented on #40
You need to add `http://` to the `url` parameter in the config file

[2016-02-21 00:05] #40 closed

[2016-02-21 00:30] rfitz9 opened #41 "Add favicon"
How do I incorporate a favicon?

[2016-02-21 00:38] daattali commented on #41
add a proper favicon file named `favicon.ico` to the root directory

[2016-02-21 00:38] #41 closed

[2016-02-21 00:46] rfitz9 commented on #41
I do, but it's not working

[2016-02-21 00:50] daattali commented on #41
It is working, I can see it, try loading your site on someone else's computer or your phone.  This question is a general jekyll/github pages question and not related to this theme, if you're having trouble with general stuff like that please ask it on some specific question board where other people can provide answers. I'm extremely busy this month and don't want to spend time on these issues

[2016-03-04 11:29] daattali opened #43 "Support multi-level navbar"
See if there's an elegant simple way to support dropdown menus in the navbar links.  Only if it's easy to use from the user's perspective and involves minimal code change, and make sure it looks good on both mobile and big screen.

[2016-03-04 11:33] daattali commented on #43
Idea: for any menu item that's a dropdown, automatically place an arrow beside it by adding `:after { content: " \25BC"; }` to the text

[2016-03-14 04:02] radaniba opened #44 "Add permalink to 404.html"
the page 404.html with the current header will not display if the website is hosted on github

I fixed this by adding a

[code]
I don't think this needs a PR since I added other things but I though you might want to fix that

Cheers

Rad

[2016-03-14 04:08] daattali commented on #44
Thank you, I've just added that.  I guess this broke when Github moved from Jekyll 2 to 3, because it definitely worked for the past year.  Thanks!

[2016-03-14 04:08] #44 closed

[2016-03-18 04:29] daattali commented on #43
done

[2016-03-18 04:29] #43 closed

[2016-03-18 11:33] #37 closed

[2016-03-18 11:38] daattali commented on #37
@sfxfactor this is now in beautiful jekyll. You can either pass a single image or a list of images to cycle through on any page with the `bigimg` YAML

[2016-04-04 06:12] hxsnow10 opened #49 "_posts/2016*.md doesn't work but 2015 work"
Is it a bug?

[2016-04-04 06:17] hxsnow10 commented on #49
i find it may be a  problem about time zone.Today is 4-4 beijing, i edit it 2016-04-04, it doesn't work, 2016-03-03, it works.

[2016-04-04 06:22] daattali commented on #49
This has nothing to do with beautiful-jekyll. It may be a Jekyll thing, maybe it doesn't allow you to have posts with a date in the "future".  Try setting your timezone on the post maybe https://jekyllrb.com/docs/frontmatter/#predefined-variables-for-posts  or maybe if you change the timezone inside the config.yml file it'll work

[2016-04-04 06:22] #49 closed

[2016-04-08 13:48] xor-gate opened #50 "Upgrade to font-awesome 4.4 for wikipedia-w glyph"
It would be nice to have soundcloud and wikipedia in the footer. I'm using Hugo static site generator but added this myself and upgraded font awesome.

Thanks for your work!

For hugo I have added this to the footer.html (should be migrated to jekyll):

[code]

[2016-04-08 20:37] #50 closed

[2016-04-08 20:37] daattali commented on #50
thanks!

[2016-04-24 22:27] kootenpv commented on #33
Thanks for the fix, I also went nuts. Came to post an issue; glad it was already solved! Good job :)

[2016-04-24 23:07] daattali commented on #33
@kootenpv Glad to hear it's helping people. I really hope Jekyll will have a proper fix on their end at some point!

[2016-04-29 14:47] rdinter opened #54 "navbar-links: width"
The drop-down menu associated with nvabar-links takes approximately the width of the title of the drop-down. If a subsequent sub-title word is longer than this width, the word stretches across two lines.

[2016-05-01 08:42] #54 closed

[2016-05-01 08:42] daattali commented on #54
I've fixed this issue, thanks for reporting!

[2016-05-31 02:34] sillasgonzaga opened #57 "HTML file uploaded as a blog post gets incorrect title"
I've written a blog post that uses two htmlwidget packages, DT and visNetwork. Therefore, a md file would not be a good option for me.

However, I can't get the blog to fix the title. I generated the file using knitr and Rstudio and changed the YAML parameters as follows:

---
title: "Meta-análise R (2): Analisando Pacotes R como indivíduos em uma rede social"
author: "Sillas Teixeira Gonzaga"
dat

[2016-05-31 03:01] daattali commented on #57
I don't understand the problem.  The title of the page that I'm seeing is "Meta Análise r (2): analisando pacotes r como indivíduos em uma rede social" -- is that not correct?

[2016-05-31 03:06] sillasgonzaga commented on #57
If you compare the title of the page with the name of the file that generated it, you will see that they are different.

Page title: Meta Análise r (2): analisando pacotes r como indivíduos em uma rede social
File name: 2016-05-30-Meta-análise R (2): Analisando Pacotes R como indivíduos em uma rede social.html

You see, some words got lowercased. Posting html files do not seem to be as straightfor

[2016-05-31 05:11] daattali commented on #57
I see now.  I tried Googling that problem and it looks like it's a Jekyll bug.  (Or maybe not a bug, maybe it's on purpose).  Anyway, they say that the only way to fix that is to include a title in the YAML of the html file. One of the links I found discussion this: https://github.com/jekyll/jekyll/issues/313

I'm closing this issue since it's a general Jekyll issue and not something related to th

[2016-05-31 05:11] #57 closed

[2016-06-04 08:43] daattali commented on #33
Jekyll recently fixed the bug

[2016-06-04 08:43] #33 closed

[2016-07-15 03:45] rtlee9 opened #69 "Anchor and footnotes link too far down"
Dean - thanks again for the great work. I've added anchors for intra-document references (e.g., "{#header1}") and footnotes (e.g., "[^1]") in my posts, but when you click on the generated link it takes you one row too far down the page -- the top row is cut off by the banner. Is there an easy workaround to resolve this?

Please see the table of contents and/or footnotes in [this](http://eightporti

[2016-07-15 21:20] daattali commented on #69
Hi Ryan, this is an extremely common problem with in HTML that many many websites suffer from.  What you're seeing is actually the correct behaviour, but certainly not desireable.  What's happening is that because the header is fixed and follows you while scrolling, then the top of the page is actually "hidden" behind the header. So if the header is for example 50 pixels tall, then every internal

[2016-07-15 21:20] #69 closed

[2016-07-18 16:45] daattali opened #70 "Add support for Twitter cards"
from @s-matthew-english
http://smatthewenglish.com/2016-07-18-Jekyll_Blog_Support_for_Twitter_Cards/

[2016-07-20 22:00] #70 closed

[2016-07-23 10:07] rishabhbanga opened #71 "Issue in integrating Public Custom LinkedIn URL"
## Expected Behavior

Workaround for someone to be able use their Custom LinkedIn Url, instead of the obsolete pub/username/../../...  Url.

## Current Behavior

In _config.yml, you have mentioned to use a format similar to - pub/dean-attali/8/946/143 , to link to LinkedIn, however for a long time now I have been using a Custom Public URL - https://www.linkedin.com/in/rishabhbanga , which is not b

[2016-07-23 17:36] rtlee9 commented on #69
Thanks, Dean. I tried a few different iterations of changing the [relative positioning in the CSS](http://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header/13184714#13184714), but I couldn't get the footnotes to both offset and render correctly. In the end I converted the navbar to default / unfixed by deleting `navbar-fixed-top` from the first line of _incl

[2016-07-23 19:08] daattali commented on #69
I did find one solution that works fairly well that you could try.  http://stackoverflow.com/a/22655654/3943160

It basically involves adding the following CSS:

[code]

It might not work on older browsers but you might find that it works for your needs. The number 50 should be changed to whatever height the navbar is (I think it's 50 for beautiful jekyll).  Good luck

[2016-07-23 19:27] daattali commented on #71
Thanks @rishabhbanga

Just so I understand: what if you set the config param to "in/rishabhbanga", doesn't that work?  I was reluctant to change the default URL because I think everybody has a custom URL.  From my understanding, people can opt in to get a custom URL, but it's not universal, right?  Or did LinkedIn recently migrate everyone's account to have a custom URL?  I don't want the URL to b

[2016-07-23 20:05] rishabhbanga commented on #71
@daattali Even I tried with using "in/rishabhbanga" initially, but it did not work. I agree with the reluctance, and I myself would think it would be better to incorporate both, because as far as I know, the custom URL's are only for those who had themselves modified the URL, but for more or ess everyone the URL is ending with either "in/abc-xxxx" or "in/abc" , where abc is the name and xxxx strin

[2016-07-23 20:37] daattali commented on #71
That's strange, setting the param to "in/name" should work. I just tried it on a test website https://daattalitest.github.io/ and it does seem to work. But I'll accept the PR anyway

[2016-07-23 20:37] #71 closed

[2016-07-23 20:59] rtlee9 commented on #69
I'll give that a try - thanks again.

[2016-07-28 21:49] epwalsh opened #76 "Code wrapping"
Hi @daattali, code automatically wraps which makes it hard to read, particularly from mobile devices. I propose adding something like this to `main.css`:

[code]

This would disable wrapping and allow for horizontal scrolling.

EDIT: This solution actually had some unexpected behavior from a mobile browser, so maybe not the best way to go.

[2016-07-29 00:30] daattali commented on #76
I definitely understand the problem you want to solve. I just tried it on my desktop, and it didn't work out nicely either...... I do appreciate the thought though. If you do have a good solution, let me know! Otherwise if this is not useful , you can close the issue

[2016-07-29 00:48] epwalsh commented on #76
Sounds good.. I'll close this issue and let you know if I happen to find a better solution!

[2016-07-29 00:48] #76 closed

[2016-07-29 01:34] daattali commented on #76
So this was not a completely useless idea because it did make me take a look at the current code blocks style and I changed it a bit (hopefully it's an improvement!). I also did add one of the rules you suggested.

https://github.com/daattali/beautiful-jekyll/blob/master/css/main.css#L588-L603

So thank you!

[2016-07-29 01:55] epwalsh commented on #76
Nice! I like that a lot

[2016-08-19 15:50] VVVFO opened #86 "Specific changes in _config.yml are not reflecting"
I have changed the "title" field along with some other things in the _config.yml, but the title of the webpage is still shown as "My Website" as the default, while other changes has been reflected. For reference, the webiste: [vvvfo.github.io](https://vvvfo.github.io)

[2016-08-19 15:56] VVVFO commented on #86
Changed index.html and it functioned correctly, so what is the function of the "title" field and "description" field in the _config.yml?

[2016-08-19 17:32] daattali commented on #86
The `title` param in the config variable is what's responsible for the text on the top left of every page.  Sometimes jekyll behaves weird and doesn't update for a while and you just need to make any other change to any other page just to force it to update.  The `title` param in `index.html` is responsible for the title of the actual page itself (the big centered text below the navigation bar)

[2016-08-19 17:32] #86 closed

[2016-09-11 10:47] razu555 opened #97 "Build website"
Hi

[2016-09-11 17:20] #97 closed

[2016-09-12 02:36] vietanhdev opened #98 "Issue with category generation"
@daattali
hello. Firstly, thank you for your beautiful theme.
I'm building my site at [vietanhdev.github.io](https://github.com/vietanhdev/vietanhdev.github.io).
I used some code for generating category site ([categories.html](https://github.com/vietanhdev/vietanhdev.github.io/blob/issue/categories.html) file). It worked perfectly. But after I added tags in my posts, it only showed one post per ca

[2016-09-12 07:17] daattali commented on #98
It's very hard for me to debug what's going on in your project because I see you have a lot of commits and aren't pointing me to a single file/line/issue. Category generation only works if you build jekyll locally on a webserver.  You can set the date and title of a page explicitly using the `title` and `date` YAML parameters in every post. I'm not sure how much stuff you changed in your repo, but

[2016-09-12 07:17] #98 closed

[2016-09-12 11:49] vietanhdev commented on #98
Thank you for looking into my problem. I've fixed it by rewriting all categories and tags name.

[2016-09-19 18:39] wittedhaddock opened #102 "Moving Blog to another Page"
Taking the blog-emitting src from index.html ([this stuff](https://gist.github.com/wittedhaddock/916c24bd193d339593c9611167a4df26)), and moving it to a new page, say blog.html, results in no post-html to be emitted:

[code]

Moving it back to the root index.html, and running `jekyll serve` then properly emits all blog-related HTML.

What is intrinsic to the root index.html that allows blog-html to

[2016-09-19 19:23] daattali commented on #102
To have the blog hosted on a different URL, add the pagination HTML into a different page, for example under "blog/index.html", and in the config file you need to modify the `paginate_path`, for example `paginate_path: "/blog/page:num/"`

[2016-09-19 19:23] #102 closed

[2016-09-20 08:29] mbusb opened #103 "Blog post not generated with Next Page/ Previous Page widget"
Hi daattali,

Thanks for the beautiful-jekyll and making it easy for newcomers like me.  I am trying to build a simple site for my project with your theme. My intension is to create few static pages and a blog page for release announcement. I have hosted it in this link https://github.com/mbusb/mbusb.github.io.

If you build and browse a site, all seems to be ok. But I am finding it difficult to g

[2016-09-20 08:46] daattali commented on #103
This is purely a jekyll issue, you can read the jekyll docs to understand how Blog posts+page works. Somebody else asked about this exact same issue yesterday so you can see what he did and my response - it should help you https://github.com/daattali/beautiful-jekyll/issues/102

If that doesn't help you enough, try reading the following two jekyll pages: https://jekyllrb.com/docs/posts/#displaying

[2016-09-20 08:46] #103 closed

[2016-09-20 16:48] mbusb commented on #103
Thanks for the input. If you know that you have some solution for a problem (faced by many users) then why don't you include in the documentation. I have wasted lot of time to figure out what is the problem with the code.

Meanwhile my site is up and running. Very simple site which you can include in list of featured site, if you wish.

Once again thanks for your work.

[2016-09-20 18:23] daattali commented on #103
It's not a problem faced by many users, only two people have ever asked
about this and both coincidentally happened this week, just by chance :)
 The documentation I provide is fairly extensive and I try not to bloat it
with info that's not useful to  a lot of people, I add to it when I see
many people facing a problem

---
http://deanattali.com

On 20 September 2016 at 09:48, multibootusb <notifi

[2016-09-21 14:38] mrmccormack opened #104 "Syntax highlighting problem"
Thanks for repostitory.

I've been working for a long time - trying to get syntax highlighting
on GitHub pages working. It never seems to work.

Any help would be appreciated.

I forked your beautiful-jekyll
http://mrmccormack.me/aboutme/

It works when previewing the .md file in repository... but not on compiled GitHub pages.

Here's what I added:

# Here is some sample colored code

[code]
# Tes

[2016-09-21 18:29] daattali commented on #104
I just went to your page and I do see syntax highlighting. I'm not sure what the problem is?

[2016-09-22 11:16] mrmccormack commented on #104
Thanks for fast reply.

I added more syntax, and it is working now... not sure what it was... I did notice some compilation errors when I was testing (GitHub) Site.

I'll close this issue, sorry for trouble.
Rob

[2016-09-22 11:16] #104 closed

[2016-10-01 18:49] facelesspanda opened #108 "quick question about /img/start.jpg and /img/path.jpg"
Hi.

I get what the `404-southpark.jpg` is (though I don't get why it's not simply called `404.jpg`), I get what the `avatar-icon.png` is. But what are the other two images, `path` and `start`? They're not used in the sample posts, they're not used in the readme, and I haven't seen them in the layouts or includes... what are they?

[2016-10-01 22:55] daattali commented on #108
Thank you for your comment. The path image is actually used in one of the sample posts (in the master branch) and the start image is used in a page on the gh-pages branch

[2016-10-01 22:55] #108 closed

[2016-10-02 01:07] facelesspanda commented on #108
Okay thanks, missed that.

[2016-10-09 04:40] vietanhdev opened #115 "Can anyone add staticman comment system?"
Hello, I've found a wonderful static comment system Staticman ([https://staticman.net/](https://staticman.net/)). Can anyone add it to our Beautiful Jekyll? :D Thank you very much!

[2016-10-09 04:48] daattali commented on #115
beautful jekyll already supports a very powerful and very popular comment system called Disqus. It's extremely easy to enable it on your site and it's used by thousands and thousands of people so you can be assured it works well. I don't see why a different comment system that's fairly unknown and untested should be supported when disqus already works?

[2016-10-09 04:59] vietanhdev commented on #115
But there are many people (including me) from my country - Viet Nam having problem with disqus comment system. Maybe Disqus is blocked by some ISPs? And I think it also happens on other countries.

Further more, with Staticman commenting system, we can keep all comments in Github repository instead of have them stored in Disqus server. Many people will love it.

[2016-10-09 05:05] daattali commented on #115
You're right, I had no idea Disqus is blocked there. Anyway, I just looked at staticman and it looks like if you want to use it, you'll just need to add it manually yourself. There isn't much to add to the template in order to support it because it has different implementations depending on your use case. So all you need to do is to follow their instructions, but I don't think it can be generalize

[2016-10-09 05:20] vietanhdev commented on #115
Ok. thank you.

[2016-10-09 05:20] #115 closed

[2016-10-10 23:25] darkhax opened #117 "Few issues with code blocks, and some questions."
After testing out a this theme, I have noticed a few issues with code blocks. (not that I am using ' rather than ` for this issue, because I couldn't work out how to escape it lol) I get the feeling that these issues are more so limitations of the tools used rather than this project, so at the very least this will help others who are having these issues.

The first issue is related to syntax highl

[2016-10-10 23:34] daattali commented on #117
Hi @darkhax , as you suspected, all these issues are 100% to do with markdown, and I can't offer much help with them.  I also run into random issues like these often with markdown (especially with code blocks, they really are trickier), and every time I just do a lot of googling. Unfortunately markdown code blocks are not super trivial like most other markdown features.  The issue with the new lin

[2016-10-10 23:34] #117 closed

[2016-10-10 23:37] daattali commented on #117
One thing you can experiment with: there are different markdown parsers and different syntax highlighters.  They all work differently and each have their own issues. You can change them here: https://github.com/daattali/beautiful-jekyll/blob/master/_config.yml#L101-L102

You can read the jekyll documentation to see what other markdown/highlighter options are available. I don't remember the differe

[2016-10-10 23:37] daattali commented on #117
One thing you can experiment with: there are different markdown parsers and different syntax highlighters.  They all work differently and each have their own issues. You can change them here: https://github.com/daattali/beautiful-jekyll/blob/master/_config.yml#L101-L102

You can read the jekyll documentation to see what other markdown/highlighter options are available. I don't remember the differe

[2016-10-11 00:12] darkhax commented on #117
Thanks for the help. The issues I mentioned are not serious, just interesting quirks. Might be worth documenting them on the readme to help those who come across them in the future.

As for the line wrapping, I was able to fix it by adding `white-space: pre;` to the code block section of `main.css`. Not sure if this will have any unintended side effects, but it seems to have done the trick.

Thank

[2016-10-11 00:38] daattali commented on #117
I've done that a few months ago already https://github.com/daattali/beautiful-jekyll/blob/master/css/main.css#L594-L596

I guess you forked the repo a long time ago so you didn't have that?  But yes that is a good CSS to add

[2016-10-12 06:31] daattali commented on #117
Yes, you definitely shouldn't be working off the gh-pages branch. I realized that after trying to see what's wrong with your repo, and because of that I added a new section to the README and I also added a warning in the gh-pages README. Basically, I recommend you delete the gh-pages branch and create it again using master. Because all my work goes into master.

[2016-10-12 06:32] daattali commented on #117
Sorry for not letting you know!

[2016-10-26 10:28] kootenpv opened #120 "'social' reddit missing"
I guess from the social section reddit is missing as an option.

[2016-10-26 20:57] daattali commented on #120
Yes it is, there are dozens of social media websites, I only aimed to include the most useful ones. You can edit the `_includes/footer.html` file if you want to add reddit, it should be very easy, just follow the template that all the others use

[2016-10-26 20:57] #120 closed

[2016-10-27 19:17] kootenpv commented on #120
I don't see it here? https://github.com/daattali/beautiful-jekyll/blob/master/_config.yml#L71

So it's more of a hidden feature then?

[2016-10-27 20:30] daattali commented on #120
To clarify: reddit is NOT supported out of the box. What I meant is that I only included the very popular sites in beautfiful jekyll, and reddit was not one of them. If you want to add reddit, you'd need to follow the template in the file I mentioned, (and you're right) also add it in the _config file

[2016-10-27 21:17] kootenpv commented on #120
A bit of an early close then :-)

Implemented in #121

[2016-11-10 16:50] yimingli opened #126 "share buttons not working"
I might be missing something, but it seems that none of the demo blog posts shows share buttons, when in the default front matter `social-share: true`.

[2016-11-10 17:33] daattali commented on #126
I'm not sure why you think that, I just forked this repo and I do see the social sharing buttons

http://imgur.com/a/kxe13

https://daattalitest.github.io/2015-02-20-test-markdown/

Maybe you're referring to something else. The social-share buttons are the twitter/facebook/linkedin square buttons beneath a post , above the pagination

[2016-11-10 17:45] yimingli commented on #126
Thanks! I was referring to demo blog posts such as this one: http://deanattali.com/beautiful-jekyll/2015-02-26-flake-it-till-you-make-it/ Is this post based on beautiful-jekyll?

I also tried to incorporate social share buttons into jekyll's default theme to no avail. I added `/_includes/social_share.html`, edited `_config.yml` and `_layouts/post.html`, but it didn't work. Could you please point m

[2016-11-10 17:57] daattali commented on #126
Oh I see. The demo website is built with a very outdated version before I
added support for those buttons.

Honestly I don't remember exactly where all the moving pieces are, it'll
take me time to figure that out again and I'm working on a lot of projects
and don't really have that time,  sorry!
On Nov 10, 2016 12:45 PM, "Yiming (Paul) Li" <notifications@github.com>
wrote:

[2016-11-10 18:01] yimingli commented on #126
No worries, great theme! Thanks.

[2016-11-10 18:01] #126 closed

[2016-11-14 15:07] daattali opened #130 "Publish beautiful jekyll as a ruby gem https://jekyllrb.com/docs/themes/"

[2016-11-14 16:41] sasivarnan commented on #130
+1

[2016-11-17 09:12] yiluheihei opened #131 "favicon.ico setting"
A great work for website creating.

I found that there is no "favicon.ico" according to your step-to-step tutorial.

We can set a "favicon.ico" by adding `<link rel="icon"  href="/img/favicon.ico" />` in the "header.html". Or a yaml parameter "ico" could be offered to control if "favicon.ico" is show to the site.

[2016-11-17 15:26] daattali commented on #131
You can simply add a favicon to the root folder and it'll automatically be
picked up
On Nov 17, 2016 4:12 AM, "yang" <notifications@github.com> wrote:

[2016-11-17 23:57] yiluheihei commented on #131
Thanks  👍

[2016-11-17 23:58] #131 closed

[2016-11-26 07:23] daattali commented on #130
Does anybody want to help me with this?  I don't think I'll find time in the near future to take a few hours to learn how to build this locally well enough to be able to publish it as a gem -- please contact me if you can help

[2016-12-07 06:33] daattali commented on #130
The theme is available as a gem now

https://rubygems.org/gems/beautiful-jekyll

However, the documentation for creating gems is really poor so since I'm a complete noob with ruby/gems, I'm not 100% sure how well this worked. Specifically, I don't know how to install the theme in a way that would pull all the theme files (the layouts, includes, etc.)

[2016-12-07 06:33] #130 closed

[2016-12-08 18:40] TaylorAndrew opened #136 "Add phone number to footer"
Is there anyway we can add a phone number to the footer to go alongside the email, github, etc.?

[2016-12-08 18:46] daattali commented on #136
Currently no, but it can be easily added if there was a sensible way for it
to look. All other links are a circular icon that act as links - but for
the phone number you'd need to actually spell it out , it can't simply be a
circular logo,right? Which will make it look awkward in my opinion
On Dec 8, 2016 1:40 PM, "Andrew Taylor" <notifications@github.com> wrote:

[2016-12-08 18:49] TaylorAndrew commented on #136
Actually, I guess thinking mobile-first, I was assuming it would be a circular icon that when you clicked it opened the call screen with the number pasted into the keyboard, much like how calling businesses via google maps works.

But I do see the issue with non-mobile.

[2016-12-08 18:52] daattali commented on #136
I guess on desktop it'd try to open Skype or similar, I'll take a look
On Dec 8, 2016 1:49 PM, "Andrew Taylor" <notifications@github.com> wrote:

[2016-12-08 19:57] TaylorAndrew commented on #136
Thanks Dean! If you are able to find a solution, it would definitely be a huge benefit to my site.

Well, theoretically, at least. In the case that someone actually goes to it in the future.

[2016-12-08 20:22] #136 closed

[2016-12-08 20:24] daattali commented on #136
OK you can now use the `telephone` flag in the config file. You'll have to re-fork my repo to get these changes. I tested on android and on desktop

[2016-12-13 14:55] jpuritz opened #137 "Markdown code blocks wrapping"
Thanks for all your work on this great theme.

Is there anyway to change the default behavior of markdown code blocks.  I really don't want them to wrap.

[code]

[2016-12-13 18:12] daattali commented on #137
If you know CSS, it should take a few minutes to fidgeting around with the style for codeblocks to achieve that. I don't know it off the top of my head

[2016-12-13 18:14] daattali commented on #137
Try adding this to your CSS

[code]

[2016-12-13 18:14] #137 closed

[2016-12-15 21:38] TaylorAndrew opened #138 "[question] image as 'title'?"
Currently beautiful-jekyll takes the website 'title' and makes it a link in the top left corner than links back to index.html.

I would like to put my company's logo at the top left instead, and still have it be linked back to index.html.

Would this feature be feasible within the current scope of beautiful jekyll?

[2016-12-15 22:07] daattali commented on #138
I've implemented this feature now. Use the `title-img` param in the config file

https://github.com/daattali/beautiful-jekyll/blob/master/_config.yml#L39

PS. you've mentioned "my company" - for non personal use, I would really appreciate a small donation :)

[2016-12-15 22:07] #138 closed

[2016-12-15 22:29] TaylorAndrew commented on #138
Thanks Dean!

I will absolutely send over a donation once I, you know, start making
money. I really appreciate the work you've done with this as well as
shinyjs.

On Thu, Dec 15, 2016, 17:07 Dean Attali <notifications@github.com> wrote:

--
Andrew Taylor
Cell PH: 616-238-9994
Work PH: 313-874-7216
Personal email: taylor.andrew.r@gmail.com
HFHS email: ataylor9@hfhs.org
DataViews email: andrew@DataV

[2016-12-16 10:52] jpdeleon opened #139 "resizing html file and rendering ipynb in _posts"
Hi Dean,

I used your Jekyll template and it's awesome. I am completely new to this so I'm sorry for asking very basic question. I wanted to upload .ipynb file into into the _posts folder but it does not render properly. So I opted to upload an .html file instead. However, the page size is off as you can see here:
https://jpdeleon.github.io/2016-12-07-Tutorial_01_Exoplanet_Plots/

I would like it

[2016-12-16 16:29] TaylorAndrew opened #140 "[question] browser tab image"
Sorry to keep bothering you. But I am not seeing where you specified to have the image of yourself be the image that shows up in the browser tab. It isn't the title img or the navigation img. I noticed that it was also your github profile img so I (finally) added an image to my github profile, but that doesn't seem to be it either.

I'm sorry if it's directly in front of me and I'm just missing it

[2016-12-16 16:52] daattali commented on #139
Yes it's possible, you'll just have to play with the CSS a tiny bit.

Here are the steps you'll need to do:

Add a file called `jupyter.css` inside the `css` folder and put the following in it:

[code]

Then in the YAML of the file (between the `---` at the top of the file), add a line: `css: /css/jupyer.css`

[2016-12-16 16:55] daattali commented on #140
The tiny image in the tab is called a favicon. Yes, that's a separate question that isn't related to my theme, it's jekyll in general. I think you just need to place a valid favicon picture named `favicon.ico` in the root folder, and after a few minutes/hours it should show up once the cache clears

[2016-12-17 02:29] jpdeleon commented on #139
Thank you for the detailed instruction. I added the `jupyter.css` file
https://github.com/jpdeleon/jpdeleon.github.io/blob/master/css/jupyter.css

and added `css: /css/jupyer.css` to the YAML, as instructed
https://github.com/jpdeleon/jpdeleon.github.io/blob/master/_posts/2016-12-15-The%20Kill%20List.html

However, the page still doesn't seem to render properly
https://jpdeleon.github.io/
for both

[2016-12-17 08:40] daattali commented on #139
It should work absolutely fine. You misspelled `jupyer.css` --> `jupyter.css`

I just copied your html file into a test repo, it works.

https://github.com/daattalitest/daattalitest.github.io/blob/master/_posts/2016-12-12-jupytertest.html

https://daattalitest.github.io/2016-12-12-jupytertest/

[2016-12-17 08:40] #139 closed

[2016-12-22 00:49] TaylorAndrew opened #142 "[question] specifying a company page on linkedin"
The linkedin link at the bottom of the page defaults to www.linkedin.com/in/NAME. If I have a company page I cannot properly link to it (it will paste as 'www.linkedin.com/in/company/NAME' when I use 'company/NAME' in the config file).

I've been looking through all of the files and I cannot find anywhere where you specify how to get from the linkedin name we provide in the config file to the past

[2016-12-22 00:51] #142 closed

[2016-12-22 00:53] TaylorAndrew commented on #142
Posted it and then thought: I should look to see if there's an old issue related to this. Of course, couldn't think to do that _before_ posting.

[2016-12-25 16:47] daattali opened #146 "Add RSS support in gem"
https://github.com/daattali/beautiful-jekyll/pull/145#issuecomment-269129554

@sasivarnan

[2016-12-25 20:46] daattali commented on #146
gem version 1.1.1 supports RSS with `rss-footer: true`

[2016-12-25 20:46] #146 closed

[2016-12-26 03:35] sasivarnan commented on #146
@daattali. Awesome work. Thanks a lot. 😄

[2016-12-26 03:56] sasivarnan commented on #146
Looks like `Github Pages` supports only the `gem` themes  provided in the following site https://pages.github.com/themes/. 😞

[2016-12-26 03:58] sasivarnan commented on #146
I got this email from `github` when I committed my site with theme changes.

[code]

[2016-12-26 03:59] daattali commented on #146
Yes that is true. If youre using github pages, you should use the regular
master branch, its better to have all the files yourself. I prefer it to
the gem, i only offer it as a gem as an alternative solution
On Dec 25, 2016 10:56 PM, "Sasivarnan R" <notifications@github.com> wrote:

[2017-01-01 15:44] sasivarnan commented on #146
@daattali Using [GitLab pages](https://pages.gitlab.io) for hosting my [website](https://cybeadon.com) which lets us to define our own build process and we can use  custom `jekyll` plugins and `gems`. Building site takes around 4 minutes, still considerable.

[2017-01-07 15:33] shineon82 opened #156 "[Not a issue] Post image in navbar avatar"
If I set a picture in a post (**image:**  in the front matter) it's displayed instead of the default avatar in the navbar.
It's possible to display it below the title of the post and leave the default avatar?

Sorry for my poor english

[2017-01-07 16:53] daattali commented on #156
Currently no. The post image feature was only added a couple weeks ago and
it wasn't my idea it was a user who wanted it, so I didn't spend a ton if
time thinking about it
On Jan 7, 2017 10:33 AM, "shineon82" <notifications@github.com> wrote:

[2017-01-07 18:17] shineon82 commented on #156
Ok, thanks! Well, I hide avatar when set image to post.

[2017-01-07 18:17] #156 closed

[2017-01-24 16:16] b1azk0 opened #162 ""forking" updates (?)"
Hello there,
1st of all, sorry if this question ends up being stupid.

I'm using this theme at my github.io page but I was wondering what should I do (if anything at all) to take advantage of updates made in this original repo?

Clearly I don't fully understand how forking etc works but I also coudn't find any answer.
Thank you and best regards!

[2017-01-25 04:11] daattali commented on #162
Not a silly question at all. I'm actually surprised not more people ask.
Unfortunately I don't have a solution that I personally recommend since I
never have to do it, but it is a common enough question that others have
talked about it. GitHub has an official help page for this topic that might
be useful: https://help.github.com/articles/syncing-a-fork/

But that help page requires you to use git

[2017-01-25 04:11] daattali commented on #162
Not a silly question at all. I'm actually surprised not more people ask.
Unfortunately I don't have a solution that I personally recommend since I
never have to do it, but it is a common enough question that others have
talked about it. GitHub has an official help page for this topic that might
be useful: https://help.github.com/articles/syncing-a-fork/

But that help page requires you to use git

[2017-01-25 08:13] b1azk0 commented on #162
Thanks for the link.
Unfortunately i got stuck at step 2:

![2017-01-25 09_11_10-comparing daattali_master b1azk0_master daattali_beautiful-jekyll](https://cloud.githubusercontent.com/assets/22635132/22282698/6ed0b6ba-e2de-11e6-96fc-49f65f26a087.png)

I'll try original command line method but for some reason I sense same problems.

[2017-01-25 11:00] b1azk0 commented on #162
Ok, I noticed (in screenshot above) that I didnt change bases as per instruction.
Fixed that and tried again. Here is an other error:
![2017-01-25 11_57_55-sync changes in original repo test by b1azk0 pull request 1 b1azk0_b1azk0](https://cloud.githubusercontent.com/assets/22635132/22288104/b9e7f642-e2f5-11e6-85af-cbd8af80db42.png)

[2017-01-25 14:59] daattali commented on #162
Ah looks like this method WOULD work if there were no files that we both touched. But those two specific files have been updated by both of us and githu doesn't know what to do. There might be a way to do a merge from github,  but if not then you would have to reort to command line to fix the merge conflict...

[2017-01-25 15:35] b1azk0 commented on #162
Is there an straightforward way to revert the changes I made to these two files?
While index.html is in my repository, the "first post" md file is gone and has been since day 1 of my blog.
Sorry for taking your time with probably basic stuff

[2017-01-25 15:37] daattali commented on #162
Through the web interface, I don't know how to do that. Git is not as
simple as it should be :(
On Jan 25, 2017 10:35 AM, "Blazej Mroz" <notifications@github.com> wrote:

[2017-01-25 15:39] b1azk0 commented on #162
ok, ill try to follow command line instructions and will report back.
worst case scenario: i can keep my blog md files and start the blog from scratch. After all its only 2 posts long :)

[2017-01-25 15:42] daattali commented on #162
Yes that's actually probably the easiest (but not "correct") solution. With
git I often find myself doing these "burn it all down, start again" approach
On Jan 25, 2017 10:39 AM, "Blazej Mroz" <notifications@github.com> wrote:

[2017-01-25 17:04] #162 closed

[2017-01-25 17:07] daattali commented on #162
By the way, this theme is fairly mature by now and stable, so it's very rare that I'll update any files that you also update locally. In the future it should be a smooth process to sync from github, and also don't expect too frequent future updates

[2017-01-26 12:50] b1azk0 commented on #162
I reforked jekyll from scratch and set it up with old config files.
Now it looks like future updates (coming or not) should be possible.

![2017-01-26 13_48_29-comparing b1azk0_master daattali_master b1azk0_b1azk0 github io](https://cloud.githubusercontent.com/assets/22635132/22331889/31b70c98-e3ce-11e6-87ec-ec813a61c6ad.png)
Regards

[2017-01-26 13:11] martinjhnhadley opened #163 "<div class=container> content extends outside of <div class="container" role="main"> in pages"
Containers within pages extend outside of their row in the <div class="container" role="main">

Example page:

[code]

![image](https://cloud.githubusercontent.com/assets/9363263/22332436/da50dbe6-e3c8-11e6-9e0f-ac711447577f.png)

Rows can be added without containers, but I believe it's best practice to always wrap containers around rows?

I had a quick look into how to fix this myself, but couldn

[2017-01-26 14:48] daattali commented on #163
The templates I made are for the 99% of people who don't know how bootstrap
works and only write in markdown. If you're defining your own bootstrap
layouts (rows/containers) It's better if you either modify the page
template or create a new template or use a layout type that is more flexible
On Jan 26, 2017 8:12 AM, "Martin John Hadley" <notifications@github.com>
wrote:

[2017-01-26 15:26] martinjhnhadley commented on #163
That makes a lot of sense, thanks for reply!
Personally, I'd argue that was sufficient to close this and so am.
Cheers 🍻

[2017-01-26 15:26] #163 closed

[2017-01-31 02:54] AlanBarber opened #166 "bigimg text overlay doesn't scale down properly to below 365px width"
I've noticed that when using the bigimg it doesn't scale down below 365px width. the text overlay drops below the image instead. you can see this on your own personal site if you use chrome tools and select the mobile small (320px) view window.

[2017-01-31 03:09] daattali commented on #166
That was done on purpose. It wasn't like that initially, but on small screens the background was pretty much useless because the text would cover it all, so in order to actually have an image I decided to move the text below it on narrow screens. That's totally a personal design decision I'm not claiming it's right or wrong. But I don't think I'm going to change it in the theme. If you don't want

[2017-01-31 03:09] #166 closed

[2017-02-09 23:25] moreplavec opened #168 "main.css is not up-to-date?"
I'm trying to create Wordpress theme based on your beautiful-jekyll. All looks fine, but there are differences between your blog and github version. For example github version of main.css doesn't contain .paper definitions. Are you going to update github version? Or can I use your blog version of css?

Thanks for your time and good theme!

[2017-02-09 23:29] daattali commented on #168
My personal website has lots of things that aren't in this theme. I forked
beautiful jekyll when I started my website, and since then the two have
diverged. When there's anything that I think would be useful to the general
public, I add it to the theme as well. For example, big images didn't used
to be supported, until enough people told me they want to copy it from my
site. So if there's anything

[2017-02-09 23:32] moreplavec commented on #168
Thanks for info and so quick response.

[2017-02-17 20:43] radaniba opened #170 "bigimg on an old version"
Hello There

I am using a fork since Feb 2016, and I don't think `bigimg` is supported at that time, as I made some changes to the theme myself, I am wondering what are the changes I need to bring to my fork so that I can add support to bigimg

any idea ?

Last commit I have from yours is `abc9e978bf81cc746eb3de55be5896768b9369b0` which is a year ago

[2017-02-17 20:57] #168 closed

[2017-02-17 21:05] daattali commented on #170
You should take a look at this commit entitled "support big images; fix issue 37"

https://github.com/daattali/beautiful-jekyll/commit/e6cb0a4f546d43f2c121970ac181c0d12ab1242c

It'll be a bit of a manual work to go through all those code changes and apply them, but I had to do that myself too so you can do it :) good luck!

[2017-02-17 21:05] #170 closed

[2017-02-21 16:10] willvieira opened #172 "[question] nav-short: true"
Hi Dean, I would like to know how you made your navbar shorter as your "shiny.html" in your personal website. I tried to figure out myself but couldn't find a way.
If it's simple, I think it would be nice to have the "nav-short: true" option available in this template.
Thanks for the share this project!

[2017-02-21 18:33] daattali commented on #172
Looking at the code, I see that I added a CSS class when `nav-short` is true: https://github.com/daattali/daattali.github.io/blob/000afefb20c1d91fb926682b9480efd32c87743c/_includes/nav.html#L1

And it looks like I added the corresponding CSS here https://github.com/daattali/daattali.github.io/blob/b2f6605c58872830b2e24691b382a08f76145d5c/css/main.css#L121

You can try that. I don't remember if I d

[2017-02-21 19:06] willvieira commented on #172
Great, just with these two changes it worked!

However the title still in the same position which makes a big distance between the nav and the title:
<img width="1437" alt="captura de tela 2017-02-21 as 13 57 29" src="https://cloud.githubusercontent.com/assets/20832638/23180016/f133ab3e-f83d-11e6-9c7d-bef5826ecbf2.png">

I saw you added this code in your shiny.html:
[code]
however it didn't work f

[2017-02-21 20:17] daattali commented on #172
the if statement you are talking about is line 1 of nav.html (the first link from my previous comment)

Based on the css code you just showed me, it looks like I hardcoded the whitespace to a specific value only for the shiny page (which is of course a terrible thing to do and I might go to hell for hardcoding it). You'd have to make the spacing work by inspecting the HTML and playing around with

[2017-02-22 17:36] radaniba commented on #170
Thanks Dean, worked just fine

[2017-02-23 23:13] willvieira commented on #172
I finally got to adjust that distance by adding the fallow code after the line 57 of the `header.html`:
[code]
However, this change will apply for all pages with a `layout: page` so I was wondering if we could add an `if` statement like `if nav-short: true` before this?
I guess this is a really simple thing to do but I have no knowledge in coding html.
Anyway, if you know how to do it in simple wa

[2017-02-23 23:25] daattali commented on #172
Glad you got it working. A few other changes will have to be made to support that option. I'm closing this issue, if other people ask for this in the future then I'll take a look at adding it

[2017-02-23 23:25] #172 closed

[2017-02-26 07:34] Redgadget opened #175 "Your theme is listed on jekyll-themes.com"
Your theme has been listed on [https://jekyll-themes.com/](https://jekyll-themes.com/).

[2017-02-26 07:34] #175 closed

[2017-02-27 02:27] gabeguz opened #176 "Footer contact links don't display in text-only browser"
Tested with lynx (and links).  The \<li>'s that contain the github, twitter, etc links in the footer display no information in a text only browser.

Steps to reproduce:

[code]

hit `space bar` until you are at the bottom of the page, and notice there are 4 `*`'s that appear where the contact links should be.

[2017-02-27 05:36] daattali commented on #176
I have to admit I've never used a text only browser, so I had no idea. This issue makes sense to me because I'm using fontawesome icons, so they have no text, and they're not images so there's no alt text. If you have experience with such browsers, do you know what the standard fix for such things is?

[2017-02-27 13:25] gabeguz commented on #176
I see some ideas on the font awesome website.  I'll find one that works well for me and submit a PR.  Thanks.

[2017-02-27 16:53] daattali commented on #176
Thank you!

---
Founder & Lead Consultant
AttaliTech Ltd
http://deanattali.com/shiny

On 27 February 2017 at 08:25, Gabriel Guzman <notifications@github.com>
wrote:

[2017-03-30 14:21] eugenius1 commented on #176
I've just submitted a PR, adding `class="sr-only"` to both the footer and share buttons

[2017-03-30 14:31] eugenius1 opened #190 "Changelog"
I think we need a changelog for this repo. With over one thousand forks(!), it'd be a great way for people to find out about new changes and decide whether or not to pull these to their websites.
Probably a separate file, CHANGELOG.md, or wiki (although I've personally never used this).

[2017-03-30 16:33] daattali commented on #190
That's a great idea, I'll add a changelog file, thanks!

[2017-03-30 16:59] #190 closed

[2017-03-30 17:01] #176 closed

[2017-03-30 18:26] gabeguz commented on #176
Nice, confirmed, works for me!

[2017-04-10 12:50] ahmadihamid opened #195 "[feature request] MathJax support"
Can we have MathJax integrated directly to our theme?

[2017-04-10 14:37] daattali commented on #195
I haven't used MathJax myself before so I'm not sure what's involved. Do
you have an example of how to use it?

---
Dean Attali
President & CEO
AttaliTech Ltd
http://attalitech.com

On 10 April 2017 at 08:50, ahmadihamid <notifications@github.com> wrote:

[2017-04-10 19:48] ahmadihamid commented on #195
http://docs.mathjax.org/en/latest/index.html

[2017-04-10 19:58] ahmadihamid commented on #195
Sorry for the double post but here the example :
https://github.com/mathjax/MathJax/blob/master/test/sample-tex.html

For now I need to write html in my post to render math formula

[2017-04-10 21:32] daattali commented on #195
Is your question about how to use mathjax in general, in any html or jekyll
page? Or do you know how to use it in general and are just having trouble
incorporating it with this theme? I'd love to help with the latter but I'd
need to see what you came up with first :)
On Apr 10, 2017 3:58 PM, "ahmadihamid" <notifications@github.com> wrote:

[2017-04-10 23:00] ahmadihamid commented on #195
Ok, I  know how to use it in general but haven't tried to integrate it to this theme, and I hope you could,
😁

[2017-04-11 03:51] daattali commented on #195
I don't have time to go through the full documentation as I'm busy with many projects, but does it simply need to have the javascript file loaded? If so, then you can use the `js` or `ext-js` YAML parameters on the page that you want https://github.com/daattali/beautiful-jekyll#yaml-front-matter-parameters

Simply pass in the URL for the mathjax javascript library

[2017-04-11 04:45] ahmadihamid commented on #195
Wow! It just works, thanks.

[2017-04-11 04:45] #195 closed

[2017-04-19 19:11] MatthewClarkMay opened #197 "Tags"
I set link-tags: true in _config.yml and then locally ran jekyll build to build the site. I then moved the _tags directory up into my site repo and pushed it to my <username>.github.io repo so Pages will build it. The links all work, but for some reason it doesn't inherit the css/js from my templates. Any thoughts?

[2017-04-20 05:42] daattali commented on #197
Sorry, I don't know why it isn't working for you. Usually if the css/js aren't showing it means that page isn't using the template, but that would also mean that the header and footer are not included. I personally do not do any local development, only from github, sorry!

[2017-04-20 05:42] #197 closed

[2017-04-21 06:15] fiezt opened #198 "avatar covers menu"
When the window is scaled to only be half of a screen I have an issue where the avatar covers the menu. If I make the window less wide the menu will eventually collapse so it is not covered by the menu. How can I prevent this issue? I attached a photo of the problem.
![screen shot 2017-04-20 at 11 11 15 pm](https://cloud.githubusercontent.com/assets/22989351/25264960/28dddfb4-261f-11e7-9f2f-8715dd

[2017-04-21 06:40] daattali commented on #198
Unfortunately that's an issue  that happens and is going to be extremely difficult to fix because it's impossible to account for all cases (all screen sizes and all menu lengths). It depends on how many menu items you have, how long they are, and how side the screen is. My only "solution" is to try to limit the menu items to only a few (you can use submenus) and to make them short ("undergraduate

[2017-04-21 06:40] #198 closed

[2017-04-21 06:48] fiezt commented on #198
Thanks for the reply and the great theme. Is there not a way to force the menu to collapse once the menu gets to be within a margin of the avatar though?

[2017-04-21 06:51] daattali commented on #198
No, there isn't. The menu collapsing is a feature of bootstrap (
http://getbootstrap.com/css/) and that determines at what screen width it
collapses. You can try your luck at tinkering with the CSS yourself if you
know how to and you have the willpower to do so, but it isn't going to be
fun :)

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

On 21 Apri

[2017-04-21 06:58] fiezt commented on #198
Okay that makes sense. What about moving the menu above the avatar? I am guessing that is not a quick fix though.

[2017-04-21 07:02] daattali commented on #198
Do you mean making the menu talle permanently, or moving the avatar down permanently? Both of these are possible to do, but again require CSS. Moving the avatar down probably is fairly easy to do (I haven't looked at that code in a couple years so I'm only guessing!)

[2017-04-21 07:05] fiezt commented on #198
Yeah either would be decent solutions in my opinion. I think that moving the avatar to be below the menu would likely be the best solution to the problem.

[2017-04-21 07:11] daattali commented on #198
OK, you still do need to know CSS for that - if you do then I can point you
in the right direction of where to look but not if css is foreign to you

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

On 21 April 2017 at 03:05, Tanner Fiez <notifications@github.com> wrote:

[2017-04-21 19:46] fiezt commented on #198
I don't know a lot about it. I program though, so I think I could pick it up. If you could point me in the right direction that would be awesome, I think I will have to use a different them if I cannot fix that issue.

[2017-04-21 22:01] daattali commented on #198
It's possible that it's as easy as finding the position property of the avatar in `css/main.css`. Maybe try changing [this line](https://github.com/daattali/beautiful-jekyll/blob/master/css/main.css#L192) to 0 or some other value between -50 to 0

[2017-05-02 01:40] jpuck opened #201 "Featured users not mobile friendly"
Table currently needs to be horizontally scrolled to view content. This should be mobile responsive and collapse into row groups for better user experience IMO

 Great looking template, thanks!

[2017-05-02 05:23] daattali commented on #201
Thanks @jpuck , you're right, that page really is terrible experience on mobile! I'm not an expert on responsive design, do you know of an easy solution for this?

[2017-05-07 06:54] hdi-hvd opened #203 "It's not work"
I was followed your guide and got 404 page. What's wrong with my _config.yml ? Please help me. Thanks a lot.
https://github.com/hdi-hvd/duyhuynh.github.io/blob/master/_config.yml

[2017-05-07 07:22] daattali commented on #203
I don't know if you have any problems with your config file, but one thing that is definitely making it not work is the fact that you didn't name your project `hdi-hvd.github.io`

Please try to follow the steps exactly as outlined [here](https://github.com/daattali/beautiful-jekyll#build-your-website-in-3-steps)

[2017-05-07 07:22] #203 closed

[2017-05-07 09:05] hdi-hvd commented on #203
thank you, it's work. =))

[2017-05-24 10:38] JoGall opened #207 "Navbar partially obscures linked sections"
Just a small but annoying issue: when linking to the same document using anchor tags, the navbar obscures the top of the linked section.

e.g. in this raw markdown, clicking on footer takes you to 'Footer text', but the actual heading 'Footer' is obscured:

[code]

Here's a real example on [my website](https://jogall.github.io/2017-05-24-final-gameweek-extravaganzas/#footnote-1).

-----

I tried w

[2017-05-24 15:09] daattali commented on #207
You're the guy who posted on reddit :D

This is actually a very common issue with HTML - it's not specific to my theme or to jekyll, it's just one of those annoying that things most websites have to deal with (you'll see a lot of websites that have a similar issue if the top navbar is sticky). If you Google for something like "anchor links fixed header" or "sticky navbar covers content" you'll fin

[2017-05-25 15:44] aquynh commented on #201
yes see the same issue here. i am wondering why "Getting Started" page is OK (no need horizontal scrolled), but "Featured Users"  has problem???

[2017-05-25 22:45] daattali commented on #201
Getting Started page has no tables. This problem is the result of the table on the Featured page.

[2017-05-28 17:10] aquynh opened #208 "image of YAML front matter"
i use "image" parameter for my posts, but there is one issue: the picture is automatically cropped, that in the way i dont really want.

is there any way to control how the picture is cropped, on the size of the picture in the post excerpt, and the size inside the post? if not, what is the recommended size of the original picture?

thanks.

[2017-05-28 17:25] daattali commented on #208
It's impossible to have a perfect picture because each screen will display
it differently. I think the browser tries to place the picture centered.
Try making the browser smaller and slowly increase the window width, you'll
see they the image keeps changing. Because of that it's impossible to find
one perfect size that will work always, you just have to experiment and  see
On May 28, 2017 1:10 PM,

[2017-05-29 06:07] #208 closed

[2017-05-29 06:13] daattali commented on #207
I'm closing this issue

If you tried gong through my repo for a while and still couldn't find the answer, let me know and I'll try to find it

[2017-05-29 06:13] #207 closed

[2017-05-29 13:20] aquynh commented on #208
i see. then another questions: is it possible to have an option to tell Jekyll to keep the image as is (ie. dont crop it), but just scale it up/down to xx%?

[2017-05-29 15:27] daattali commented on #208
You can probably play around with the CSS to change exactly how the image is rendered. For example look at https://github.com/daattali/beautiful-jekyll/blob/master/css/main.css#L427 if you remove the `center center` then the image won't be centered.

[2017-05-30 09:43] JoGall commented on #207
Ahh this is actually the expected behaviour then I guess; glad it's such a ubiquitous problem as that means scores of Stack Overflow answers!

If anyone else comes across this problem, I followed [this answer](https://stackoverflow.com/a/13138463/3730796) by adding this code to the `main.css` file:

[code]
And using a span tag in the raw markdown document, e.g.:
[code]
Not sure if this is perfect

[2017-05-30 09:44] JoGall commented on #207
Also, which Reddit post do you mean? :B

[2017-05-30 15:07] daattali commented on #207
You posted something about soccer either in /r/soccer or in /r/rstats last week

[2017-05-31 09:56] JoGall commented on #207
Ahh it looks like someone else shared my blog post on /r/soccer :) seeing my face as the image for the link made me realise I need to add a `share-img` to the YAML header to stop seeing my ugly mug attached to posts in future!

[2017-06-01 07:27] mching commented on #195
If you use a lot of math notation, it might also work to include the script from the [MathJax documentation](http://docs.mathjax.org/en/latest/start.html) in the _includes/head.html file. It's not as elegant or efficient as the solution above but it does make it automatic for every page.

[code]

[2017-06-01 07:34] daattali commented on #195
@mching you can also set `ext-js` YAML parameter in the layout file if you want it to be automatic

[2017-06-06 15:44] saifkabirasif opened #210 "Social Share and Footer Link not working"
Hi,

Thanks for the nice theme. I'm having issues with social share. Although, I kept social-share true for facebook, twitter, linkedin etc, they are not appearing. In the footer also, though Github and Email links are working, facebook is not coming although I enabled it.

Need your help in this regard.

[2017-06-06 15:48] daattali commented on #210
You need to set those values in the _config.yml file in order for them to appear in the footer

[2017-06-07 04:24] saifkabirasif commented on #210
Hi Dean,
Thanks for the quick response.
I've already done that but social media share was not appearing. After some tinkering, I found that uBlock Origin add-on is blocking social media sharing specifically Facebook and Twitter. After turning that off, the all social media sharing appeared.

Hope this helps others who have uBlock Origin also.

Again thanks for the tremendous job you are doing for

[2017-06-07 04:24] #210 closed

[2017-06-07 04:33] daattali commented on #210
Ah that's annoying, good to know , thanks!
On Jun 7, 2017 12:24 AM, "saifkabirasif" <notifications@github.com> wrote:

[2017-06-13 04:27] KimTrijnh opened #213 "Layout not rendered correctly"
Hi,
please have a look at my page https://kimtrijnh.github.io/blog/, after forking with no changing, the page looks just plain html.
Thanks

[2017-06-13 05:21] daattali commented on #213
Hi Kim, in order for my theme to work out of the box, your blog needs to be hosted at <yourname>.github.io
I see you added "/blog/" to it, which means it's now a project page, not a user page. Read the README and look at the config file for settings for project pages

[2017-06-13 05:21] #213 closed

[2017-06-13 07:36] KimTrijnh commented on #213
Thanks for your response. But I guess it is not the case. I don't know why forking didn't work out for me, even I used the user.github.io as in https://kimtrijnh.github.io/. I then investigated the page and found some error relating to the links to css files (shown in the img)
![image](https://user-images.githubusercontent.com/26478993/27070992-c67a4598-504d-11e7-9f40-177d21a6aa9e.png)

So, I clon

[2017-06-13 07:42] daattali commented on #213
I just tried forking the repo with a different account. All I did was change the repo name to "<user>.github.io" and it works. https://daattalitest.github.io/

I'm not sure what's going on with yours, sorry!

[2017-06-13 08:33] artemsheludko opened #214 "Your theme is listed in jekyllthemes.ru"
Your theme has been listed on http://jekyllthemes.ru/

[2017-06-13 08:33] #214 closed

[2017-06-13 15:20] daattali commented on #214
Spacibo!
On Jun 13, 2017 5:23 AM, "Artem Sheludko" <notifications@github.com> wrote:

[2017-06-17 02:44] supersam654 opened #215 "Copyright in footer is missing fallbacks for Open Sans font."
In `css/main.css`, "Open Sans" is used in several places with several fallbacks:

     font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

However, one CSS selector is missing the fallbacks and should probably have them:

[code]

See https://github.com/daattali/beautiful-jekyll/blob/master/css/main.css#L275 for the exact spot.

[2017-06-17 03:01] daattali commented on #215
Good find! Would you mind submitting a pull request?

Did you notice this because you saw the font broken on a browser?

[2017-06-17 11:45] supersam654 commented on #215
Just added a (tiny) PR for it.

I actually found it in a very roundabout way. I'm using [beautifulhugo](https://github.com/halogenica/beautifulhugo) which is a port of beautiful-jekyll in Hugo. I was pulling out the web fonts because I felt like it and noticed that the copyright in the footer looked really ugly but everything else just looked a little different. I did a little digging and found th

[2017-06-17 16:20] #215 closed

[2017-06-17 16:22] daattali commented on #215
Interesting, I didn't even know there's a hugo theme based on mine!

Thanks for the PR

[2017-06-27 13:28] JosemyDuarte opened #219 "Twitter card not working properly"
Even when I define the share-img property for a post, when I share the post on Twitter it show my avatar, not the share-img. I checked the html <head> of the post and it seems OK.

[2017-06-27 14:38] daattali commented on #219
I'm traveling for the next few weeks and will not be able to look at this.
I'll try to take a look when I can, thanks!

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

On 27 June 2017 at 09:28, Josemy Duarte <notifications@github.com> wrote:

[2017-06-30 19:33] JosemyDuarte commented on #219
I took some time trying to solve the issue. Seems to be a "problem" from Twitter. Reference: https://dev.twitter.com/cards/troubleshooting#refreshing

I don't know if adding the commit hash to the image URL could be a workaround.

PD: Thanks for the theme!

[2017-06-30 21:27] daattali commented on #219
Thanks for taking a look. I didn't know there were old and new versions. If
you figure it out,  feel free to submit a PR!
On Jun 30, 2017 22:33, "Josemy Duarte" <notifications@github.com> wrote:

[2017-07-11 10:54] OCram85 opened #221 "Recommendation for bigimg size?"
Hi folks,
do you have any recommendations for the feature images (bigimg) size?

I would like to use the `bigimg` pictures for my posts, but I can't work out a useful height or width standard :cry:

[2017-07-11 11:23] daattali commented on #221
There isn't a one size fits all solution to this, because every person will view your site on a different browser with different dimensions. Some browsers will have very wide aspect ratio, some will be narrower, some will be vertical (such as phones), different phones have different screens, etc. The image will always be centered, so the only tip I can give is that you should make sure the importa

[2017-07-11 11:23] #221 closed

[2017-07-11 11:32] OCram85 commented on #221
Thank you  for the quick reply!

[2017-07-13 00:21] apryor6 opened #222 "Possible for code scrolling?"
Currently, code blocks wrap around instead of creating a scroll bar. This can sometimes make it difficult to read. Is there any way to enable horizontal scrolling in code blocks?

[2017-07-14 21:20] daattali commented on #222
Can you clarify and show an example of what you mean?

Code blocks currently **do** result in a horizontal scrollbar when they're too long. I just looked at your website and it does use horizontal scrollbars:

![image](https://user-images.githubusercontent.com/952340/28231294-05e5bb58-68eb-11e7-9a2b-ddb30f073ee9.png)

[2017-07-14 21:24] apryor6 commented on #222
Ah, it's the browser. In Safari (9.1.2) it doesn't scroll, but in Chrome it does. I thought that was strange because I saw a previous issue where you had updated the CSS for `white-space`. I'm closing the issue. Thanks

[2017-07-14 21:24] #222 closed

[2017-07-16 23:18] mudspringhiker opened #224 "Image link in index.html does not seem work for me"
In the post-entry-container, {{ post.image }} does not generate the correct link to the png file.
[code]
Not sure how to correct this. Everything works fine--linking to post, etc, except for the image in the tag. I will momentarily remove this part of the index.html in my cloned repo. It looks like the demo does not have it, but the version in the repo includes this. Thank you very much! The theme

[2017-07-16 23:27] mudspringhiker commented on #224
Nevermind, I think I know why that's happening! Thanks!

[2017-07-16 23:27] #224 closed

[2017-07-18 16:04] facelesspanda commented on #43
Thanks, but since there's no real documentation on the config specs it's hard to know how to format a nested list.

Here's the default menu you gave, that works:
[code]

Here's two attempts at nested menus that don't work:
[code]
[code]
both create a single link under the `Cthulhu` menu, with weird text and urls.

knowing that `About Me: "aboutme"` links properly to the `aboutme.md` file, I though

[2017-07-18 18:16] facelesspanda commented on #43
Maybe I misunderstood and interpreted "multi-level" as "2 and more levels", where you implemented only 1 level of dropdown menus.

[2017-07-18 23:38] daattali commented on #43
Only 2 levels are supported (menu item with submenu items)

[2017-08-09 12:02] tuhocdeeplearning opened #230 "shake"
![shake](https://user-images.githubusercontent.com/30632486/29120605-fe6c2afa-7d45-11e7-8b44-06f1a013394c.gif)

[2017-08-09 12:50] tuhocdeeplearning opened #231 "a3"
<img width="811" alt="screen-shot-2017-03-13-at-6 05 43-pm" src="https://user-images.githubusercontent.com/30632486/29122283-b7c85590-7d4c-11e7-857a-57338b334f35.png">

[2017-08-09 13:02] #230 closed

[2017-08-09 13:02] #231 closed

[2017-08-09 15:10] tuhocdeeplearning opened #232 "a5"
![a3](https://user-images.githubusercontent.com/30632486/29128937-457c1256-7d60-11e7-913e-c0f6fca767a1.jpg)

[2017-08-09 15:12] #232 closed

[2017-08-10 16:29] TheRealBenForce opened #233 "Need more social buttons"
Great work here @daattali ! Would you be open to a pull request providing a few more buttons? Is there, any particular order you arranged them in that I should continue to adhere to?

[2017-08-10 17:26] daattali commented on #233
Thank you for the initiative. Which buttons would you like to add?
On Aug 10, 2017 12:29 PM, "theRealBenForce" <notifications@github.com>
wrote:

[2017-08-10 17:47] TheRealBenForce commented on #233
Steam and Twitch..

[2017-08-10 17:49] daattali commented on #233
Yeah those are common enough nowadays, just make sure to follow examples of
previous people adding icons (edit the config file as well)
On Aug 10, 2017 1:47 PM, "theRealBenForce" <notifications@github.com> wrote:

[2017-08-10 17:58] TheRealBenForce commented on #233
Oops, I forgot Yelp also. Cool?

[2017-08-10 18:12] daattali commented on #233
Yep!
On Aug 10, 2017 1:58 PM, "theRealBenForce" <notifications@github.com> wrote:

[2017-08-18 18:18] daattali commented on #233
@TheRealBenForce are you planning on adding these?

[2017-08-18 18:22] daattali commented on #233
sorry it's already done, I forgot!

[2017-08-18 18:22] #233 closed

[2017-08-27 08:59] sumitgpt opened #237 "beautiful-jekyll gem supported by GitHub pages"
When using beautiful-jekyll-theme as a gem one has to add "theme: beautiful-jekyll-theme" in _config.yml
This results in an error from GitHub. Below is the error which is emailed by GitHub when using this theme in GitHub pages.

Can support of this theme be added to GitHub pages?

[2017-08-27 16:19] daattali commented on #237
Github page only supports very few themes, listed here https://pages.github.com/themes/

I've had many people ask me about this so maybe I'll ask github if my theme can also be added at some point

[2017-08-27 16:43] sumitgpt commented on #237
Thank you,
I hope they do add your theme to the list. I've to maintain branches to make it work on GitHub pages, it's a pain.

Also, can you let this issue be open and update the progress here?

[2017-08-27 18:30] daattali commented on #237
Sure, I doubt github will support it because there are only ~10 supported
themes, but we'll keep it open. Perhaps if over time more people find this
issue and upvote, it might be possible. Thanks for opening the issue!

On Aug 27, 2017 10:43 AM, "Sumit Gupta" <notifications@github.com> wrote:

[2017-08-28 12:33] OCram85 opened #238 "Optional card layout post archive by categories"
It really would be nice to the ability to highlight posts in a given category like this:
![Card collection example](https://i.imgur.com/f0qSxx3.png)

One approach would be:
- adding a new layout called `cards`.
  - based on [material design](https://material.io/guidelines/components/cards.html#) or even better with [bootstrap 4](https://v4-alpha.getbootstrap.com/components/card/#card-layout).
- Ad

[2017-08-28 23:40] ohadschn commented on #237
While this isn't supported directly using GitHub's engine, it can be achieved by executing the Jekyll build yourself (e.g. [using Travis CI](https://4brunu.github.io/blog/2017/01/29/using-jekyll-gem-based-themes-on-github-pages)).

Another option is using Git**Lab** pages, just fork this and you should be able to use any gem-based theme: https://gitlab.com/pages/jekyll. For example here's mine, us

[2017-08-29 06:22] daattali commented on #237
Toda Ohad, I wasn't aware of the Travis solution, good to know.

The gem is indeed a bit old, I'll update it when I get a chance :)

[2017-08-31 03:25] rccordell opened #241 "Change default page?"
I love the look and functionality of your theme and have been working to adapt it for a team project page at [oceanicexchanges.github.io](oceanicexchanges.github.io). We will likely do some blogging as part of the project, but that won't be our focus. I could create a different `index.html` file but that would kill the (very nice) blogging page. Is there another way to set a different page as the

[2017-08-31 05:39] daattali commented on #241
It is possible to do that, I've done it a few times in the past but I forget the exact steps, I always have to look it up. The full documentation for jekyll is at http://jekyllrb.com/docs/home/

I think it involves changing a setting in the config file to tell jekyll what page to serve the feed from.

You can look at https://github.com/reconhub/reconhub.github.io as an example website where I've d

[2017-08-31 05:40] #241 closed

[2017-08-31 06:53] daattali commented on #238
Do you have a live example of how you imagine a common usecase? Bootstrap cards are awesome, I just don't follow where you're suggesting them to be used exactly

[2017-08-31 08:26] OCram85 commented on #238
Well, I try to explain it:
I'm searching for a way to separate and highlight specific posts on a feature page. And I don't want do mess with the default pagination page or design. So I thought about finding a way to easily generate a feature page. The easiest way would be to use categories, because you don't use them in this template yet. Another would be to use tags or by adding them with custom

[2017-08-31 08:30] OCram85 commented on #238
I've already tried some cards layout but I'm not a css or bootstrap expert. I don't get it right ^^
I got stuck displaying multiple cars in one coloumn :cry:

[2017-09-01 02:38] daattali commented on #238
Did you see this section in the Readme?

It's not exactly what you describe because it's automatic and can only be used when building the site with jekyll locally. Would that be a good enough basis for what you need?

[2017-09-02 22:38] daattalitest commented on #201
To make it clear: the problem is that the Features users page http://deanattali.com/beautiful-jekyll/featured-users/ looks bad on mobile because the table is too wide and causes the page to be very wide. I'm not sure what the correct solution to that is, but I welcome any ideas.

[2017-09-02 22:38] daattali commented on #201
To make it clear: the problem is that the Features users page http://deanattali.com/beautiful-jekyll/featured-users/ looks bad on mobile because the table is too wide and causes the page to be very wide. I'm not sure what the correct solution to that is, but I welcome any ideas.

[2017-09-02 22:40] daattali commented on #219
I'm closing this issue since it looks like the problem does go away eventually (quote from the documentation: "Our web crawlers re-index the Card tag information on your page roughly every week")

[2017-09-02 22:40] #219 closed

[2017-09-03 00:15] aurora-mareviv commented on #201
I haven't looked much into it, but that's what I tried:
- I [copied](https://aurora-mareviv.github.io/test/) your table, added a default bootstrap css from a CDN, added the `.table` class to the `<table>` tags, and it was responsive.
- In your [page](http://deanattali.com/beautiful-jekyll/featured-users/) you have two linked stylesheets. One of them ([this](http://deanattali.com/beautiful-jekyll/c

[2017-09-03 02:29] daattali commented on #201
Thanks @aurora-mareviv

I'm not sure if that fixes anything though--try changing the font size to 16px and make the page width very small, and you'd still get a horizontal scrollbar for the page just like I have now. Or do you not get the same behaviour?

![image](https://user-images.githubusercontent.com/952340/30000111-14e238b0-9015-11e7-986b-98e79ef84b87.png)

[2017-09-03 08:52] aurora-mareviv commented on #201
Probably a bad idea; but I wrapped each `<table>` in a `<div class="table-responsive">`: it fixed the page width for the small viewport, and the tables are horizontally scrollable without altering the rest of the page.
https://aurora-mareviv.github.io/test/.

[2017-09-03 18:31] daattali commented on #201
That does seem to work! Do you know if there's an easy way to incorporate that into the markdown version of the page? I can't simply wrap the markdown table in a `<div>` because then the markdown won't get parsed correctly--do you know how to do it without rewriting the table as HTML?

[2017-09-03 20:47] aurora-mareviv commented on #201
I don't know about Jekyll (I am only starting with Hugo), but if Beautiful-Jekyll has the **kramdown** markdown parser, this could [work](http://digitaldrummerj.me/styling-jekyll-markdown/).

Kramdown seems to support additional styles for `<div>` elements, wrapping the style in curly braces (must be placed right before or right after the `<div>`, no blank lines between them).

You could also add

[2017-09-04 00:50] daattali commented on #201
The `{:` syntax to add an attribute I'm familiar with, but unfortunately adding that class to the `<table>` tag doesn't have the desired effect. I need to wrap the table in a `<div class="table-responsive">` as you said, and I don't know if it's possible to wrap a markdown table in such a div. I'll keep looking. Thanks for the discussion

[2017-09-04 01:03] daattali commented on #201
Solved - by adding `display: block;` to the table's CSS after adding `table-responsive` to its class.

[2017-09-04 01:03] #201 closed

[2017-09-04 01:04] daattali opened #243 "release new gem version"
as mentioned in #237

[2017-09-04 03:04] aurora-mareviv commented on #201
Great!

[2017-09-04 03:05] daattalitest commented on #201
Thanks for the help

On Sep 3, 2017 20:04, "aurora-mareviv" <notifications@github.com> wrote:

[2017-09-06 17:43] daattali commented on #243
I've decided to stop supporting the Ruby gem because it has too many issues. It requires a lot more work from the user than simply cloning/forking the git repo, it requires a lot more work from me to maintain two branches with similar features, and it's less flexible and harder to use. There are also issues, for example the default jekyll site built with `jekyll new` has an aboutme page that searc

[2017-09-06 17:45] daattali commented on #237
as mentioned in #243, I've decided to stop supporting the gem for now (it's a lot more work for everyone while being less flexible and has some other issues). If it can ever become a supported github pages gem, then it would be worth continuing supporting it because it would remove all the issues it currently has and will be easy to use again.

[2017-09-07 18:16] OCram85 opened #244 "[Question] Do you have any plans upgrading to Bootstrap 4?"
I was just wondering if you have any plans to upgrade to Bootstrap 4 some day.

[2017-09-07 18:43] daattali commented on #244
This was not a pressing issue for me, I had no plans to migrate until it becomes the common standard for most websites. I'd rather wait a bit longer, they removed support for older browsers and I'd rather be conservative and not break anything rather than change early. Are there any strong reasons for me to make the upgrade sooner?

[2017-09-08 06:30] OCram85 commented on #244
Well, I was working on some card designs like discussed in #238.
But it didn't work out. So I thought it maybe could be easier building it with bootstrap 4.

[2017-09-08 13:40] daattali commented on #244
Right, cards are indeed one of the biggest changes from a user's perspective so for your specific case it would help. I don't think at this point I'm ready to migrate yet, but I wouldn't get offended if you import bootstrap 4 instead of 3 in your fork since you need it :)

[2017-09-08 13:52] OCram85 commented on #244
You're right. I've already thought about this. But I really would like to use your well approved standards. :)

[2017-09-08 13:56] daattali commented on #244
I have very different standards when it comes to my own thing that nobody
sees vs a repo that thousands of people use. In my own personal website,
which is a fork of this theme, I do things that I wouldn't want to put
inside the theme, because I try to keep it very conservative and clean and
simple. But if I needed cards on my site, I would without hesitation do the
switch, because it would only a

[2017-09-11 13:30] sipart opened #245 "[Question] How do I change the amount of posts on the home page?"
Sorry for what might be a simple question but how do I extend the amount of posts on the home page - I would like to have 10 instead of 5 :-)

Thanks for getting me hooked on creating a github page and posting - really appreciate how easy it was.

Cheers

https://sipart.github.io/

[2017-09-11 16:40] daattali commented on #245
In the _config.yml file, look for the line `paginate: 5` and change it to 10

[2017-09-11 16:40] #245 closed

[2017-09-11 20:44] sipart commented on #245
## Cheers

[2017-09-12 01:09] cjsommer opened #246 "Is it possible to have online drafts?"
I cannot run Jekyll locally and it would be helpful for me if I could preview my drafts on my github page before I release them to the public. Through a hidden link or something like that. I have tried using tips and tricks found https://github.com/barryclark/jekyll-now/issues/65 but have had no success.

Was wondering if this has been brought up before or maybe someone has already done this for b

[2017-09-12 01:58] daattali commented on #246
It's not really a generally supported feature of jekyll to be able to preview drafts. I haven't read Barry's solution, so I'm not sure if it's very specific to his theme only or if it's applicable to any jekyll theme. But what I usually do before publishing a post, to view it for formatting and proof reading, is I create it in a random page, for example `test.md` and then I go to `mysite.github.io

[2017-09-12 08:09] ohadschn commented on #243
Note that gem-based themes are the [recommended Jekyll theme type](https://jekyllrb.com/docs/themes/). They might lack built-in GH pages support, but making them work [shouldn't be too much of an issue](https://4brunu.github.io/blog/2017/01/29/using-jekyll-gem-based-themes-on-github-pages). In addition, gem-based themes are actually supported out of the box on [GitLab pages](https://gitlab.com/oha

[2017-09-12 08:29] daattali commented on #243
Every change that happens to the main branch needs to be merged into here.

You bring up good points, but I simply don't know enough ruby and jekyll to deal with this on my free time. I only made the gem initially because I wanted to experiment with it for fun, and I'm happy there is a version for it, but it's not something I can afford to maintain (at least until I decide to invest a bit more tim

[2017-09-12 13:31] ohadschn commented on #243
Hey, that's fair enough. I don't think `jekyll new` is much of a factor though as most people could just start off by forking your repo (or some blank sample repo like https://gitlab.com/pages/jekyll and copy  `index.html` and `_config.yml`).

Regarding a separate branch, I'm still not sure why you'd keep a separate branch for the gem. Why not keep the gemspec on `master`? Anyway, if you ever deci

[2017-09-12 20:42] daattali commented on #243
Ohad, thanks for your discussion, I'll reopen this. I may be wrong about this, but I do think 2 branches are necessary since they don't contain identical code. The master branch is specifically tailored for github pages, and the gem branch has a different structure, different readme, and slightly different files. But again, my knowledge of gems is extremely limited so maybe there is a better way t

[2017-09-12 22:04] yonicd opened #248 "rss filtered by tag"
how do i change the rss script to have it filter a tag like `R` (for tal's site)?

[2017-09-12 22:07] ohadschn commented on #243
Sure thing Dean, thanks for listening. I am far from a gem expert myself but I do believe Minimal Mistakes only has a master branch and his theme is both GH-page ready and gem-enabled. You can take a look at his [gemspec](https://github.com/mmistakes/minimal-mistakes/blob/master/minimal-mistakes-jekyll.gemspec), maybe it'll give you some ideas. He is also extremely responsive and helpful, you coul

[2017-09-12 22:15] daattali commented on #243
Yep he does indeed have just one branch. I chose to use a different branch so that I wouldn't have to change the file structure (moving all the assets into `assets/`) and so that the README would be specific for github users on master, and to ruby gem users on the gem version. Maybe it's not worth the hassle of keeping them separate only for that though :)

[2017-09-12 22:21] daattali commented on #248
I had to create a separate rss feed for that
https://github.com/daattali/daattali.github.io/blob/master/r-bloggers-feed.xml

On Sep 12, 2017 18:04, "yonicd" <notifications@github.com> wrote:

[2017-09-12 22:25] ohadschn commented on #243
IMHO, Definitely not worth the hassle :)

BTW, personally I would recommend everyone to use Git**Lab** pages with out of the box support for gem-based themes - it works great!

[2017-09-12 22:31] daattali commented on #243
Perhaps. I'm currently still a github fanboy. And this theme was created
with the intent of being focused on people who want to create github pages,
that's still how I try to keep it. I might reconsider later. You've done
enough convincing for today, maybe try again tomorrow :) layla tov

On Sep 12, 2017 18:25, "Ohad Schneider" <notifications@github.com> wrote:

[2017-09-12 22:36] yonicd commented on #248
Got it. Thanks

[2017-09-12 22:36] #248 closed

[2017-09-13 13:06] marste opened #249 "Problem con image: and bigimg:"
If I put the internet link of an image, it only works if the link is in https.
If I put a link in http, this link does not work as it compiles the path with http: // my_domain + linkimage

[2017-09-13 19:48] daattali commented on #249
I'm seeing something a bit different.

I just tested it out, and in `image` both http and https work.

In `bigimg`, http works but https doesn't (that's the opposite of what you report). I see the problem in the HTML source code: one `/` from the URL gets truncated, so the URLs end up as `http:/` or `https:/` instead of `//`. Apparently for http that's ok but for https it's not! Will have to look

[2017-09-13 20:21] daattali commented on #249
I found the problem. It's because in some places I explicitly replace `//` with `/` because the image URLs do not expect to receive absolute URLs, they were originally intended to only take in relative paths (I made a bad assumption that images you use are stored locally).

This does need to be fixed, but this also showed me another bug: `image` on the feed page doesn't append `site.baseurl`, so i

[2017-09-14 07:45] marste commented on #249
Thank you Daattali!
However, I am confident that the problem occurs with url http: // and not https: //
Also look at this example:
[http://marzorati.co/install-tftp-atftp-server-ubuntu-linux/](http://marzorati.co/install-tftp-atftp-server-ubuntu-linux/)
with image:
[https://i.stack.imgur.com/tjSgV.jpg
](https://i.stack.imgur.com/tjSgV.jpg
)
If I put an url with http: //
The path to the image will

[2017-09-14 08:23] marste commented on #249
Here is the example of an image: it does not work.
[http://marzorati.co/led-wifi-notebook-blink-debian/](http://marzorati.co/led-wifi-notebook-blink-debian/)
The link of image is: [http://www.capalbio.it/images/wifi.png](http://www.capalbio.it/images/wifi.png)

Many thanks!

[2017-09-14 09:17] marste commented on #249
Solved.
Change from file nav.html
<img class="avatar-img" src="{{ site.avatar | prepend: site.baseurl | replace: '//', '/' }}" />
to:
<img class="avatar-img" src="{{ site.avatar }}" />
and:
<img class="avatar-img" src="{{ page.image | prepend: site.baseurl | replace: '//', '/' }}" />
to:
<img class="avatar-img" src="{{ page.image }}" />

[2017-09-14 14:34] daattali commented on #249
Yep that would solve it for your case. As I said, I need to work on consolidating the URLs so that they would work for both absolute and relative paths but for your version you can just change it

[2017-09-14 23:18] cjsommer commented on #246
My problem is I have RSS feeds that automatically get posted to Slack once my post goes in the _posts folder and I push it to Github. Thankfully VS Code's markdown features and plugins give me a pretty good view of ow my post ill look before I push to Github, I just thought Barry's solution was pretty slick.

I fiddled around with it for a while but couldn't get it to work like he did. I was able

[2017-09-14 23:35] daattali commented on #246
I'm sorry I don't think I'll have time to look at Barry's source code to see what he does with drafts. But I think what I suggested--simply placing the content in a file that is not under _posts--should work too

[2017-09-18 11:37] yonicd opened #251 "staging area for post"
what is the best way to preview a post on the blog without it being public? (sorry if newbie question)

[2017-09-18 12:57] marste commented on #251
Copy and paste your code here: [http://prose.io/](http://prose.io/)

[2017-09-18 13:22] yonicd commented on #251
thank you, but that i can do w/in github by going to the file itself. I meant to see the post fully rendered in something like a preview area, and when it is ready make it public.

[2017-09-18 13:25] yonicd commented on #251
i guess it would be something similar to `blogdown::serve_site`, but that seems hardcoded for only bolgdown projects

[2017-09-18 15:23] daattali commented on #251
If you want to make something truly private for the preview, that can only
be done if you install jekyll locally on a unix box. But this theme is
focused on being used directly from github and being fully online so I
personally don't do that. When I want to preview a page before publishing
it, I create it in a temporary page instead of placing it inside the _posts
folder. For example I ofyrn creat

[2017-09-18 16:10] yonicd commented on #251
got it. thanks!

[2017-09-18 16:10] #251 closed

[2017-09-19 10:53] galactose opened #252 "enableemoji configuration variable"
Hi, in my root configuration `config.toml` I've set the variable `enableEmoji = true` and have set :wave: in one of the page files. Running `hugo serve` and checking my browser I just see the literal `:wave:` instead of :wave:, does beautifulhugo support emojis and if not is this on the horizon?

[2017-09-19 11:16] #252 closed

[2017-09-20 06:11] daattali commented on #246
@cjsommer is that solution sufficient for you?

[2017-09-20 06:12] daattali commented on #244
Closing because I'm fairly set on not upgrading at the moment :)

[2017-09-20 06:12] #244 closed

[2017-09-20 06:13] daattali commented on #238
This would be a nice feature but I don't think I'm going to implement this. @OCram85 do you think you'll find a way without bootstrap 4?

[2017-09-20 07:22] OCram85 commented on #238
I'll try ^^ Once I've worked out a prototype, I'll open a pull request. If you are still interested, maybe you could help solving some responsible design problems ? :smile_cat:

[2017-09-20 07:40] OCram85 opened #253 "Post and Page Templates"
Hi Dean,
what do you think about adding a basic template file for new posts/pages?

Especially for the possible *YAML Front Matter* variables and their meanings?

Maybe something like this:

[code]

So it would be easier for users starting a new page/post without jumping back and forth between the readme and actual file.

[2017-09-20 11:47] OCram85 commented on #238
Ohh I've just noticed, you've already done the work!
Do you mind if we use design if your shiny apps list  on your site?

![2017-09-20 13_41_27-dean attali - r-shiny consultant](https://user-images.githubusercontent.com/13993700/30642172-1bc0ef70-9e0a-11e7-9acd-a04471c3f12f.png)

It would satisfy all requirements:
- Multi row layout
- Card contains a image, titele an subtitle
- hoover effects

Thi

[2017-09-20 16:50] daattali commented on #238
Sure you can use my shiny apps design if you'd like. But that uses a separate javasript library to make the boxes tile nicely. If you can get it to work in a simple way that doesn't complicate the repo too much where the work required from the end user is minimal and straightforward then I'd be happy to integrate it. (I know those are a lot of requirements, it's my way of ensuring this theme remai

[2017-09-20 17:00] daattali commented on #253
Hi Marco, I think this would be very useful for some people, but those are likely the people who wouldn't really need this kind of help. I'm trying to think of the jekyll/internet noobs (that was always the focus of this theme - make something incredibly simple with instructions that hopefully my mom could follow and use) and I think for them this page would be intimidating and they wouldn't know

[2017-09-21 01:46] #246 closed

[2017-09-22 04:29] daattali opened #254 "Make all parameters that use file paths/URLs have consistent and correct logic"
There are several places in the codebase that accept a path/URL. For example: the links in  the navbar (defined in the config file), the "bigimg" and "image" YAML parameters, the "avatar" config parameter, the "title-img" config param, the "navbar-img", "footer-img" and "page-img" config params (which are new thanks to you!), and maybe a few more that I can't remember right now.

The problem is th

[2017-10-04 01:20] yonicd opened #259 "PR for badges"
i want to create a PR for the badges in the [_layouts/post.html](https://github.com/yonicd/yonicd.github.io/blob/master/_layouts/post.html#L11_L55) but it was added after a lot of commits to other things. how can i create a PR for only that file? if it's not possible you can just ctrl-c+ctrl-v the new script for the badges. there isnt any additional script needed to create them.

[2017-10-04 01:40] daattali commented on #259
I don't think there's any magical way to do it nicely, I think a PR needs
to be made against the current version :/

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

On 3 October 2017 at 21:20, yonicd <notifications@github.com> wrote:

[2017-10-04 01:42] yonicd commented on #259
/shrug

[2017-10-04 02:57] sumitgpt commented on #254
Not an expert. But what if we just check if the image link like `bigimg` starts with "/". With Jekyll, you add images in assets and this folder is at the root level. So every local image will start with "/" so that image is looked up from the root. If the link starts with anything else we can consider it an external link.

Now coming to `https` & `http`. I've added `https://` in attribute `url` in

[2017-10-04 05:33] daattali commented on #254
I think what you describe in the first paragraph is a similar idea to what I have in the code in some places, it just needs to be abstracted/generalized better so that it can be used everywhere that uses URLs/paths. I would prefer against requiring users to set a `url` config, all these things should work with minimal user intervention

[2017-10-04 13:57] OCram85 opened #260 "Fix mixed indentation in files"
I noticed mixed indentation in various files.  The indentation should be 4 spaces per level.

Reworking on this could cause 2 problems:
- One giant commit / PR with all the touched files.
- Running into problems with  [rendered whitespaces](https://shopify.github.io/liquid/basics/whitespace/) with liquid content.

I think I could help working this out in near future.

[2017-10-04 17:01] daattali commented on #260
Yep, those are two valid concerns. It may be a giant PR, there's no way to avoid that, that's ok. The rendered whitespace issue just means that we need to be smart about what files and lines get their whitespace "fixed", which I think will end up just being some manual labour :/

[2017-10-04 18:44] OCram85 commented on #260
Maybe the best way is a commit per file. You are right. The only way to
make sure the change didn't caused any other side effects would be to
compare the rendered file before and after the change...

Am 04.10.2017 19:01 schrieb "Dean Attali" <notifications@github.com>:

Yep, those are two valid concerns. It may be a giant PR, there's no way to
avoid that, that's ok. The rendered whitespace issue j

[2017-10-04 18:47] daattali commented on #260
I think it's fine to do just one bit commit instead of one per file

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

On 4 October 2017 at 14:44, Marco Blessing <notifications@github.com> wrote:

[2017-10-05 09:16] OCram85 commented on #260
You're absolutely right. Maybe #261 could help...

[2017-10-05 09:53] OCram85 opened #262 "Update gh-pages gem"
If we want to use [liquid whitespace control](https://shopify.github.io/liquid/basics/whitespace/) feature we need to update the gh-pages gem from `106`

The `liquid` version used in gh-pages `106` does not support this feature.

[2017-10-05 10:12] glederrey opened #263 "Docker issue"
It seems that there's a problem with docker.

When I run the docker command, I get these results:

[code]

The problem is that it's listening on **127.0.0.1** instead of **0.0.0.0**. Therefore, when I try to curl it or to connect to `http://localhost:4000`, I get a connection reset.

Does anyone knows how to fix this? Thanks!

[2017-10-05 10:33] OCram85 commented on #263
You can adjust the `bundle exec jekyll serve` command with this additional vars in `_config.yml`

[code]

[2017-10-05 12:45] glederrey commented on #263
I will look at this. Thanks!

[2017-10-05 17:50] daattali commented on #263
@OCram85 as you may know, I'm not a ruby expert and don't use a lot of jekyll locally (mostly through github pages). Would you recommend adding these params to the config file, or do you foresee it being problematic for some people?

[2017-10-05 18:13] OCram85 commented on #263
Personally,  I wouldn't add these vars in the _config.yml.

Why? - I think 90% of the basic users can build and run jekyll with the
default values.
Second, you could override the default in special use cases with `bundle
exec jekyll serve --host 0.0.0.0`

But that's only my personal opinion ^^

Am 05.10.2017 19:50 schrieb "Dean Attali" <notifications@github.com>:

[2017-10-06 08:45] glederrey commented on #263
Thanks a lot @OCram85 !

If I can make a suggestion, I would add the following information in the paragraph:

---

*Note*: If you cannot access your website at http://localhost:4000 due to a *connection reset by peer*, check if the terminal is displaying the following:
[code]
If it is the case, you can override the default host by adding `--host 0.0.0.0` after `bundle exec jekyll serve`. You shoul

[2017-10-06 09:10] OCram85 commented on #263
If it doesn't cause any other side effects we could change the jekyll command in the `Dockerfile` into this:
[code]

@glederrey: I always like additional notes for debugging, but @daattali  has to decide this ^^ ... I'm not a maintainer - just an average user who :heart: beautiful-jekyll.

[2017-10-06 09:14] glederrey commented on #263
Since you said that for 90% of the users, the command given should work, I didn't want to change it. Adding an additional note for the poor users as me is always a good thing.. =)

But if you think that it shouldn't change anything, then @daattali can directly change the command, yes.
And I asked your opinion since your found the fix of my problem. =)

[2017-10-14 03:49] cihatix opened #267 "index page is a problem!!!! I dont know why"
I downloaded this theme from GitHub to my ubuntu desktop. I changed the __config.yaml file.
Everything is ok. But,

I run "jekyll serve" command and opened 127.0.0.1:4000 web page.
in the front page, there is a problem. I cannot see any feature about the theme. When I visit the posts everything is ok. Can you help me how to fix this

[2017-10-14 23:01] daattali commented on #267
Hello, it's possible that maybe you don't have a proper index page? Try copying the index.html page from this project into your site's root directory.

Other than that, I can't really help much with this debugging. As I say in the README:

I honestly do not know much about jekyll outside of github so I'm afraid I can't help, sorry. You might have better luck asking on jekyll specific online forums

[2017-10-14 23:01] #267 closed

[2017-10-16 23:24] daattali commented on #259
this has been implemented

[2017-10-16 23:24] #259 closed

[2017-10-16 23:36] daattali commented on #263
I've added a small note in the readme: https://github.com/daattali/beautiful-jekyll/commit/1194093d71240d5beff312eb32b7b3520e31978e

I really don't want to take up too much resources and space for this because if you're using Docker then you're not a super beginner and you likely can google/stackoverflow to solve more advanced problems. I want to focus the theme more on the average basic user. Tha

[2017-10-16 23:36] #263 closed

[2017-10-17 08:04] glederrey commented on #263
That's perfect! If other people face the same problem, they will find the solution directly.

Thanks a lot @daattali

[2017-10-18 01:36] jennydaman opened #268 ".navbar-toggle:focus color persistence after hidden.bs.collapse"
Addresses the issue mentioned here: https://github.com/daattali/beautiful-jekyll/pull/256#issuecomment-337092241

![screenshot from 2017-10-16 21-28-33](https://user-images.githubusercontent.com/20404439/31642452-0954382e-b2b9-11e7-8ec2-58d693831d5e.png)

I noticed some awkward attribute stuff going on. Bootstrap is probably to blame (though I did not review its 6567 + 2307 SLOC).

1. Assuming the

[2017-10-18 04:18] daattali commented on #268
Wow I never realied bootstrap's navbar toggle feature was this awkward. Sorry you have to go through this! If it doesn't fix it on mobile, then I wouldn't want to merge it. The perfectionist in *me* just can't do that :)

This bug with the navbar toggle focus presisting doesn't actually have anything to do with your PR though, does it? Your PR changes the text colour of navbar, and the hover colou

[2017-10-18 04:26] jennydaman commented on #268
I intend on making another commit to my PR so that the `navbar-toggle` button changes color to the link hover color.

Depending on your decision about this issue, then how I'd go about handling that would be different. I'll just leave this issue alone for now and make one last commit tomorrow about the `navbar-toggle` button color.

[2017-10-18 04:34] daattali commented on #268
I wouldn't want a fix that only fixed desktops but not smaller screens. I'd prefer to have broken functionality on both :p

[2017-10-18 05:35] daattali commented on #262
done

[2017-10-18 05:35] #262 closed

[2017-10-19 04:57] daattali opened #269 "combine gem branch into master branch"
so that I won't have to support development in parallel branches that are nearly identical

[2017-10-20 06:40] OCram85 commented on #253
I'm ok with that.
I came up with the template idea when I first started with beatuiful-jekyll. I was trying to create a overview fo the possible vars in the front matter area of a post. I know there are some mandatory and optional feature realted vars.

But I absolutely understand to keep it as simple as possible. Simplicity always wins^^

[2017-10-20 06:42] OCram85 opened #270 "[Umbrella Task] Source Cleanup"
# Meta
### :question:  About *[Umbrella Tasks]*

## :arrow_down_small: Blocked By _(Sub Tasks)_
- ~#264~

## :arrow_up_small: Blocks _(Parent Tasks)_

# :package: Content

## :page_facing_up: Preparation Tasks

| Ref | Summary | State |
| :---: | :--------- | :-----: |
| ~#272~ | add basic editor config for developer using VSCode | :exclamation: |
| ~#271~ | add .gitattributes to fore eol standard

[2017-10-20 07:13] OCram85 commented on #260
Duplicate - #270

[2017-10-20 07:14] #260 closed

[2017-10-20 14:57] daattali commented on #253
I think title is the only mandatory field. Although even if you don't set that

[2017-10-20 14:57] #253 closed

[2017-10-20 14:59] daattali commented on #270
This issue should win a github organization award

[2017-10-20 16:38] OCram85 commented on #270
Sorry for this meta overhead. But if I don't work with github I normally use phabricator. It has some usefull issue managing properties which you can only get in github like this. .... Unless you don't want to addons like zenhub or waffle. But I this it would be too much...

[2017-10-20 17:39] daattali commented on #270
No, don't apologize, it's great!

[2017-10-20 18:28] daattali commented on #238
Is it ok if I close this issue?

[2017-10-20 18:29] daattali commented on #249
closing this issue because it's part of #254

[2017-10-20 18:29] #249 closed

[2017-10-23 12:28] mghassany opened #274 "request: ResearchGate footer link"
To add a researchgate profile.

[2017-10-23 16:49] daattali commented on #274
Feel free to submit a pull request to add it, just follow the format all
the other icons use

On Oct 23, 2017 08:28, "Mohamad Ghassany" <notifications@github.com> wrote:

[2017-10-25 16:41] murillocg opened #275 "Markdown guide reference"
I had some difficulties to use table in a post.
Sounds like this markdown doesn't work: https://help.github.com/articles/organizing-information-with-tables/

Which markdown reference I should use to write my posts?

[2017-10-25 16:44] daattali commented on #275
This is exactly the purpose of the first demo "blog post": https://github.com/daattali/beautiful-jekyll/blob/master/_posts/2015-02-28-test-markdown.md

Look at the source (raw version) of that file and you'll see how to create a table

[2017-10-25 16:44] #275 closed

[2017-10-25 16:48] murillocg commented on #275
Thank you very much!

[2017-10-26 22:52] jennydaman commented on #268
Found a solution while working on my own site! I pushed a commit to https://github.com/jennydaman/beautiful-jekyll/tree/colors that fixes this issue (related PR: #256). Color works on touchscreen and mobile devices.

Though it's probably bad practice to be fixing a bug in a mostly unrelated PR...

[2017-10-27 00:24] daattali commented on #268
Awesome! Could you actually submit a separate PR that just fixes this issue please?

[2017-10-28 16:56] davchana opened #277 "Enhancement Request / Suggestion - Social Networks Data"
Hi, I can not push a PR as I have edited my repository too much; but one thing I was getting bothered was too much repetition of code for social networks in footer (one literal `<li>` per network ):

[code]

What I did (from help of lot of Stackoverflow & Google & everywhere was:

* created a new directory `_data` & a new file `social.yml` in it to make `_config.yml` less cluterry. Contents of `so

[2017-10-28 21:57] daattali commented on #277
Thanks for the feedback @davchana

I definitely agree with you that the current code is terrible because of the multiple repetitive copy-paste. I do think it'd be a good idea to abstract most of the code away and have a list of data that could be iterated through. If I was doing it for my own personal site then a solution like the one you mention would be good.

But because I really strongly try t

[2017-11-02 09:18] OCram85 commented on #277
Hi folks,
I've started working on this. My approach would be:
- adding a datafile like `_data\SocialNetworkData.yml`
  - holds relevant data needed by a individual link snippet like `BaseURL`, `FaIcon`, `Name`
- Using this data in the `footer.hml` or a seperate include file

Pros would be:
- maintainers just needs to add new sites in the condig yaml
- new sites needs to be added in `_config.yml` a

[2017-11-06 14:32] OCram85 commented on #254
Finally I found some time working on this. I started with splitting down the input in its parts:

[code]

![2017-11-06 15_27_42-get-uri test](https://user-images.githubusercontent.com/13993700/32445780-265df384-c307-11e7-81fd-11f20a7ff829.png)

But my question now is: What's the desired output format?

If I got it right I would go on with this:
- If it's a internal link always add `URI`
- If it's

[2017-11-06 16:46] daattali commented on #254
Do these also take care of site.baseurl?

Is it correct that the last example you have has :// after the image path?

[2017-11-06 17:18] OCram85 commented on #254
Ohh this is just a work in progress example. It should show my current approch how to split a URI into its parts. But I wasn't sure how the composed output should look like.

[2017-11-13 09:22] OCram85 commented on #277
So what do you guys think about #278 ?
Is it desired approach for solving this?

[2017-11-13 17:19] FongX777 opened #284 "Plugins Like "jekyll-assets" Couldn't Work"
Hello, I really like beautiful-jekyll for its easy-to-use feature and elegant outlook.
 But I have trapped in the condition for a long time that whenever I want to add a plugin,
it almost failed...

Take a famous plugin 'jekyll-assets' for example,
First I created a folder named '_assets' and put 'css/', 'js/', 'img/' into it,
then changed my _config.yml file like it (the appending part):
[code]
h

[2017-11-13 18:27] OCram85 commented on #284
Hi @FongX777,
I recently ran into a similar problem with plugins. So I hope I can help you with this:

Github allows jekyll pages only with supported plugins on [Github-Pages](https://pages.github.com/versions/). It's called *safemode* or *Plugin Whitelist*. This disables foreign gems/plugins of even project internal plugins in the `_plugins` folder

You run into this if your use the `github-pages

[2017-11-14 03:09] daattali commented on #277
Hi Marco, I hadn't forgotten, it's on my todo list to look over this :) I'm juggling about 20 different projects but I'm hoping to get to it soon!

[2017-11-14 03:41] daattali commented on #284
Thanks for offering your advise Marco

[2017-11-14 04:14] davchana commented on #277
This change is wonderful!! Amazing!! Perfecto!!

[2017-11-14 08:12] FongX777 commented on #284
Thanks a lot! @OCram85 ! I'll give it a try!

[2017-11-25 02:21] ericpgreen opened #288 "white space between bigimg and footer when blog moved"
@daattali, great theme. Thanks for all of your work on it.

I moved the blog off the landing page using your instructions, and now I'm trying to remove the white space that remains between the bigimg and the footer. Have you come across this before?

![image](https://user-images.githubusercontent.com/546433/33226503-5e5b8d3c-d15d-11e7-9147-3aada0a3bdd4.png)

[2017-12-01 08:03] HashHackerAds opened #291 "How to deploy on https://app.netlify.com/"
Any Help

[2017-12-01 08:04] daattali commented on #291
Sorry that's out of scope for a jekyll site. I haven't tried it but I'm
sure there are tutorials on netlify!

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

Attend my 4-day workshop: Learn how to analyze data with R and create Shiny
apps. 15% discount to existing clients. Register here!
<https://www.eventbrite.com/e/modern-r-data-processing-visualizat

[2017-12-15 17:40] ethan92429 commented on #284
Hi @FongX777 The way I solve this is by building the site locally, with `jekyll build` and then committing the output in _site to the master branch. The source code lives in the development branch for now, and when I want to update the master, I have to `cd` into the _site branch where lives another git repo pointing to the master remote. I push the automated changes to master up to GitHub, and th

[2017-12-15 18:09] ethan92429 opened #292 "linked-tags broken"
The linked-tags functionality doesn't work. Jekyll doesn't make a tags folder within the _site directory when run locally and when linked_tags is set to true in _config.yml. To see this, just clone the local version of beautiful jekyll, turn on linked-tags, and run locally with `jekyll serve` and no tag pages are generated.

[2017-12-15 18:30] OCram85 commented on #284
This is similar to my approach:
I changed the default branch to jekyll where my source is. Appveyor builds the site on every change and pushes the output to the master branch. gh-pages uses thi master.

[2017-12-15 21:52] ethan92429 commented on #292
I instead am using the [Jekyll-category-pages plugin](https://github.com/field-theory/jekyll-category-pages/blob/master/example/_layouts/category_index.html), which I think is a more modular way to get the same effect as the tags 'plugin'. I'm pulling out the tag plugin to remove cruft. I was not able to get it working, but I didn't spend much time on it.

[2017-12-16 02:10] daattali commented on #284
@FongX777 I assume the suggested solutions worked for you so I'm closing this issue

[2017-12-16 02:10] #284 closed

[2017-12-16 02:15] daattali commented on #292
Your post makes many references to "linked-tags". The parameter should be "link-tags" without "ed". Is that what you tried?

[2017-12-16 02:15] #291 closed

[2017-12-16 06:11] ethan92429 commented on #292
Yes I set link-tags not linked. Thanks for the catch but that is not the problem.

[2017-12-16 08:22] daattali commented on #292
I believe it was @epwalsh who added this tags feature, perhaps he has something useful to say about this?

[2017-12-26 14:46] alefi87 opened #293 "Invisible avatar is still clickable in .top-nav-short"
When scrolling so the avatar fades out and the main nav turns "short" the avatar is still clickable. You can't see it, but the hitbox is still there, so it's a bit confusing, not to mention that it might hijack clicks on some of the content under it (e.g. another link in the text).

I guess that one is tough to solve with pure CSS since `display` is not affected by `transition` rules, but since JS

[2017-12-26 16:54] daattali commented on #293
You're right that's a behaviour I've known about for a while but never
seemed to actually bother anyone. If you find a clean way to fix it, you're
welcome to submit a PR!

On Dec 26, 2017 9:46 AM, "Alexander Filatov" <notifications@github.com>
wrote:

[2017-12-28 20:12] weiguangcui opened #294 "webpage can not show the images with bigimg"
Dear

Thank you so much for sharing this beautiful theme!
I tried to include some images in my aboutme.md file (weblink: https://weiguangcui.github.io/aboutme/). The website reports no error, but these images can not show up in that page. Also, there are some images with bigimg can be shown in the main page https://weiguangcui.github.io, some are not!
Is it a problem of my images? If so, what form

[2017-12-28 21:39] daattali commented on #294
For the images not showing up, I'm not sure what the problem is, you'd have
to look at the ones that work and the ones that don't, and try to compare
to see what the difference is in the URL. I haven't heard of any such
reports so I assume it's something with your URLs. Perhaps you need to add
a slash "/" to the beginning of the image url. As for the height vs width,
you can change that in the css

[2017-12-28 22:19] weiguangcui commented on #294
Thank you for the suggestions. Yes, it is the problem of the slash...
I have no idea of css, could you possibly give me some hints of where and how to change?
I have tried without setting width, and with padding-top, but none works...
Thanks again

[2017-12-28 22:41] daattali commented on #294
Sorry, giving individual css tips is out of scope. I do suggest taking a
few hours to go through css tutorials if you want to do any customizations,
it'll benefit you a lot

On Dec 28, 2017 17:19, "Weiguang Cui" <notifications@github.com> wrote:

[2017-12-29 17:59] #294 closed

[2017-12-31 11:46] alefi87 commented on #293
Submitted a PR. Disregard the git weirdness above - it's just one commit and minor changes to two files.

[2018-01-03 06:57] daattali commented on #293
thank you!

[2018-01-03 06:57] #293 closed

[2018-01-05 16:52] ericpgreen commented on #288
I know that `index.html` uses the `page` layout. I'm a bit out of my element, but I see that `page.html` (in `_layouts`) uses the `base` layout and includes:

[code]

`base.html` includes

[code]

I tried creating a referencing a new `page` layout and a new `base` layout, but I haven't stumbled on the right parameter to show just the header, `bigimg`, and footer on the main `index.html` page. Any

[2018-01-05 19:33] daattali commented on #288
The whitespace issue you're seeing is not because of the template. It's purely CSS. Looking at the CSS on the page, the `footer` tag has a `margin-top` of 50px and the big-img in the header has a `margin-bottom` of 20px. If you remove these margins, there won't be any gap. You'll need to know basic CSS to do that

[2018-01-05 21:02] ericpgreen commented on #288
Ah, ok. Thanks for your advice. Did the trick.

[2018-01-05 21:02] #288 closed

[2018-01-05 23:26] #277 closed

[2018-01-05 23:30] daattali commented on #238
@OCram85 can I close this issue?

[2018-01-05 23:31] daattali commented on #254
@OCram85 feel free to continue the work on this if you find some free time. Your other contributions are much appreciated!

[2018-01-06 18:18] daattali commented on #274
@mghassany I'm closing this issue as nobody else seemed to want it. Feel free to implement it if you'd like

[2018-01-06 18:18] #274 closed

[2018-01-06 18:26] daattali commented on #268
@jennydaman let me know if there's a PR for this please

[2018-01-06 20:08] jennydaman commented on #268
Nope... I don't have a perfect solution that works on all platforms, just silly workarounds.

If your goal is consistency, I advise that you get rid of any `:hover` effect on the element, and keep the darker color when the menu is expanded. That is the quickest "fix."

To achieve the optimal solution, someone would have to completely rewrite how the bootstrap classes are being used. I don't have t

[2018-01-06 20:36] jennydaman commented on #268
OR how about more dirty hacks! I'm going to try something dumb right now, and report back on how it goes.

- prevent all `:hover` effects for small screens (so touchscreen pointers hovering over `.navbar-toggle` doesn't affect anything)

[2018-01-06 21:23] jennydaman commented on #268
Let me get this clear, the ideal rules for color would be:
- normal: light
- hover: dark
- aria-expanded=true: dark

The issue comes from how touchscreens manage`:hover`. When tapping somewhere, the virtual pointer clicks once, then hovers over that point until somewhere else is clicked.

[code]

The code segment above works as expected on small, non-touchscreen devices. However, the button will s

[2018-01-06 22:58] #268 closed

[2018-01-06 22:59] daattali commented on #268
I didn't notice your edit on the last comment. Is there anything else you'd like to address or are we ok now after discussing this in the PR?

[2018-01-06 23:02] jennydaman commented on #268
I have a bad habit of editing comments, whatever. I'm going to work on  #268 (colors). The commit history is messy, I'm going to start with a new branch...

[2018-01-06 23:05] daattali commented on #268
Sounds good. I do find that after more than 5-10 minutes it's safer to just
add a new comment, even though it feels spammy

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

On 6 January 2018 at 18:02, Jennings Zhang <notifications@github.com> wrote:

[2018-01-06 23:12] daattali commented on #292
Going to try to summon @epwalsh again :)

[2018-01-07 11:18] mghassany commented on #274
OK.
As for me, I finally used the researchgate icon from http://jpswalsh.github.io/academicons/

[2018-01-14 14:33] adrianocanofre opened #302 "Deploy with Docker"
I'm fork this repository and start the beautiful-jekyll with docker, but this error happens:

[code]

[2018-01-14 17:30] daattali commented on #302
Sorry I'm not able to support/solve anything related to docker. I
personally haven't tried using docker with this theme. You can look through
the history of the code commits to see who added the docker code and try
tagging them.

On Jan 14, 2018 09:33, "Adriano Canofre" <notifications@github.com> wrote:

I'm fork this repository and start the beautiful-jekyll with docker, but
this error happens:

[2018-01-14 17:38] adrianocanofre commented on #302
Ok, I ran the docker code described in readme, because I'm trying run local server
[code]

[2018-01-14 17:59] daattali commented on #302
@jennydaman that is a **much** nicer version of a dockerfile. @adrianocanofre can you confirm if this suggested setup works for you too?

[2018-01-14 18:09] adrianocanofre commented on #302
Thank you @jennydaman , the Dockerfile run perfect. @daattali, yes, I build and run the docker and I was able to run a local server.

[2018-01-14 18:10] jennydaman commented on #302
@daattali Do you want a PR for this

[2018-01-14 18:20] daattali commented on #302
@jennydaman yes, please. And update the corresponding section in the README at the same time.

Would deleting the gemfile.lock be required even if it gets cleaned up?

[2018-01-14 18:22] jennydaman commented on #302
`bundle install` is going to regenerate a cleaner Gemfile.lock. If `Gemfile.lock` is not deleted, then some extraneous lines will remain. It's not too much of an issue besides that it annoys me. What do you prefer?

[2018-01-14 18:36] daattali commented on #302
If you think there are remnants of a mingw run in that file, then it should be cleaned up.

[2018-01-15 07:23] daattali commented on #292
@jennydaman to continue the conversation from https://github.com/daattali/beautiful-jekyll/pull/303#issuecomment-357598022

This issue is what you mentioned - the tags folder doesn't get generated. Looking at the commit that added this feature https://github.com/daattali/beautiful-jekyll/commit/b90c1c8de94d9c51be4a3d72bcb5c40ff51b2e65 it seems like there's a plugin that was created for that https:

[2018-01-15 08:18] jennydaman commented on #292
I'm not a ruby dev, though I am an insomniac.

Found the conflict to be #264. I reverted the changes manually. https://github.com/jennydaman/beautiful-jekyll/tree/old-tag demonstrates compatibility with `link-tags: true` (tested with my improved Docker solution).

I don't have time anymore for integration tests (it's 3 AM and got homework to do).

If `link-tags` is an important feature, then someo

[2018-01-15 08:34] OCram85 commented on #292
Hey guys,
I decided to customize the tag links on my personal site.
I just link to a single page called `tags` and with the target anchor like this: https://ocram85.github.io/tags#Jekyll

I hope it helps in this discussion.^^

[2018-01-15 08:43] jennydaman commented on #292
It works on Github Pages, that's amazing! Can you make a pull request?

I'll look into it myself tomorrow.

[2018-01-15 08:50] daattali commented on #292
@jennydaman I'm also on east coast, also insomniac, trying to finish a client project....

@OCram85 is that page generated automatically using all the tags that exist in any post? Or do you have to manually supply the list of tags? ie. If you make a new post and use a brand new tag in it, would this page update to have that tag? I'm assuming that's possible by looping over all posts and looking at

[2018-01-15 08:52] daattali commented on #238
@OCram85 I'm closing this, I imagine you've solved it on your own in your website if you wanted this layout, but I don't think it's simple enough to introduce into here. Feel free to discuss in the future!

[2018-01-15 08:52] #238 closed

[2018-01-15 09:02] OCram85 commented on #292
I did the following:
- There is a page called `tags` which is generated while the build process.
  - It contains all known tags from all the posts and list them alphabetically.
  -Each tag gets a heading the the `#anchor`.
- All I had to do was, changing the your template whenever the is your tag link to something like this:

[code]

*I'm currently quite busy but if I find some time I'm going to c

[2018-01-15 09:03] OCram85 commented on #238
Sorry for the delay. I'm still working on this but thanks for your help!

[2018-01-15 09:04] daattali commented on #292
A PR is welcome whenever you find the time, no stress

[2018-01-15 09:20] jennydaman commented on #292
Oops phone wasn't silenced.

@ocram85 has an interesting solution where the site is built from source on a different branch and exported to master with App Veyor. Although I'm not familiar with that service, the concept gave me an idea. Maybe it's possible to support tags (the original implementation) by using `jekyll build --destination docs/`. I'll try that in the morning, and if it works, maybe

[2018-01-15 09:23] daattali commented on #292
Which part exactly can't be automated by github pages? The more we can keep inside gh-pages and not have to venture into more technologies, the better.

[2018-01-15 09:30] OCram85 commented on #292
@jennydaman: Oh you can forget my custom build queue. The described workflow for building a tag index and linking there just uses basic jekyll and liquid. This should work for everyone. Like already said, I'm going to create a PR therefore. So you can test it on your own if you like.

[2018-01-15 18:39] jennydaman commented on #292
@OCram85 what I tried to do is use the original tag generator on Github Pages. It works!
Example: https://twlinux.github.io/

In English, what I did was use `git worktree` to have separate branches in separate folders. I mounted both folders in my Docker container and used `jekyll build` to generate static HTML to my master branch.

https://github.com/twlinux/twlinux.github.io#bundle-static-files-

[2018-01-16 08:14] OCram85 commented on #292
@jennydaman: Here is a gist with my current tags.md and a snippet wiht the linking example to this page.

https://gist.github.com/OCram85/ad58b3d585705c8be8d0eb646cf516c0

[2018-01-16 08:19] OCram85 commented on #292
@daattali , @jennydaman : I just realized the `_tag_gen.rb` doesn't seem to work with the current ph-pages version. This means gh-pages ignores the `_plugin` dir and does not use any plugins there.

That's the reason why i customized the tag index page and the way of linking onto this.

[2018-01-16 12:05] jennydaman commented on #292
@OCram85 yes, I noted that above. https://github.com/daattali/beautiful-jekyll/issues/292#issuecomment-357610883

My current solution is to use guthub-pages v106 (old) and TravisCI. I prefer the old `_tag_gen.rb` because it creates separate pages for different tags.

[2018-01-16 12:20] OCram85 commented on #292
@jennydaman  Srry i missed that part. I ran into this plugins issue multiple times. But I didn't found any way to disable the so called `whitelist` or `safe` mode.

To build the jekyll page manually the easiest way would maybe be switch from gh-pages gem to the jekyll and list the needed gems manually^^

[2018-01-16 20:10] daattali commented on #292
Sorry I haven't followed the conversation. It sounds like both of your solutions do require building the site with ruby locally rather than using purely GH, correct?

I agree with @jennydaman that having a separate page per tag is nicer than putting them all in one page. But isn't it possible to stay entirely within github pages if you do put all tags on the same page? By  having a `tags.md` page

[2018-01-16 20:59] jennydaman commented on #292
I think @OCram85's `tags.md` has nothing to do with external ruby builds.

[2018-01-16 21:26] jennydaman commented on #292
I think @OCram85's `tags.md` is unrelated to his third party build system.

[2018-01-17 18:49] daattali commented on #292
Awesome, in that case I will wait for a PR :)

[2018-01-18 15:19] OCram85 commented on #292
Done :imp:

[2018-01-19 04:58] #292 closed

[2018-01-19 04:58] daattali commented on #302
this was fixed by @jennydaman

[2018-01-19 04:59] daattali commented on #292
This now works much better than it did before thanks to @OCram85

[2018-01-19 04:59] #302 closed

[2018-01-19 06:53] daattali commented on #292
@OCram85 here is the updated version: https://daattalitest.github.io/tags I hope you don't mind my changes

[2018-01-19 09:40] OCram85 commented on #292
Looks awesome! I'm going to implement this tags view on my blog as well :smile:

[2018-01-19 09:44] daattali commented on #292
Notice the .linked-section css I added. It's to fix the issue that when you link to a specific section on the page, the navbar was hiding it. It's a super clean solution to that general problem

[2018-01-19 12:17] OCram85 opened #309 "Piwik / Matomo integration"
I use my personal blog with Piwik / Matamo stats.
Is there anyone interested in a PR for including this to beautiful-jekyll like GoogleAnalytics?

[2018-01-22 07:14] #309 closed

[2018-01-22 19:52] niccokunzmann opened #312 "Add logo to the website (favicon)"
I added a favicon option for the website. This is useful, if we want to use an image.

Website: http://hashtec-potsdam.github.io/
Source code commit: https://github.com/HashTec-Potsdam/HashTec-Potsdam.github.io/commit/2ebbc64eae5e3cdb18128a7e8aae5da01e81acee#diff-aeb42283af8ef8e9da40ededd3ae2ab2

I realize, you personally will not need this as your site provides a favicon at the top.

So, what I w

[2018-01-22 19:58] daattali commented on #312
Thanks for the suggestion!

Technically you don't even need to add that line to the HTML. Simply placing a valid favicon in the root is enough. So because I like to keep this theme and settings as simple as possible, I'd rather not add this setting since it's not necessary.

[2018-01-22 19:58] #312 closed

[2018-01-23 00:27] ShahnurIslam opened #313 "Cookie Consent"
Hey Dean,

Love Beautiful Jekyll and it's helped a lot of with my blogging. I live in the UK and under new EU regulations we need to add cookie consent for cookie tracking on the site. Would you be able to add this feature or tell me how I can do it?

Thanks,
Shan

[2018-01-23 01:32] daattali commented on #313
This theme does not use cookies to track any information. The only tracking
I can think of is if you manually add something like Google Analytics.

On Jan 22, 2018 7:27 PM, "Shahnur Islam" <notifications@github.com> wrote:

Hey Dean,

Love Beautiful Jekyll and it's helped a lot of with my blogging. I live in
the UK and under new EU regulations we need to add cookie consent for
cookie tracking on t

[2018-01-23 06:08] OCram85 commented on #313
I found this recently: https://cookieconsent.insites.com/. Maybe it helps in any way ^^

[2018-01-23 06:11] daattali commented on #313
I'm so glad this cookie law hasn't reached North America...

[2018-01-23 07:14] OCram85 commented on #313
@ShahnurIslam . Jus now I read, the EU regulations needs to be adopted by every Country itself. So if I get it right, each EU country needs to introduce the regulation in it´s own `law`s. So Germany didn't introduce this regulations. May the UK didn't introduce this as well? - In this cases your don't need to respect the EU cookie law?!?!

[2018-01-23 07:15] daattali commented on #313
I want to repeat though: this theme, by default, does not use cookies, so this should not be an issue anyway

[2018-01-23 09:27] ShahnurIslam commented on #313
Hey Dean thanks for replying.
I know by default it doesn't but I do use the Google Analytics tracking which I do need to get consent for. I managed to get a snippet of code that just needs to be added to the header of the site. Any advice?

[2018-01-23 09:44] OCram85 commented on #313
# Put the code in a new html file in the `_includes` dir
# Include the file in the desired header position with {%- include <filename>.html -%}

[2018-01-23 16:41] daattali commented on #313
You can look at @OCram85 's latest commit to see this in action: https://github.com/daattali/beautiful-jekyll/commit/7677fbd01a9cdd0173c7a41b9551674c65e7ac4d

Notice that he added a file `includes/matomo.html` with the HTML he wanted to insert, and made a small addition to `_includes/header.html` where he added the line `{% include matomo.html %}` in order to inject that html.

[2018-01-23 17:14] ShahnurIslam commented on #313
Thanks all, I managed to do it in the end by adding it to the includes/head.html file at the bottom.

[2018-01-23 17:14] #313 closed

[2018-01-23 18:07] daattali commented on #313
Feel free to submit a pull request, and make it a configurable setting,
like what Marco did in the link I sent earlier

On Jan 23, 2018 12:14 PM, "Shahnur Islam" <notifications@github.com> wrote:

[2018-01-24 10:41] ShahnurIslam commented on #313
Ok will give it a go. Thank Dean!

________________________________
From: Dean Attali <notifications@github.com>
Sent: 23 January 2018 18:07
To: daattali/beautiful-jekyll
Cc: Shahnur Islam; State change
Subject: Re: [daattali/beautiful-jekyll] Cookie Consent (#313)

Feel free to submit a pull request, and make it a configurable setting,
like what Marco did in the link I sent earlier

On Jan 23, 20

[2018-02-01 13:34] brunocasarotti opened #317 "Is possible to have an internationalization feature?"
Let's say I want to add content to my website in 2 or more languages, how can I achieve that?
By the way, GREAT WORK!

[2018-02-05 06:43] OCram85 commented on #313
@ShahnurIslam: :question:  I decided to implement https://cookieconsent.insites.com/ on my instance of beautiful-jekyll. First I thought I could share it with the jekyll community via gem but this would exclude all gh-pages users. So If you still looking for a solution on your instance you can look at my recent PR: https://github.com/OCram85/OCram85.github.io/pull/10

[2018-02-13 05:58] daattali commented on #317
That would indeed be awesome, but unfortunately that's much out of the scope for this theme. You can try to google for internationalization of jekyll themes, I don't know if there's a simple solution out there!

[2018-02-13 05:58] #317 closed

[2018-02-20 21:32] allan9595 opened #324 "upgrade front awesome version 5"
Hello, i try to add discord font awesome on my site but seems like Beautiful jekyll still use font awesome version 4 so my discord icon not works. Could you update it to version 5 for font awesome?

[2018-02-20 22:08] daattali commented on #324
Sure I can look into that when I have a few minutes. I would also accept a
pull request

On Feb 20, 2018 4:32 PM, "Allan Chang (bohan)" <notifications@github.com>
wrote:

[2018-02-22 02:46] allan9595 commented on #324
Thank you !

[2018-02-23 05:11] daattali commented on #324
Looks like this will have to wait a bit. fontawesome just released version 5.0.6 17 days ago, and it looks like the CDNs serving fontawesome haven't updated yet (which I totally understand if it's only been 17 days). I checked https://www.bootstrapcdn.com/fontawesome/ and https://cdnjs.com/libraries/font-awesome both of them are still serving 4.x

I'll check again periodically and update when it's

[2018-02-23 07:13] shyd commented on #324
I have done this in my fork in order to use the docker icon 🐳  But I use gulp task runner with bower to build my site. <https://schuett.io>
I will create a PR with the icon changes later. Then you can merge it if v5 becomes available at CDNs.

Cheers

[2018-02-23 10:12] OCram85 commented on #324
@shyd: Awesome Blog! Super Arbeit :+1:

[2018-03-04 04:08] allan9595 commented on #324
@shyd Do you still able to use the rss feed after you updated to the font awesome 5? My site runs into a rss feed issue now. (https://untcybersecurity.com/feed.xml)

[2018-03-04 12:28] shyd commented on #324
@allan9595 Yes, it's stable for me. I just branched my feature branch into gh-pages for demonstration: <https://shyd.github.io/beautiful-jekyll/feed.xml>

[2018-03-06 22:45] datamancy-dev opened #329 "[Question] How to have more than one posts pages like the main page?"
Hello Dean, first off thanks for making this awesome theme!

I would like to have two "main" pages that draw from separate posts directories.

So the end result would be a link on the navbar that takes you to a different page like the main page that has posts that you can click on specific to that page. These posts should in turn redirect to the post itself like the main page works.

Is that possi

[2018-03-07 01:37] daattali commented on #329
I think this is possible. It's a general jekyll question though, not specific to my theme. You can read the jekyll documentation to see if you find a solution https://jekyllrb.com/docs/pagination/ or you can ask on a jekyll-specific forum https://jekyllrb.com/help/

[2018-03-07 01:37] #329 closed

[2018-03-07 15:14] adivijaykumar opened #330 "Text Selection Colour is White"
Whenever I select text in a post on my site adivijaykumar.github.io, the selection colour is white, which means it is not actually visible at all! Do you know what could be the reason?

![screenshot_2018-03-07-20-40-15-375_com android chrome](https://user-images.githubusercontent.com/11767643/37100209-60224ae8-2248-11e8-8a00-0900829e56af.png)

[2018-03-07 15:28] datamancy-dev commented on #329
Thanks!

[2018-03-07 15:39] shyd commented on #330
Hi, you probably didn't set `hover-col` in `_config.yml:50`: https://github.com/daattali/beautiful-jekyll/blob/master/_config.yml#L50

`::selection` renders like this on your site:

[code]

`background-color` is the selection background color, but it's empty.

[2018-03-07 15:57] adivijaykumar commented on #330
@shyd Thank You! This worked well, I had probably edited out some colours when I was tweaking.
And thank you for building this wonderful theme :)

[2018-03-07 15:57] #330 closed

[2018-03-07 16:10] daattali commented on #330
Thank you for answering @shyd

[2018-03-07 16:35] shyd commented on #330
You are both welcome 😃

[2018-03-14 15:07] devaroop opened #332 "Posts file to be renamed with date format"
First of all - this project is super helpful. Thanks for that.

Any new post file has to have the `date` prepended to the file name or else does not show up in the blog list.

For e.g.:

`_posts/custom_blog_post.md` doesn't work

but

`_posts/2018-03-14-custom-blog-post.md` works.

If this is a feature, lets add this in the documentation for everyone's help.

[2018-03-14 15:09] devaroop opened #333 "How to test draft locally before pushing online?"
Is there a way to test locally before pushing the blog to github?

I'll be happy to develop it if you have an idea.

[2018-03-14 15:12] daattali commented on #332
That's right. Posts have to have this format. It's in the jekyll documentation https://jekyllrb.com/docs/posts/

[2018-03-14 15:12] #332 closed

[2018-03-14 15:20] daattali commented on #333
You can do this if you use the Docker approach, which has an entire section in the README: https://github.com/daattali/beautiful-jekyll#advanced-local-development-using-docker

If using only github pages (only online) then you can't really do that

[2018-03-14 15:20] #333 closed

[2018-03-31 04:27] Yttrium-tYcLief commented on #43
I know this is a little old but would it ever be possible to add support for one more level? Doesn't need to be recursive (X number of levels), but being able to get an additional level would be the difference between me using a different theme (undesired) versus this one (desired).

[2018-03-31 06:59] daattali commented on #43
There is already support for more than one level. I opened this issue back when there was no multi level support, and I closed the issue when I implemented a second level. The demo site has two levels.

[2018-04-02 13:14] chfast opened #339 "Is remote_theme supported?"
I tried to use

[code]

in my GitHub Pages config. This does not seem to produce good results (https://chfast.github.io/How-to-explicit-NOT-initialize-variables-in-cpp/).

Should that work?

[2018-04-03 05:21] daattali commented on #339
This is a fairly new feature of github (allowing custom themes to use `remote_theme`), and I haven't yet found the time to make beautiful-jekyll compatible with that. So it does not work yet.

If someone wants to help making the necessary changes, I would appreciate the help!

[2018-04-03 18:18] Yttrium-tYcLief commented on #43
Maybe I didn't phrase my request correctly - I'm asking for an additional level besides the two that are already implemented, [like so](https://bitsofco.de/img/blog/20/navigation.png).

[2018-04-03 18:48] Yttrium-tYcLief commented on #43
Unfortunately I'm nowhere near knowledgeable enough in Jekyll to properly implement that with a PR, although the theme I'm currently using, [Twenty](https://github.com/old-jekyll-templates/Twenty-Jekyll-Theme), does have it as a feature.

[2018-04-03 18:59] daattali commented on #43
I can't see a demo of it. Anyway, it's a really big feature so I likely
won't implement it unless someone else wants to try it :)

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

Want to improve your Shiny skills? Try my new interactive, online video
course *Shiny Case Studies*
<https://www.datacamp.com/courses/building-web-applications-in-r-with-shiny

[2018-04-03 19:28] eickhoff opened #340 "bigimg not rendering"
Hi,

I am trying to use a bigimg in the header of my blog posts. After some back-and-forth with relative and absolute hyperlinks, everything looks fine now on the code side, the links in **header-big-imgs** are all correct and work, but somehow the **big-img intro-header** element is not assigned a style element setting the background image.

If you have any suggestions as to why this could happen

[2018-04-03 19:31] daattali commented on #340
I suggest forking a fresh copy (into a different project if you don't want to mess with your current one) and seeing that bigimg works on the sample posts. Form there add things slowly and see when it breaks. The feature itself works so I don't know what in your settings broke it.

I'm closing this issue since this isn't a bug or a feature request. For help, I recommend going to a Jekyll support f

[2018-04-03 19:31] #340 closed

[2018-04-09 14:20] OCram85 opened #342 "JS loading order problem"
I've noticed a problem caused by the loading order of the JS files

## Scenario
- Add a custom Javascript file in a new blog post or page by:
  - using the YAML key js
  - writing your Javascript directly in the file within the `<script>` tag
- If you're using jQuery or other frameworks which were defined in the layout the execution fails

## Analysis

The include snipped `footer-scripts.hml` adds

[2018-04-12 10:34] mw55309 opened #345 "Change width to display tabular data"
Hi

I'd like to change the width of the main display area so that it's wider and can accommodate moderate width tables.  Could you give me a clue what to change in the CSS to achieve this?

Thanks
Mick

[2018-04-12 17:03] daattali commented on #345
The widths are set by Bootstrap columns. Take a look at the files in the layouts folder, they define the number of columns, you can make the number of columns larger

[2018-04-12 17:03] #345 closed

[2018-04-22 03:41] npes87184 opened #349 "Potential security vulnerability"
nokogiri has known vulnerability found in version 1.8.1.

[2018-04-22 03:46] daattali commented on #349
Yes I saw the massage, thank you! This is only in the ruby gem, and this theme is officially only supporting the use of github pages. If you use ruby for deployment, as i mention in the README, I don't provide much info or support with that. I myself don't use ruby so if anyone uses this theme in ruby rather than github they'd be responsible for everything that is involved

[2018-05-02 21:03] daattali commented on #349
fixed by @OCram85

[2018-05-02 21:03] #349 closed

[2018-05-21 17:33] OCram85 opened #356 "[Umbrella Task] Verify beautiful-jekyll is GDPR compliant"
# Meta
### :question:  About *[Umbrella Tasks]*

## :arrow_down_small: Blocked By _(Sub Tasks)_

## :arrow_up_small: Blocks _(Parent Tasks)_

# :package: Content

This would be awesome for EU based users 👍

## :page_facing_up: Possible Tasks / Issues

### Google Font Usage
To avoid privacy policy section it maybe would be better not to use the google CDN.
 One possible way would be using something

[2018-05-22 13:43] OCram85 commented on #356
@daattali: What do you think about external resources like jQuery, GoogleFonts... Do you want them as external or could it be possible to implement them into the beautiful-jekyll itself?
It should be no difference for end users. But it would simplify the privacy policy creation. It's your design decision :smiley_cat:

[2018-05-23 09:41] OCram85 commented on #356
#### FYI:
- I've contacted the github team and asked for any advice relating the GDPR and GitHub Pages based blogs.
- In addition to that I started a conversation in the community section. [How to deal with GDPR...](https://github.community/t5/Pages/How-to-deal-with-GDPR-on-github-pages-based-blogs/m-p/7719#M637)

[2018-05-26 17:57] daattali commented on #356
Thanks for the initiative and eagerness to move this forward fast! To be honest I don't know if simple static blog sites like the ones served with this template need to worry about GDPR to such a high degree.

As of right now I would prefer to stay away from all of this. But I want to keep the issue open and let others chime in because I'm not very informed about these laws and how others in simil

[2018-05-27 09:38] daattali commented on #356
I tried googling a little bit about jekyll+gdpr and didn't find too much, but I did see that someone brought up a similar issue on the MinimalMistakes theme, and the author there also had reservations because of the added complexity, and he's also wondering how others are handling it. Would be interesting to see how that issue, and other popular jekyll themese, evolve https://github.com/mmistakes/

[2018-05-27 13:57] johnmackintosh commented on #356
I found this article which suggests that Google Tag manager is key to managing the likes of Disqus and other 3rd party plug ins :

https://brianclifton.com/blog/2018/04/16/google-analytics-gdpr-and-consent/

I found it quite straightforward to get  a cookie consent warning (one with opt in /opt out) to appear.
What I don't know is if the javascript callback hook (whatever THAT is) is actually doin

[2018-05-28 06:07] OCram85 commented on #356
@daattali: I just tried to sensibilize about the usage of beatiful-jekyll and the GDPR.

## About external resources

You're right, beautiful-jekyll doesn't collect any data or uses own cookies. And all of the the used external resources have their own privacy policy. But since we are using these, the browsers IP will be transparent to these CDNs. So I'm forced either to write an complex privacy p

[2018-05-28 07:01] OCram85 commented on #356
@johnmackintosh: I'm dealing with the same javascript problems and cookie consent. It totally depends on the used beautiful-jekyll features. Is it possible to use the liquid markups in a java-script? Maybe this would help creating dynamic scripts for opt-out (like the [matomo cookie](https://developer.matomo.org/guides/tracking-javascript-guide#step-2-asking-for-consent-through-your-privacy-notice

[2018-06-09 00:52] mwirt opened #363 "add padding to .post-image"
Just a suggestion--
.post-image rubs up against the preview text of blog posts on the left on tablet/midsized viewports, on the bottom on narrow ones. consider adding padding/margin on the left and bottom to give more whitespace. great theme btw i'm working with it to make a blog for my mom <3

[2018-06-10 04:41] antnh6 opened #364 "Footer not at the bottom of page"
I was hoping if anyone could give me some pointers on how to fix the problem with my footer on my landing page.  I've tried modifying the margins in aboutme.css, but it still didn't fix the issue.

So here is what I have in my `aboutme.css` which I linked to the front matter of my `index.html` in the form `css: "/css/aboutme.css"`

[code]
Everywhere is fine. Only the landing page has this issue.

[2018-06-10 07:00] daattali commented on #364
This may be the very common HTML problem of how to make a footer stick to
the bottom. It's not specific to this theme, it's a widespread problem. Try
googling for "html footer bottom" or similar words and you'll see there
isn't a one size fits all solution.

On Jun 10, 2018 00:41, "An Nguyen" <notifications@github.com> wrote:

[2018-06-10 16:52] antnh6 commented on #364
Thanks so much for replying so quickly. I will look into that right away.

Do you happen to know how to fix this problem where the avatar circle lays on top of the sections in the title bar when I resize to a smaller window? Ty again.
![selection_001](https://user-images.githubusercontent.com/12288545/41203999-016b98ce-6cad-11e8-893e-70deb5b721c1.png)

[2018-06-10 19:00] daattali commented on #364
That's just what happens if you make your window too small and you have too
many menu items. It's not possible to create something that will fit any
amount of text on any type of screen and look good for everything. But if
you want you can change the CSS so that the circle will move down more and
be underneath the navigation bar instead of in it. That should only involve
a couple css modifications

[2018-06-10 19:54] daattali commented on #363
Can you please show an example before and after your suggested change? Thanks!

[2018-06-12 23:38] mwirt commented on #363
this might be personal preference, but adding whitespace to post-image(not really an issue at wider widths, only tablet/mobile) to me makes things look a little more structurally in sync.

### as is tablet:

### w/ 15px padding-left tablet:

### as is mobile:

### w/ 15 px margin-bottom mobile:

[2018-06-13 01:29] hkhanna opened #365 "Code fences render differently on the bundled version of jekyll than on Github Pages."
Code fences render differently on the bundled version of jekyll than on Github Pages.

Github Pages:
![image](https://user-images.githubusercontent.com/222784/41325187-f808c62c-6e86-11e8-9109-463934bbccbe.png)

Locally with Jekyll 3.5.2:
![image](https://user-images.githubusercontent.com/222784/41325209-1f6e43a4-6e87-11e8-9386-3f82b901fa18.png)

I've narrowed the issue to the fact that GHP seems t

[2018-06-13 05:01] daattali commented on #363
For the tablet, it seems that when you pushed it , the image was no longer a perfect circle. If you could submit a PR that ensures the UI doesn't break in any screen setting, I would happily merge it

[2018-06-13 05:03] daattali commented on #365
Thanks! You can submit a PR that adds a padding to the github page css that matches whatever padding should be there

[2018-06-13 19:51] #365 closed

[2018-06-15 05:59] OCram85 opened #367 "[Question] Multiple authors config"
Hi Dean,
what do you think about extending the authors feature ?

### Current state
It's possible to define one author and his details in the `config.yml`.

### Possible Change
Extend the author config to work with more data (avatar link, name, description ... ) and multiple authors

### How could this be done?
- Either stick with one author in the config.yml
- Using another file like `authors.yml

[2018-06-15 19:31] daattali commented on #367
I'm not sure if you mean:
a) multiple authors for a single post, or
b) just supporting having a different author for different posts, or
c) multiple authors in the footer of the page

Case b) is something that several people have asked me about and I would happily support (it's already very easy to do it). Which one do you mean?

[2018-06-17 17:38] OCram85 commented on #367
Hi Dean,

I tried to explain scenario b. 😃

[2018-06-17 19:51] daattali commented on #367
In that case, one very simple option is to just support an author param in a page YAML, without a need to change the config or to add another file. Do you think a more complex solution is needed?

[2018-06-18 06:47] OCram85 commented on #367
You're right. simple yaml definition in the front matter part should do it. Maybe an additional global setup if you simple want to select the author in the page's yaml part like this:

#### Example page / post

[code]

#### `_config.yml`

[code]

[2018-06-18 14:50] daattali commented on #367
What would additional params include? URL can perhaps be added

On Jun 18, 2018 02:47, "Marco Blessing" <notifications@github.com> wrote:

[2018-06-19 06:58] OCram85 commented on #367
I think it depends on whatever you would like to display. As you said, maybe an url, maybe a short description, avatar (picture path),...
Additionally it also depends on the where you would like to display the information. I'm thinking of adding a footer section, or maybe a simple include snippet which could easily added by other users when needed.

[2018-06-20 07:58] OCram85 commented on #367
Maybe we should create a fork in @jekyll-collective and implement more complex / advanced stuff :smile:

[2018-06-20 14:45] daattali commented on #367
I don't know if that was a joke or not but I don't mind. I strongly want to
keep this theme simple and very beginner-friendly so there will be features
I'll want to keep away

On Jun 20, 2018 03:58, "Marco Blessing" <notifications@github.com> wrote:

[2018-06-29 04:54] mark62726 opened #368 "_config.yml error"
Hi man, good job on your theme 🍡
My error happend whenever i uncomment a line on _config (i.e  navbar-img: "/img/test.png"), the github page send me an error
"Your site is having problems building: You have an error on line 7 of your _config.yml file. For more information, see https://help.github.com/articles/page-build-failed-config-file-error/."
But the line 7 is fine, i never touch it just unco

[2018-06-29 05:05] mark62726 commented on #368
NVM i resolve it by not uncoment a line, just write a new line with the same content

[2018-06-29 05:05] #368 closed

[2018-06-29 05:06] daattali commented on #368
What was the problem exactly?

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

On 29 June 2018 at 01:05, mark62726 <notifications@github.com> wrote:

[2018-06-30 18:45] mark62726 commented on #368
Hi man, thanks for the reply, the problem was:
When i uncomment a line in _config.yml the page deployment send me the error "Your site is having problems building..."
![img](https://raw.githubusercontent.com/mark62726/img-hosting/master/config.yml%20uncomment.png)

So i left the comented line and wrote a new with updated content
Thats how i fixed the issue
![img](https://raw.githubusercontent.com/

[2018-06-30 18:47] daattali commented on #368
I notice there is a space in the beginning of the line in the first image -
I wonder if that was the error? If you add a space as the first character
in line 44, does it break again?

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

On 30 June 2018 at 14:45, mark62726 <notifications@github.com> wrote:

[2018-06-30 18:59] 0xtf opened #370 "[Question] - Remove center logo"
Hi there,

First of all, great work on the project! Much appreciated.

With the option of having the logo to the left of the navigation bar, I was wondering if there's an easy to remove the logo from the middle of the bar?

Didn't feel like butchering the CSS :)

Thank you!

[2018-06-30 19:04] daattali commented on #370
I think you're talking about the avatar? Look in the config file for the
avatar line and remove it

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

On 30 June 2018 at 14:59, Tiago Faria <notifications@github.com> wrote:

[2018-06-30 19:11] 0xtf commented on #370
/me goes looking for the facepalm emoji

Thank you @daattali and apologizes for the noise!

[2018-06-30 19:11] #370 closed

[2018-07-01 20:56] 0xtf opened #371 "[Question] Pages, baseurl and relative paths"
Hi,

To make sure I wasn't, again, bringing up to discussion something that was documented, I went over a couple of websites and the documentation in this project. I couldn't find anything that answered this question.

It appears individual pages are being presented as site/page/, which makes for relative URLs to fail.

Example:

/ of the website holds two files:

- index.md
- contact.md

If I hav

[2018-07-02 05:18] daattali commented on #342
This sounds like an easy fix if anybody wants to submit a PR

[2018-07-02 05:18] #364 closed

[2018-07-02 12:37] 0xtf commented on #371
Hi @daattali,

Please, don't apologize. It's not a problem at all!

I decided to open this because I wasn't sure if I was doing something wrong. Now that I have confirmation I'll work on implementing it in a way that is maintainable.

Do you have any recommendations? I don't mind adding all links with a *../page*.

[2018-07-02 15:12] daattali commented on #371
The best thing to do would be to fix the issue I linked to, I think I gave
suggestions there how to tackle it. I believe creating a small HTML
template (as an _include file) that takes a parameter and does the
necessary checks to see if the given path is local or absolute and always
returns a predictable path is the best way forward. If you want to fix it
just on your repo, then yes using ./ vs /

[2018-07-04 23:02] 0xtf commented on #371
Thank you @daattali. Unfortunately I won't be able to help with the changes that need to take place. Wish I was though. I'll look into implementing with the small ./ vs /.

Thanks!

[2018-07-04 23:02] #371 closed

[2018-07-05 11:33] zhan-gao opened #373 "Add custom social network link"
Hi, thanks very much for the amazing project.

I tried to add custom social network link in the footer by adding the following chunck of code
[code]
into `SocialNetwork.yml` and invoke the link in _config.yml. I already checked the code for the icon on the fontawesome website. However, the icon of researchgate does not display succesfully.

I would appreciate a lot if anyone can help me out. Thank

[2018-07-05 11:42] shyd commented on #373
Hi,

`fa-researchgate` has been added with v5.0.11. Take a look at my PR #325 showing how to update to v5.

[2018-07-05 16:52] daattali commented on #373
Thank you @shyd

I'm still reluctant to upgrade to v5 because but I'm leaving the PR open so that it can be merged one v5 becomes the standard. @zhan-gao follow his advice :)

[2018-07-05 16:52] #373 closed

[2018-07-07 19:20] xorceria opened #375 "please update readme.md"
In order to get the site running, there are some changes needed:

- add or uncomment "gem install tzinfo-data" in Gemfile
- change index.md content to any template which is not the nonexistent "home"
- execute "bundle install" + "bundle update activesupport" before trying to start the server
- execute "jekyll serve" as "bundle exec jekyll serve" or you'll never see past errors
- if you start from

[2018-07-13 14:59] JosemyDuarte opened #377 "It would be possible make this theme AMP compatible?"
I don't know if it would be hard to make beautiful jekyll to follow the AMP "standard". I think that could be useful if it's possible.

https://www.ampproject.org/

[2018-07-13 15:41] daattali commented on #377
That's a great idea! I may take a look one day when I have time, but I'd also be happy to accept contributions for this

[2018-08-08 05:33] Kulbhushan-Chand opened #383 "Problem after loading latest bootstrap css and js from cdnjs server"
Hi, I tried to use the **cdnjs** server link for latest css and js links for bootstrap, instead for **local ones**.
Problem is that the navigation bar shifts to left with small icon.
PS: -
- I am a beginner in css and js.
- Please see the attached screenshots
- I have also created ext-lib tag in front matter to load specific css and js as per author's wish.

![image](https://user-images.githubuser

[2018-08-08 07:39] daattali commented on #383
I'm not sure what could cause that, perhaps you're loading a different css/js version than the version current being used. Try making sure you match versions.

[2018-08-10 04:57] Kulbhushan-Chand commented on #383
Ahh. nice catch.
**The problem resolves after matching versions of js and css**. I have to use ver. 3.3.2 from cdnjs server (The same version is in the local js and css folder).
Thanks
_However if I may request to update the repository to use the latest bootstrap, would it be possible, and right now I have not the expertise to do so._

[2018-08-10 04:57] #383 closed

[2018-08-11 13:31] kulbhushanchand opened #384 "Update to Bootstrap 4"
**There are some issues when using latest bootstrap from cdnjs server. [Here is the link to closed  issue ](https://github.com/daattali/beautiful-jekyll/issues/383  )**.
The theme works well on bootstrap ver 3.3.2 for both js and css.
_**However if I may request to update the repository to use the latest bootstrap**_, would it be possible, and right now I have not the expertise to do so.

[2018-08-16 07:32] Kulbhushan-Chand opened #385 "Why I can't use jekyll serve?"
Hi,
Every-time I have to use `bundle exec jekyll serve` and **it works fine**
### **_BUT_**
and when I use `jekyll serve`, i got the following error -
![image](https://user-images.githubusercontent.com/17742733/44194578-094a7700-a154-11e8-92ef-08c4c5a9acc3.png)

I tried updating the i18n in **gemfile.lock** from 0.9.1 to 0.9.5, but another version conflict in **public_suffix** appears.
![image](ht

[2018-08-16 07:49] daattali commented on #385
Hello @Kulbhushan-Chand , unfortunately as I mention in the README, I cannot provide support/debugging for local installations of the theme. The theme is prioritized as a github online theme, and all the local development features have been contributed exclusively by users who are not officially affiliated with the project

[2018-08-16 11:03] Kulbhushan-Chand commented on #385
@daattali
**It is OK.**
 For now I will stick to using `bundle exec jekyll serve`.

**PS. -** _Let this issue open, other may contribute for solution_

[2018-08-20 14:51] CarlosGrohmann opened #386 "navbar menu on both sides of logo?"
Is it possible to have menu items (navbar) on both sides of the site logo? Currently the menu items are on the right side, and if you create too many of them, they will appear behind the logo. (of course, this varies with window size, but the idea would be for the menu to look good even with smaller windows)

[2018-08-20 23:47] daattali commented on #386
No that's not possible. Since this is a generic theme used by thousands of people, some design decision had to be made and unfortunately nothing is a perfect one-size-fits-all for everybody. Using the template as-is won't achieve that, but since it is open source you're free to change the code however you'd like to do that.

[2018-08-20 23:47] #386 closed

[2018-08-23 20:21] xw321 opened #389 "Unable to show posts under "blog" navbar"
Hi daattali, I really enjoyed the beautiful-jekyll and I've been using it to build my own page recently.

However I have encountered an issue when I tried to display posts under the "blog" navbar. I have created a blog folder and added an index.html to it, but posts are not listed there. I have checked with other users who has the similar layout but I couldn't find the problem.

An example layout

[2018-08-23 20:30] xw321 commented on #389
nvm fixed!

[2018-08-23 20:30] #389 closed

[2018-09-06 07:58] Shot511 opened #393 "An easy way to change the width of the post's/page's content"
Hey,

Is there an easy way to change the width of the post's/page's content? The default width of the content is too narrow for me.

[2018-09-06 15:18] daattali commented on #393
You may be able to go to the different layout files (under the _layout folder) and simply change the bootstrap widths. For example, col-lg-8 can be changed to col-lg-10

[2018-09-11 17:46] GlobalDataJustice opened #397 "Possible to remove "2018" from the footer?"
Is there an easy way to remove the year from the footer? Thanks

[2018-09-11 17:48] daattali commented on #397
There's no builtin way provided for that. But you can look through the _layout and _include files to try to find where the year is provided and remove it. I don't know which file exactly it's in

[2018-09-11 17:48] #397 closed

[2018-09-13 09:05] andreas-paul commented on #324
Is there any update on the migration to Font Awesome v5? I tried to implement it myself but I can't get the icons of v5 to work. Seems like the cdn's are still on v4 which is quite strange.

[2018-09-13 09:06] andreas-paul opened #398 "Edit footer height"
Is there a way to edit the height of the footer? In my inexperience with jekyll/html, I am unable to find a way to do that. Any help is appreciated!

[2018-09-13 14:39] daattali commented on #324
Not going to be implemented until I have a good reason to

On Sep 13, 2018 05:06, "Andreas Paul" <notifications@github.com> wrote:

[2018-09-13 15:49] daattali commented on #324
You can look at [this PR](https://github.com/daattali/beautiful-jekyll/pull/400) by @shyd if you want to upgrade!

[2018-09-13 16:11] daattali opened #401 "Create Discourse forum for beautifuljekyll - place for people to ask questions and act as a knowledge hub"
I've been thinking about this for a long time - it'd be great to have a [Discourse](https://www.discourse.org/)-type forum where people can ask questions for quick help. I get daily emails about "how do I do X" and there are also github issues sometimes that are simple enough that many members would be able to answer. This would also open up the knowledgebase for everyone to see rather than keepin

[2018-09-18 14:13] AzimsTech opened #403 "Navbar scrolling background"
![navbar](https://i.imgur.com/FQ9WIz4.gif)
Can anyone help me change/remove this **white** **background** from navbar without changing entire web page color?

[2018-09-18 17:34] AzimsTech commented on #403
Solved by removing navbar transition animation entirely. https://github.com/AzimsTech/AzimsTech.github.io/commit/7bae1e62bae349407ea6429916686e6cf416689c

[2018-09-18 17:34] #403 closed

[2018-09-20 07:58] Kulbhushan-Chand commented on #403
@AzimsTech how you have created gif of desktop screen?

[2018-09-22 03:48] Kulbhushan-Chand commented on #384
Thanks for the feedback. Is it possible to make it free from bootstrap via custom css, like this theme - https://github.com/mmistakes/minimal-mistakes

[2018-09-22 10:52] AzimsTech commented on #403
@Kulbhushan-Chand I use [ShareX](https://github.com/ShareX/ShareX)

[2018-09-22 14:48] Kulbhushan-Chand commented on #403
@AzimsTech thanks, this looks awesome.

[2018-09-22 19:50] tobyatgithub opened #405 "How to type math equations in mark down? [help wanted]"
As title...

I searched and the only plausible answer for that I found was to use codedogs or other 3rd party websites to create math equations as images and then import back those images in mark down.

I'm wondering are there any better way, or any tutorial of doing this? Something more similar to latex markdown

(I search through markdown resources and went through markdown classes but didn't fi

[2018-09-22 20:06] daattali commented on #405
I'm not sure what the best way is. This is more of a general jekyll question. I think using third party solutions, like using an image or something like that, is the way to go from what I recall, but it's a Google question!

[2018-09-22 20:06] #405 closed

[2018-09-24 06:52] OCram85 commented on #384
I personally think using the bootstrap framework for beautiful-jekyll has 2 huge advantages:
- Customization to individual needs is much easier with a detailed underlying component based framework.
- Using bootstrap guarantees you the help of a big community.

Like already said, it's only my personal opinion. But maybe it could be worth thinking about a reboot for this theme with bootstrap 4 - at

[2018-09-24 13:56] agroconscious opened #406 "Google analytics tracking code should be in head tag instead of end of body"
Tag Assistant  returns a `Code found outside of <head> tag ` when i test my site.

When i click on more information, it says;

[code]

How do i fix this?
thanks, my first attempt with jekyll

[2018-09-25 08:50] daattali commented on #384
@Kulbhushan-Chand thanks for your suggestions. I don't think the theme will ever be completely standalone, using bootstrap as a core theme adds a lot of value and consistency. While I don't see the removal of bootstrap happening, upgrading to bootstrap 4 may happen in the future

[2018-09-25 09:14] daattali commented on #406
Thanks for bringing this up. Historically, there was a debate about where the google analytics code should go, and it used to be a better idea to place it at the end of the page. Now it's recommended to have it at the top, inside the head tag, so that it can also track pages that haven't finished loading. That's what the recommendation is saying. The fix is by moving the google analytics code that

[2018-09-25 10:40] Kulbhushan-Chand commented on #384
@OCram85  @daattali  Thanks for your feedback. You are right about bootstrap. Hope we will soon see the latest addition of bootstrap 4.

[2018-10-01 16:48] clearwater-trust opened #410 "my beautiful-jekyll site was flagged by @github"
I was wondering if @github is reversing course on serving jekyll sites?
Has anybody else experienced issues?

[2018-10-03 14:10] alexisrolland opened #412 "Github Badges Not showing up"
Hello,
I have the following page **index.html** and I'd like to display the Github Badges to Followm Fork, Star, etc... I've following the instructions in the README but badges don't seem to show up. Here is my YML front. Am I missing anything special?

[code]
Here is the page: https://mobydq.github.io

[2018-10-03 14:23] alexisrolland commented on #412
I think I understand, is it because this feature only works on Posts and not on Pages?
I would be nice to have it on Pages too.

[2018-10-05 02:37] daattali commented on #412
It does work, but only in `layout: post` pages. I just tried forking to a brand new website daattalitest.github.io

It's not showing up on https://deanattali.com/beautiful-jekyll/2015-02-20-test-markdown because that's not an updated version of beautiful jekyll.

[2018-10-05 17:09] #410 closed

[2018-10-20 21:03] daattali commented on #406
Solved

[2018-10-20 21:03] #406 closed

[2018-11-13 18:43] dewrs opened #425 "Website not mobile-friendly"
Good day,
Firstly I would like to thank you very much for offering such a beautiful and easy to understand Theme/Tool.
I am not a computer expert, but managed to make my own website. Unfortunately I cannot figure out how to adjust the settings to allow my site to show properly on mobile devices. It currently will not center and looks off in general. Which parameters will have to be adjusted to rea

[2018-11-13 19:56] JackGruber commented on #425
Hi,

i think your problem is the word "Wirtschaftsjuristen"
![grafik](https://user-images.githubusercontent.com/24863925/48438797-11cb4180-e785-11e8-95ee-7b7419ccdd0c.png)

You can reduce the  `.intro-header .page-heading h1` font-size for ` @media only screen and (min-width: 768px) `
https://github.com/dewrs/dewrs.github.io/blob/master/css/main.css#L538

[2018-11-14 09:01] dewrs commented on #425
Thank you for your quick response. I changed the amount of pixels used in line 538 as you described. This improved the desktop version, but unfortunately no changes to the phone viewability. Due to your suggestion I am also confident that changing the length of the title will solve my problem.

[2018-11-14 09:03] daattali commented on #425
@dewrs I agree that having a very long word is going to be problematic on narrow devices, such as phones. This is not a limitation of this theme specifically, it is a problem that every website has to deal with.

@JackGruber thanks for helping

[2018-11-14 09:03] #425 closed

[2018-11-18 18:38] bakera1 commented on #195
Tried the head.html update and worked pretty well for me.

[2018-11-23 15:39] VincentTam commented on #115
@daattali As an Octopress and Disqus user for three years (my GitHub Pages), I can provide another rationale for @vietanhdev's request for Staticman support.  I suffered from the URL change after switching timezone.  I tried refactoring the comment paths on Disqus's online platform, but the embedded box in my old blog still display the wrong hyperlinks.

More importantly, under Disqus's model, eve

[2018-11-23 15:47] bidyutchanda commented on #332
I racked my brain over this. Thank you. Hi @daattali , I think you should add this as a bold text in the repo's readme.

[2018-11-23 22:00] daattali commented on #115
@VincentTam I would be happy to accept a PR to support staticman if you,  or anyone else, would like to add it

[2018-11-23 22:02] daattali commented on #332
Sure, feel free to add it to the README at the appropriate place and I'll accept the PR

[2018-11-23 22:46] VincentTam commented on #115
@daattali I'll look into this after exams in two weeks, but I don't actually know Jekyll's template code (nor CSS), so it's possible that I end up without success like my feedback to halogenica/beautifulhugo#226.

Unlike my PR for Beautiful Hugo, I'll separate this support into two PRs (one for Staticman support and another one for Markdown preview) since they involve different technologies.  For

[2018-11-24 09:11] VincentTam commented on #115
Agreed.

[2018-11-30 17:01] bidyutchanda opened #429 "Is Python syntaxing supported?"
As mentioned in the sample post files in **_posts** folder, the javascript syntax is allowed and is working fine. But when I replace it by

[code]
it does not show by Python syntaxing. It shows very little or no syntaxing actually. So I have to syntax the python scripts by javascript syntax too, which is okay but not perfect. It shows up in Github readme but does not get reflected in the website p

[2018-12-04 11:57] vlavorini opened #432 "Configuring Google Analytics"
Hello,

    I'm trying to configure this service, and I tried with:

- insert the ID at the line `google_analytics: "UA-xxxxxxxxx-y"`
- create the file gTag.js, and adding it to the line  `gtag: "myGtag.js"`

But none of the two methods appear to work.

Can you please point me to where I am doing wrong?

Thank you

V

[2018-12-04 12:43] vinisalazar commented on #312
Hi @daattali . First thank you for this wonderful theme. I am having trouble placing a favicon.  I placed a favicon.ico image in the root and added this line to the _config.yml:
`favicon: "/favicon.ico"`

It did not work. Am I missing something?

Thanks

[2018-12-10 13:57] AzimsTech commented on #432
Me too. It just doesn't seem to work

[2018-12-10 14:08] OCram85 commented on #432
Did you checked if the script tag is included in the html head section?
Do you get any JS errors in console?

[2018-12-10 17:15] bidyutchanda opened #434 "Uploading .ipynb file?"
Hi Dean,

Is a Jupyter notebook .ipynb file considered a post? Because you said somewhere in Readme that only files containing dates in yyyy-mm-dd-<filename>.md gets considered as a post.

So can I directly upload .ipynb files as posts or do I have to convert them into Markdown files and then upload them?

[2018-12-10 20:00] daattali commented on #434
Jupyter notebooks will not render like you want them to. Jekyll does not support that out of the box to my knowledge. You can search (on google or any jekyll forum) for ways that people get their python notebooks to render on jekyll websites, it's not something I'm familiar with.

[2018-12-10 20:00] #434 closed

[2018-12-11 04:46] AzimsTech commented on #432
I have merged #433, https://github.com/AzimsTech/AzimsTech.github.io/commit/6913dc424cedab1382e0a6e4548cde910c2be79c

@OCram85
1. No Google Analytics script found on [my page](https://i.imgur.com/A5Ui6hT.png)
2. I didnt get any JS errors

[2018-12-11 05:31] #432 closed

[2018-12-11 08:33] vlavorini commented on #432
There is still something wrong: Even with this mods, Google Analytics do not get signals (at least for me..)

Below a screenshot of the Fifefox inspector: the script is in both in the Head section, and in the footer. Please tell me if this is how it should be.

<img width="1010" alt="screen shot 2018-12-11 at 09 13 02" src="https://user-images.githubusercontent.com/8724860/49787441-fffaa100-fd26-1

[2018-12-11 08:46] OCram85 commented on #432
Like mentioned in the [docs](https://developers.google.com/analytics/devguides/collection/analyticsjs/) the tracking script should be placed in the `<head>` section.

I don't see any problems in your snippets.

I'm just guessing:
- I's it possible to limit the tracked page hits by the domain name? - Maybe you need to `whitelist` your domain `vlavorini.github.io` in GA?
  - I had a similar issue wi

[2018-12-11 09:56] OCram85 commented on #432
@daattali: Hey Dean, I guess you introduced this feature because you are using it yourself. Did you ever noticed a similar behavior?

[2018-12-11 19:45] daattali commented on #432
@vlavorini I just tested this from scratch. I forked this repository 5 minutes ago, went to google analytics and created a new Property, and added the new tracking ID into the config file of the new repo. [This is the only thing I had to do](https://github.com/daattalitest/daattalitest.github.io/commit/5ef9d560f24fb1c7db5b23b4159f362a3d52783f). I do see myself on the google analytics site.

![imag

[2018-12-12 16:44] bidyutchanda opened #435 "How to render Python Syntaxing?"
I read everywhere on the Internet about enabling Python syntaxing. And that now Jekyll supports Rogue.

I am using

{ % highlight python % }
code
{ % endhighlight % }

But still Python syntaxing is not being rendered.

And I see that the css file in the /css folder is named as pygment_highlights.css and not syntax.scss as has been mentioned in some Stack Overflow answers. I do not know the differe

[2018-12-12 16:44] bidyutchanda commented on #435
And btw, @daattali , thank you for solving my previous queries.

[2018-12-12 17:37] daattali commented on #435
Remove the space between { and %, it should work

[2018-12-12 17:37] #435 closed

[2018-12-12 19:32] #429 closed

[2018-12-13 11:56] VincentTam commented on #115
Sorry @vietanhdev @daattali I'm abandoning this unless I found a way to get this to [get this work on GitLab](https://gitlab.com/VincentTam/beautiful-jekyll/-/jobs/134051594).  I imported this repo to GitLab, did the site config on a `gl-pages` branch and added the generated `.gitlab-ci.yml`, but I received a [runtime error](https://gitlab.com/VincentTam/beautiful-jekyll/-/jobs/134051594).

[code]

[2018-12-16 16:58] gpotter2 opened #438 "Implement OpenGraph support"
Hi & Thanks for this amazing project !

beautiful-Jekyll is missing OpenGraph tags support, see http://ogp.me/
It means that pages in "preview" mode when for instance linked on facebook, discord... are poorly displayed.

I don't currently have the time to draft a proper implementation, so am currently hard-coding them in each page...

[2018-12-16 17:07] #438 closed

[2018-12-16 19:11] daattali commented on #438
OpenGraph support is already implemented.

[2018-12-23 18:33] bidyutchanda opened #441 "Google Adsense Integration"
Hi @daattali, I was going through your website last day and saw that some ads are showing up. Presuming those are Google Ads, can you direct me to a complete step-by-step process by which you integrated Adsense into your website?
I saw many tutorials on how to integrate Adsense into a Jekyll website, just wanted to make sure that they will work.

[2018-12-23 18:35] bidyutchanda commented on #441
Like this tutorial.
https://mycyberuniverse.com/add-google-adsense-to-a-jekyll-website.html
Can you please check this and tell me if this method works on B Jekyll?

[2018-12-23 19:02] bidyutchanda commented on #140
Here, by root you mean the main folder of the website or the /img folder? @daattali

[2018-12-23 19:49] JackGruber commented on #140
Hi, the main folder of the Website.

[2018-12-23 21:06] daattali commented on #140
Main website folder

[2018-12-23 21:06] #140 closed

[2018-12-24 06:01] daattali commented on #441
I am not using google ads. I'm using Carbon Ads. You need to contact them to see if they will allow you to use their ads, and if they do then they'll help you integrate it into your website. If you want to use google ads, you can probably get that working as well by following similar steps to the ones in the link you sent.

[2018-12-26 07:18] hepengfei opened #443 "bug fix Dockerfile for permission error"
docker build -t beautiful-jekyll "$PWD" break with the following error:

The jekyll/jekyll images had added a new user and group jekyll:jekyll, so we
must copy file with the right permissions.

[code]

Following is my patch for this bug fix.

[0001-fix-Dockerfile-COPY-file-with-chown-for-jekyll-jekyl.patch.zip](https://github.com/daattali/beautiful-jekyll/files/2709692/0001-fix-Dockerfile-COPY-fil

[2018-12-30 11:23] mbrossar opened #446 "Add markdown icon"
Hi Dean,

Looking at your "about me" page at [https://deanattali.com/aboutme/](https://deanattali.com/aboutme/),
I am wondering how can we use the icons (e.g. the suitcase, the ball) in a markdown file, or in an HTML file ?

[2018-12-30 21:30] daattali commented on #446
They're not markdown icons, they're font awesome icons. You can read about them and see all the possible icons you can use on fontawesome's website https://fontawesome.com/

It's the same icons that are used in the footer for the social media icons. Here's an example usage in beautifuljekyll to give you a sample of how it's used https://github.com/daattali/beautiful-jekyll/blob/364604551d151cad89b

[2018-12-30 21:30] #446 closed

[2019-01-05 23:35] utkuozsan commented on #312
Hi @vinisalazar,
Add the below line to _includes/head.html under <head> section.It will work.
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">