[2019-01-06 08:33] bidyutchanda opened #447 "Font change for entire website"
Hi Dean.
Can you point me towards the file which will exactly let me change the style of the whole website? Mainly fonts and colors?

[2019-01-06 14:53] daattali commented on #447
It should be the main.css file

On Sun, Jan 6, 2019, 03:33 Bidyudipta Chanda, <notifications@github.com>
wrote:

[2019-01-22 17:35] heshameraqi commented on #393
This works, I think the issue should be closed.

[2019-01-23 02:51] #393 closed

[2019-01-27 05:48] daattali commented on #447
There's special CSS rules where for when different widths of the browser. Search for "media" in the css file and you'll find them

[2019-01-28 00:11] maique commented on #447
Thank you so much. I'll look into it.

: instagram.com/maique
: maiquemadeira.com

On Sun, Jan 27, 2019, at 05:48, Dean Attali wrote:

Links:

  1. https://github.com/daattali/beautiful-jekyll/issues/447#issuecomment-457891210
  2. https://github.com/notifications/unsubscribe-auth/ADO55gZEbKem-WhuB_H2dgdVO8iOrvhlks5vHT2igaJpZM4ZyUlz

[2019-01-31 13:16] abiyug opened #453 "YAML front matter parameters "bigimg" and "comments" not working"
Thank you for submitting an issue!

Please only submit bug reports or feature suggestions. Please do not submit support requests and general help questions in this forum.

I have added the **bigimg** parameter as described here https://github.com/daattali/beautiful-jekyll, and added the images and relevant path, but the images do not render on the front page. Here is what I have in the YAML front

[2019-01-31 17:49] abiyug commented on #453
Thanks for taking time to respond Dean! One of the early adapters o jekyll, I forked the version about 3  years ago., Just went over the YAML front matter on the README, and it  does NOT include `"bigimg" `parameter.  Given that, what is the best route forward if I want `bigimg` feature enabled?

[2019-01-31 18:19] daattali commented on #453
Unfortunately that's one issue that doesn't have a good solution (keeping a
fork up to date with the original). You can try to look at my code or my
commit history and copy the relevant bits of code to your repo. Or it might
be easier to just save for current config file, posts, and whatever other
content you have, then re-fork mine and then add all your content. There's
been a lot of features ove

[2019-01-31 18:32] abiyug commented on #453
Ok! Thanks for your suggestion!

[2019-02-04 11:47] LupusE opened #454 "German translation in ui-text.yml"
You did a amazing Job with this template. I really like it as base for my own project.
So I'd have one error and one request for improvement. All regarding the German translation in ui-text.yml.

[...]
  comment_form_email_label   : "E-Mail-Ad~~d~~resse"
[...]
There i one d too much. the word is 'E-Mail-Adresse.

The 'Sie' is very formal. Meanwhile even in Germany is the 'you' well accepted. Espec

[2019-02-04 17:01] daattali commented on #454
Thanks for the feedback! Would you mind creating a pull request to make these changes?

[2019-02-05 09:05] thestumbler commented on #453
For completely different reasons, I just finished updating my version of you theme.  I can attest, it wasn't very difficult for me (and I hadn't updated since early 2016).  In fact, I thought I had read on a forum post somewhere that you had abandoned Beautiful Jekyll, so in the back of my mind, I was worried about how hard it was going to be to change themes.  I had made some very minor tweaks to

[2019-02-05 16:04] daattali commented on #453
I'm glad to hear it wasn't too bad. I wonder where you read that the theme was abandoned? The frequency of updates has significantly slowed down but that's in large part thanks to the fact that it's been around long enough that it's stable by now and most major features I wanted to implement have been done

[2019-02-06 01:22] thestumbler commented on #453
I wondered that, too, and poked around, and found [this post](https://github.com/daattali/beautiful-jekyll/issues/237#issuecomment-327560646).  I didn't understand at the time that you were only talking about the gem, not the whole theme.

Thanks for your continued efforts maintaining this theme.  I think I've now structured my files and directories so that future updates will be pretty simple to

[2019-02-06 08:01] LupusE commented on #454
Thanks a lot for your patience :)

[2019-02-06 08:01] #454 closed

[2019-02-06 21:32] johnmackintosh commented on #356
@Ocram85 : I honestly don't know anywhere near enough about JavaScript to answer that, sorry.

I have the consent pop-up working, and I also added a privacy page detailing exactly what information _may_ be captured.
I opted to make Google Analytics less precise, and disabled social media sharing options.
I'm not sure what else to do with this?

[2019-02-07 01:16] VincentTam opened #457 "Nokogiri venerability"
I received email from GitHub from two weeks.

![screenshot_2019-02-07-01-57-41](https://user-images.githubusercontent.com/5748535/52384582-67f70a80-2a7e-11e9-85ed-29ffd4694130.png)

[2019-02-07 02:34] daattali commented on #457
These alerts do come up from time to time. I myself never used the ruby version of this theme - I made it especially for github pages. So any problems like these have to be fixed by the community.

[2019-02-07 09:46] OCram85 commented on #356
@johnmackintosh : thanks for your feedback

I've also added the consent pop-up and privacy page. In addition I had to host the domain by my self.

But I'm not quite sure if we have to implement a opt-in for the cookies or something similar.

[2019-02-08 11:19] dkoprowski commented on #339
Hi @daattali - some news on that :) ?

[2019-02-08 15:43] daattali commented on #339
Sorry @dkoprowski I still haven't looked! If you're familiar with it, I would not oppose to a pull request if you'd like to help :)

[2019-02-08 18:25] dkoprowski commented on #339
Unfortunately I'm not familiar with Ruby and Gems ;)

[2019-02-09 18:14] fancyerii opened #460 "staticman comments do not show in post"
I found comments are added in _data/comments/post-name/comment-xxx.yaml. But In the post I can't see the comment. What's wrong?

[2019-02-09 20:13] daattali commented on #460
@VincentTam might be able to help

[2019-02-09 20:18] VincentTam commented on #460
Yes, it does show up.  You may check the GitHub Page.  Please feel free to ping me for any questions.

[2019-02-17 15:29] anupamjamatia opened #462 "404 Page"
Hi, I was trying to build a simple website following the steps described [here](https://github.com/daattali/beautiful-jekyll#build-your-website-in-3-steps) but getting the 404 page while i enter the url.

steps I followed -
1. Forked the repository
2. Changes done in _config.yml file
3. Committed
![screenshot from 2019-02-17 20-52-34](https://user-images.githubusercontent.com/12252279/52915164-aef

[2019-02-17 16:31] daattali commented on #462
Your username is "anupamjamatia", not "aj". If you follow the instructions exactly as laid out in the README, the website would work. Please only open an issue if you believe there is a bug with the software, not to ask for help. If you need personal help, you should post on a jekyll forum.

[2019-02-17 16:31] #462 closed

[2019-02-17 16:33] anupamjamatia commented on #462
ok thanks.

[2019-03-16 23:25] AzimsTech opened #466 "Unordered list ignore margin?"
I was wondering if anyone had a similar issue. This problem only happened on mobile as you can see below:

![example](https://i.imgur.com/aUDbEBB.png)

[2019-03-17 01:17] daattali commented on #466
This is not specific to this theme or to jekyll in general. It's likely a
general CSS question. I think stackoverflow/google would be a good place to
search for a solution

On Sat, Mar 16, 2019, 19:25 Wan Muhammad Azims <notifications@github.com
wrote:

[2019-03-17 08:02] AzimsTech commented on #466
Okay, I will look into that. Sorry for inconvenience.

[2019-03-17 08:03] #466 closed

[2019-03-17 09:38] AzimsTech commented on #466
https://github.com/AzimsTech/AzimsTech.github.io/commit/ebaa4cc2e866ed87ad9ec67a84490ff2146e63e1 has fixed my issue.

[2019-03-20 12:28] wfsimao commented on #312
Hi @niccokunzmann , put the image in the **/img** folder.
Add this line to **_include/head.html** <link rel="icon" href="{{site.baseurl}}/img/favicon.png">

[2019-03-26 16:17] cryptic0 opened #470 "Local development: install without Docker?"
Author: please ignore!

This question is mainly for those who have implemented this theme locally.  Can this be done without docker?  If it's just a theme, then why not just install it as such within a site generated by jekyll?  I don't wish to deploy my site to github pages.  Thanks for any feedback.

[2019-03-26 20:09] hugo-ma-alves commented on #470
Hello

With the Gemfile of the master branch I couldn't run it.
But I deleted the Gemfile.lock and did a "bundle install" and now it is working.
You can check my gemfile.lock [here](https://github.com/hugo-ma-alves/hugo-ma-alves.github.io/blob/master/Gemfile.lock)

[2019-03-26 20:41] cryptic0 commented on #470
Do you mean you replaced the original Gemfile.lock with the one you linked above?

[2019-03-26 21:36] hugo-ma-alves commented on #470
Just delete it and run "bundle install" again.
It should get the most recent dependencies.

[2019-03-26 22:16] cryptic0 commented on #470
I have libxml2 (2.9.9_2) installed already.  When I tried your method, I got strange date time errors:

``bundle install`` was successful, but the following results in many errors.

[code]
I should mention that I have another site with a different theme that I am working on and "jekyll serve" works fine with it.

[2019-03-26 22:27] hugo-ma-alves commented on #470
The date on your file name is invalid.

Change it to something else, like:
2019-03-26-welcome-to-jekyll.md

[2019-03-26 22:43] cryptic0 commented on #470
I am not sure those files are meant to be touched.  As they are deep inside the ``vendor/`` folder.  Google search indicates that files with empty time stamps are used as templates to name new posts with current ``date``.

Another problem is that jekyll seems to be looking inside ``vendor/.../ruby/2.3.0/`` instead of ``...ruby/2.6.0/``.  Not quite sure what to make of this.

[2019-03-26 23:04] hugo-ma-alves commented on #470
Sorry my bad, I haven't noticed that they were on the /vendor.
I'm no ruby expert so I can't help you on this :(

[2019-03-26 23:18] hugo-ma-alves commented on #470
Sorry I am sleeping today, once again I haven't read the full question 😄

So you installed the vendor stuff inside your project folder. So all those files are being read by Jekyll.
You just need to ignore them on _config.yml. Edit the file and add vendor/ to excludes.

For example, if you run `bundle install --path ./vendor` you can change your _config.yml file to exclude the vendor/ directory:

[2019-03-27 15:12] cryptic0 commented on #470
That works.  Strangely enough, I redid all steps by recloning the repo, deleting Gemfile.lock, running bundle install and this time I did not have the ``vendor/`` folder.  So I did not need to exclude it.  All is well. Thanks for your help.

[2019-03-27 15:12] #470 closed

[2019-03-27 15:26] daattali commented on #470
I haven't followed this conversation, but if there's anything incorrect
with the current setup or documentation, please do let me know!

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

On Wed, 27 Mar 2019 at 11:12, Vikram Chhatre <notifications@github.com>
wrote:

[2019-03-27 17:22] cryptic0 commented on #470
Dean, I will update your section on "local development" to include "without Docker" instructions and send you a pull request.   All credit goes to @hugo-ma-alves.

[2019-03-27 21:35] cryptic0 commented on #398
Check ``_includes/footer.html`` file.  The size of the footer is coming from ``div class``.

[2019-03-28 08:33] julian10m opened #471 "Image overlapping tabs"
Hi Dean, thanks a lot for the theme.

I think there is an issue with the tabs ("About Me", "Projects", etc)  and the image. More precisely, I am referring to the moment when the display switches from a to b:

a) displaying all the tabs,
b) displaying just the button that gathers all the options (more for mobile case).

In my case, I added a 4th tab. What I see that happens is that, when I decrease

[2019-03-28 16:10] daattali commented on #471
Hi Julian,
Thanks for your concern. Unfortunately design issues like these are impossible to prevent in a generic way. For a single website you can get the layout to work the exact way you want it to by modifying the CSS to be pixel perfect, but in a generic template that supports any browser width and any arbitrary number of tabs, you're bound to run into these sort of issues. My best suggestion

[2019-03-28 17:45] cryptic0 commented on #471
I was just about to open a new issue with this exact comment.  Now I will look into CSS.  My problem has been that on pages that don't have a lot of content, there is no way to scroll down to make the avatar image dissolve as it normally does.

[2019-03-28 17:54] cryptic0 commented on #471
``main.css``: ``L196:200``

I made the following changes:
[code]

[2019-03-28 22:45] cryptic0 commented on #37
It is not clear how to supply a list of images.  I can get one image to work with ``bigimg: img/test.jpg``, and I have tried various versions to provide multiple images, but I am not getting the syntax correct.

[code]

[2019-03-29 06:16] daattali commented on #37
you can look at my website on github to see an example

[2019-04-01 19:08] cryptic0 commented on #37
I took a look, but it's not clear what options were removed from the yaml header for this page.  I don't see the yaml header in your website's ``index.html`` page. Was it removed and the page was fully written manually?

[2019-04-01 19:16] daattali commented on #37
https://github.com/daattali/daattali.github.io/blob/master/index.html

I'm not sure what you mean by options that were removed. That is the index page for my website and it shows how to use bigimg.

[2019-04-08 21:46] cryptic0 commented on #312
Which line?  In any case, edit by @utkuozsan works which keeps the favicon in the root.

[2019-05-07 05:22] nateforsyth opened #486 "Pagination showing only the last item"
Hi Dean,

Loving your work, still trying to get it working as I expect it to.

In my _config.yml, I have the following:
`
**paginate: 10**
`

Once I hit 11 posts, all that is displayed within the pagination is a single item; the last one.

This is Ruby right? It's something I'm not familiar with, and have been bumbling my way through trying to resolve this pagination issue.

Here's the home page a

[2019-05-07 05:38] daattali commented on #486
That's strange. If you clone my project and not change anything, does the pagination work properly? If you clone my project and change the pagination parameter does it work?

[2019-05-08 05:03] nateforsyth commented on #486
Hi Dean

Thanks for replying, it's appreciated.

I found what caused the error - I somehow ended up with a permalink in the index.html file; removal of which has reinstated pagination as it should have been.

Definitely a case of operator error. I'll close this as such, leaving it here in case anyone else is as stupid as I was :D

---
**permalink: /index.html**
layout: page
title: Dreams of .DEV
s

[2019-05-08 05:03] #486 closed

[2019-05-08 10:41] LupusE opened #488 "SocialNetworks.yml: add pluspora without font awsome icon?"
Hi Beautiful-Jekyll Team,

I'd like to add pluspora to **_data/SocialNetworks.yml**. You've already done such great work, that it is easy to Implement ... But wait, the Icon is missing.
A quick search at [fontawsome](https://fontawesome.com/icons?d=gallery&q=pluspora), and it shows: Nothing. Also the 'asterisk' or 'star' Icons are not suitable.

I've already found https://pod.geraspora.de/posts/41

[2019-05-08 10:53] LupusE commented on #488
Okay, not necessary. The icon is called [diaspora](https://fontawesome.com/icons/diaspora?style=brands)

[code]

[2019-05-08 10:53] #488 closed

[2019-05-10 05:16] Roothash41 opened #490 "How to change the language setting of staticman comments"
Hi there, I want to change the default language to Chinese.

I found there is a translation file in `_data/ui-text.yml`, the default setting is English, but I dont know how to change the default setting to **Chinese  (zh-CN Chinese - China)**.

Anyone help me please? :)

[2019-05-11 09:18] binlidaily opened #491 "There is no margin in header suddenly"
So sorry to disturb you, I cannot fix this indeed.

There is no margin in header suddenly as you can see in following picture, I don't know why, I don't remember I had changed the html file such as head.html or header.html or nav.html, could you please tell me which css file or html file I should review.

![image](https://user-images.githubusercontent.com/5987437/57567717-190b9900-7410-11e9-8310-e

[2019-05-13 06:50] #490 closed

[2019-05-13 06:52] Roothash41 commented on #490
add **`locale : "zh-CN"`** into **`_config.yml`** file.

[2019-05-14 16:41] homebrewman commented on #491
Hi binlidaily,
You should assign @daattali . He can not track this issue if you don't mention him.

[2019-05-14 16:45] daattali commented on #491
@binlidaily it's not easy for me to track the changes you've made. You can look in your repository's git history for changes made to these relevant files. I noticed that all your git commit messages simply say "commit" so I suggest in the future you use more descriptive names to make it easier for you to backtrack and see what changes happened. This is essentially a troubleshooting exercise for yo

[2019-05-14 16:45] #491 closed

[2019-05-15 12:43] songbaoqiang opened #493 "new post file not show"
After i created a new page using prose, the new page can't show. why?

[2019-05-15 12:57] #493 closed

[2019-05-15 22:05] abelcheung commented on #339
Some great (and bad) news: I have managed to using it as `remote_theme` in Github Page (running in [one of my pet project](https://abelcheung.github.io/rifiuti2/) right now, thanks for the great work!), though quite a lot of files have to be cloned manually in order to get it to work.

With my (limited) understand of the `remote_theme` feature, the following 4 folders can be utilized without copyi

[2019-05-21 15:13] ComFreek commented on #195
I spent a few minutes figuring out how to embed math. I hope others will find this useful, enjoy 😄
<hr>

## 1 Minute Guide to Embed Math

1. Get the CDN link for the MathJax version/variant you desire, e.g. `https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML`<br>
  Despite the given version `2.7.5`, this always references the **latest** version! Learn more at [

[2019-05-21 16:53] VincentTam commented on #460
@daattali Please consider closing this issue because

1. I've tried to reproduce the reported behavior.

       $ git clone git@github.com:VincentTam/fancyerii.github.io.git
       # checkout last commit created by Staticman, and create a gh-branch from there
       $ git log --author "Staticman Lab" --pretty="%h" | xargs git checkout
       $ git checkout -b gh-pages
       $ git push -u origin g

[2019-05-22 06:51] chimimode opened #496 "Documentation Translation Guidelines for readme file"
Hi,  I like this theme so much and I would like to translate the readme file into Korean, my language.
(Even now this sentence is written as a translator and may not be correct.)

Are there guidelines for translating documents? How do you share the translated document?

Thank you

[2019-05-23 18:54] daattali commented on #496
Thanks for offering the translation! Unfortunately I don't know of any standard way to offer translations of README files on github. It's a great idea, but I've never seen it so I'm not sure how to do it in a sensible way. If you find information elsewhere about translating README files, I'd be very interested!

[2019-05-24 23:15] tushar-97 commented on #491
@binlidaily Were you able to fix this? I am having the same issue.

[2019-05-25 00:42] binlidaily commented on #491
Not yet, I tried to use the raw code to rebuild my site, that didn't work. I found that it's all right if I use Safari, but not Chrome.

[2019-05-25 02:13] daattali commented on #491
I tried creating a new website from this theme right now and saw the same problem you described.  So it wasn't something in your code. It's fixed now.

In the future, if you find a problem, the best thing to do is see if the problem is with your code or mine - if it's with my code then I will fix it.

[2019-05-28 20:40] abelcheung commented on #339
For those interested, one can check out [my example repo](https://github.com/abelcheung/site-test/) which is using a restructured beautiful-jekyll as remote theme. At a minimum, only a few config files and top level pages need to be copied in order to establish a working site. In particular, notice addition of `plugin` entries and `remote_theme` setting in `_config.yml`.

On second thought, I doub

[2019-05-30 19:06] abelcheung opened #500 "Some absolute URLs broken when theme used as project page"
This only concerns the case when theme is used as project page (baseurl non-empty). Although the layout templates and misc files have taken care to only prepend `site.url` as absolute url, it won't work if `absolute_url` liquid filter is used. All such links would have project path component inserted twice (like `https://user.github.io/proj/proj/aboutme`), resulting in invalid links.

This affects

[2019-05-30 19:34] abelcheung commented on #500
IMO the root cause is this theme using `site.url` property in a way different from Jekyll accepted standard. Jekyll expects `site.url` to include only up to host name part, and `site.baseurl` contains the project path prefix. [(Reference 1)][1] [(Reference 2)][2]

`{{ '/path' | absolute_url }}` filter works essentially like `{{ site.url }}{{ site.baseurl }}/path`. But for the theme in current stat

[2019-06-07 04:21] #457 closed

[2019-06-07 04:21] #385 closed

[2019-06-07 04:28] daattali commented on #496
Unfortunately I don't think this is a feature that is supported by GitHub. I did a bit of research into it and it looks like some projects simply have "README.fr.md" "README.ko.md" etc. I wouldn't be opposed to you creating a "README.ko.md" file

[2019-06-07 04:30] daattali commented on #471
Glad you sorted it out!

[2019-06-07 04:30] #471 closed

[2019-06-07 04:30] #453 closed

[2019-06-07 04:35] daattali commented on #377
I just read a little bit about how websites become AMP compliant. It seems like it's not a simple process and it actually adds a lot of complexity and looks a bit like a maintenance hell. Keeping in line with the main idea of this theme - simplicity - I decided not to support AMP

[2019-06-07 04:35] #377 closed

[2019-06-07 04:36] daattali commented on #375
@xorceria thanks for the feedback, and I apologize for the year it took me to reply. If you could please try the current version of the readme and see what needs to be improved, I would appreciate if you could submit a Pull Request

[2019-06-07 04:38] #363 closed

[2019-06-07 04:40] #398 closed

[2019-06-07 04:41] daattali commented on #443
I believe this is now fixed with a recent commit. Feel free to reopen the issue if this is still happening.

[2019-06-07 04:41] #443 closed

[2019-06-07 04:41] #447 closed

[2019-06-07 04:42] daattali commented on #460
Thanks @VincentTam

[2019-06-07 04:42] #460 closed

[2019-06-07 04:44] daattali commented on #500
@abelcheung is this a sub-issue of https://github.com/daattali/beautiful-jekyll/issues/254 ?

I haven't had a chance to look at your recent PR yet, but I assume that PR implements the change you suggest here, is that correct?

[2019-06-07 11:26] abelcheung commented on #500
Yes, you can think of it as a subtask of #254, which covers a whole class of generic issues. However, this issue and the PR I submitted cover entirely different parts.

The essential portion of PR #497 is `css/main.css`, where images would fail to show by default if one follows how it's done in `_config.yml`. Since I have already used `relative_url` filter, it might make sense to use it globally a

[2019-06-08 05:29] daattali commented on #500
I'm usually extremely conservative and against breaking changes, but I think this is something that should be done. You seem to have a great grasp of this concept, so if you find the time, it would be greatly appreciated if you helped fix this "path variables mess" that currently exists.

Even though it's a breaking change, we can include a paragraph that clearly explains how to convert all previo

[2019-06-10 16:15] abelcheung commented on #500
OK, in that case I'll try to prepare a PR by weekend, along with more verbose comments in `_config.yml`. Is extra FAQ needed in this case?

[2019-06-13 18:29] daattali opened #505 "Consider removing gh-pages branch and instead recommending using the master branch even for project pages"
GitHub now allows the website to be built directly from the master branch, not only from `gh-pages`. For projects that are primarily a software project, and the code in their git repo is code for their software, it still makes sense to use `gh-pages` as their website branch. But since beautifuljekyll it meant to be a website, I think it makes sense for this repository to be served directly from `m

[2019-06-14 23:48] abelcheung commented on #500
PR #506 submitted.

[2019-06-15 01:13] daattali opened #507 "Consider implementing greedy navigation bar"
This will take care of a very common issue people have, where having too many links in the navigation ends up taking too much space. However, it doesn't solve the issue with links being hidden by the avatar

[2019-06-21 07:49] #500 closed

[2019-06-22 15:56] daattali commented on #507
https://github.com/lukejacksonn/GreedyNav

[2019-06-22 15:56] #375 closed

[2019-06-26 15:21] abelcheung commented on #507
Would it be possible to limit the width of nav link parent container with `max-width` CSS property?

[2019-06-26 15:25] daattali commented on #507
You're asking about adding this CSS in addition to greedy nav, right? Yes that's a good idea, might be a good solution for the avatar issue

[2019-06-28 18:17] VincentTam opened #510 "Update README for GitLab deployment"
In the "[Prerequisites](https://github.com/daattali/beautiful-jekyll/blob/209c71b6752215286ce4a04495bbd1505e9ef997/README.md#prerequisites)" section of the README, it's written that a GitHub account is required.  Nonetheless, it turned out that this theme also works on GitLab, with an addition of [an appropriate GitLab CI config file](https://gitlab.com/adiea/adiea.gitlab.io/blob/f99fcffa/.gitlab-

[2019-07-02 14:54] VincentTam commented on #195
@ComFreek Thanks for quick guide.  For the convenience of future readers who are used to LaTeX's single `$` for inline math, here's a [minimal working sample](https://github.com/mathjax/MathJax/blob/39c61f62a9a8196e6caa189ff5771ea31b7f7379/test/sample-tex.html#L10-L15) to get things work.

[code]

[2019-07-02 18:55] daattali commented on #195
FYI this thread has been linked from the README FAQ section

[2019-07-03 02:34] abelcheung opened #512 "Making code blocks in line with custom page color"
Recently I'm working on some changes to simplify code block styles and allow them to blend in more nicely with custom page background color (through more extensive use of transparency). Would such changes be welcome, or @daattali you would prefer styles staying as-is? About elements with hardcoded color, tables and code blocks come into mind, there are probably other as well. In the case of code b

[2019-07-03 05:04] daattali commented on #512
Will this use pure CSS, or some variables? How much does it complicate the code?

[2019-07-03 09:07] abelcheung commented on #512
Pure CSS. Originally my ambition was to shrink the code while adding support, but it turns out some extra style overriding was needed to overcome existing table styles in `main.css`, so the complexity stays more or less the same right now. Hopefully those overriding can be removed later when tackling table style later on.

[Here is the PoC](https://abelcheung.github.io/site-test2/2015-02-28-test-m

[2019-07-04 09:20] abelcheung commented on #512
Now it is possible to try some bg colors from nav bar.

[2019-07-04 19:25] daattali commented on #512
That looks good. Although I don't think the javascript in navbar items is something that needs to be shown, as cool as it is :)

[2019-07-06 09:35] abelcheung commented on #512
The nav bar javascript is only a one-off hack for you to check out a few color combinations :smile:

[2019-07-06 21:52] VincentTam commented on #115
Update:

1. I've already eaten my words by providing a PR.
2. I've eaten my words again by creating a GitLab demo site with this theme in #510.

[2019-07-06 23:44] abelcheung opened #517 "[Question] Support for "crippled" browsers?"
This may affect any future contributors, so might be best left open or specified in FAQ. By "crippled" browser I mean those still having a non-negligible market share, yet considered not as capable by current web standard. IE &le; 11 is a good example due to its age, or Opera Mini which disables some styling features by design. Both of them [are still relatively widely used][1], when compared with

[2019-07-07 22:42] daattali commented on #517
(I made my comment on your PR asking about browser compatibility before seeing this issue!)

There isn't an official "supported" browser set, but I do prefer to try to be as conservative as possible. I try to be reasonable (nobody cares about IE6 anymore) but I prefer to avoid using new-ish features that aren't widely supported. The `position:sticky` property is a good example of something I'd pre

[2019-07-08 15:17] #512 closed

[2019-07-08 17:49] abelcheung commented on #517
Hmm, I'll take that as, the look and feel as well as website functionality should behave the same across traditional major desktop browsers. That brings in a second question: **how about changes that improve performance/security for current generation of browsers only?**

Again using IE as example: `_includes/ext-js.html` includes a feature utilizing [Cross-Origin Resource Sharing][1] support, whi

[2019-07-08 19:17] daattali commented on #517
It's ok as long as old browsers don't get a regression.

But I would be a bit hesitant to add a lot of performance-related code, in favour of not over complicating the codebase. This theme is used by simple static websites, not complex websites with database queries and other features that make performance a top priority. Even the feature you're referring to in `ext-js.html` I'm not sure how many

[2019-07-08 20:06] VincentTam commented on #505
There's a situation that one separate these two branches.  In case of developping and contributing back to this theme, one might want to test the new features by merging them against the fork's `gh-pages` branch.  The `master` branch exists when one clicks the "Fork" button, and it serves as a base point for new branches.

However, there're usually much more users than developers, so perhaps the f

[2019-07-09 05:16] daattali commented on #505
There are certainly cases where gh-pages makes sense, such as when this theme is used as the website of a code project (in which case `master` would host the actual project codebase and `gh-pages` would host beautifuljekyll).

But I think for the vast majority of users, `master` makes sense and gh-pages isn't necessary. And I think that for the few cases where gh-pages makes sense, it's for people

[2019-07-09 06:49] VincentTam commented on #505
Yeah, of course.  Thinking about some recent repos for Beautiful Jekyll sites using names other than `*.github.io`, I had omitted project page users capabilities.  So let's forget about my proposal.

[2019-07-09 13:38] abelcheung commented on #505
It looks like to me that, how users are integrating this theme into their workflow is a non-issue, under the context of this report. Be it a fork, file copy or whatever, people always do one thing in common: use the `master` branch of this theme as a basis. The `gh-pages` branch of this theme only serves as a distraction as it's unmaintained.

[2019-07-09 13:59] daattali commented on #505
@abelcheung those are exactly my thoughts. But I don't want to actually remove the gh-pages branch because it's used to create the demo site, which I do think is useful to have. Do you have an idea what to do about that?

Another question I'm not sure about is whether it's even possible to set up the repository so that by default when someone forks it into a project page, it will be configured to

[2019-07-09 15:25] abelcheung commented on #505
This one is very easy. Under Setting &rarr; Github Page section, pick `master` branch instead of `gh-pages` branch, and it's done.

![image](https://user-images.githubusercontent.com/83110/60895844-ed821f00-a297-11e9-92f3-28b74a5107e1.png)

If you want it to be forked, serving as project doc / demonstration website, I can see 2 ways possible to make it happen:

#### Create new repo specific for pr

[2019-07-09 16:01] daattali commented on #505
I mean that https://deanattali.com/beautiful-jekyll/ is being served from gh-pages, and I can't serve that from master because master is where the general template is at. The website that i'm serving is a bit different (it has this section for example that I don't want to include in the forked repos)

![image](https://user-images.githubusercontent.com/952340/60904421-06abb100-a241-11e9-888c-4ad38f

[2019-07-09 16:08] VincentTam commented on #505
That's your personal domain, not GitHub's one: `*.github.io`.  Recall that to test the PR for the Staticman integration, you've created https://daattalitest.github.io, so you've actually done almost both of @abelcheung's suggestions.

- Create new <del>organization</del> user: @daattalitest
- Create new repo specific for project doc purpose: https://github.com/daattalitest/daattalitest.github.io

[2019-07-09 16:13] daattali commented on #505
Thanks for your input Vincent.

That **is** my github.io - deanattali.com is the domain name attached to daattali.github.io (https://github.com/daattali/daattali.github.io/blob/master/CNAME)

Creating a new website is not a problem. The problem is that the current one has many links all over the internet, so I do need the previous URL to work.

[2019-07-09 16:23] VincentTam commented on #505
I'm not familiar with CNAME, since a GitHub/GitLab domain would satisfy many amateurs like me.  I'm just wondering the possibility of setting a redirection

https://deanattali.com/beautiful-jekyll/ → https://github.com/daattalitest/daattalitest.github.io

instead of

https://deanattali.com/beautiful-jekyll/ → https://github.com/daattali/daattalitest.github.io

But it seems that this idea doesn't w

[2019-07-09 17:12] abelcheung commented on #505
This is an odd twist. With so many things set in stone, my take is, bit the bullet and have `gh-pages` well maintained. But I don't mean maintaining `gh-pages` as a separated burden. Bundle all custom changes (config, `index.html` additions etc) together as a single patch, then `git rebase` this changeset on top of most current `master`, whenever enough changes in `master` branch are accumulated.

[2019-07-09 17:19] daattali commented on #505
@VincentTam setting baseurl/url on the second account won't work. The domain name that I bought cannot point to two different github users.

@abelcheung yeah I may just do that. Although that still leaves one problem: I would love for new users who fork this repository to only have master serve as their website , not gh-pages, without them having to manually change the project settings. I'll email

[2019-07-09 22:35] abelcheung opened #518 "[Proposal] Simplify css and js options?"
Currently there are multiple variable names associated with CSS usage:

- `common-css` and `common-ext-css` under layout
- `css` and `ext-css` under page
- effectively `layout.common-googlefonts` and `page.googlefonts` are also CSS, only saving a few keystrokes

Would it be useful to just unify them altogether and have a single `css` variable exposed under layouts and pages?

The same applies to j

[2019-07-09 22:48] daattali commented on #518
Unifying sounds like a good idea! As long as users can still specify both common files that are used on all pages, and specific files that are used on individual pages

[2019-07-10 09:22] abelcheung commented on #518
Asking for comment before CSS changes finalise. CSS related settings would be split across `layout.common-css`, `layout.css` and `page.css`. Turns out it's not quite possible to unify into single variable, since some styles are global across whole site, and some others only apply to specific layout. It could be worked around by specifying site-wide styles inside `_config.yml`, but that's quite inc

[2019-07-10 18:00] abelcheung commented on #518
@VincentTam Wish to ask, would you mind if I move Staticman related CSS and JS around, so they become more integrated into the reorganisation idea above? I'm working on CSS for now, javascript changes would be pending later.

[2019-07-10 19:47] VincentTam commented on #518
@abelcheung Please feel free to move the CSS & JS files in the way that you think the best.

Looking back, in the Staticman integration (ported from Minimal Mistakes), I'm not really satisfied with the mixing of JavaScript and Jekyll logic.  A better approach would be to load the data from the HTML tags in the Jekyll-HTML template.  As I prefer Hugo for its speed, I wonder if one can [create CSS r

[2019-07-10 19:56] daattali commented on #518
@VincentTam I'm not sure if this is what you mean, but you **can** use some templating in CSS, see here for example: https://github.com/daattali/beautiful-jekyll/blob/94161dbef714a6ca0be122b46df3ea2b4e6c4064/css/main.css#L15-L18

[2019-07-10 19:57] daattali commented on #518
@abelcheung I personally think that leaving main.css untouched and users adding their own css files is the cleaner solution, from a similar reason to what you said. That's why I wanted there to be a `common-css` field, so that a user can create their own version of main.css that'll be included everywhere. Was there another question in your comment?

[2019-07-10 20:04] VincentTam commented on #518
@daattali Thanks for your answer.  That's exactly what I'm looking for.  However, I would try to avoid this and include Staticman's UI text into the HTML template instead of CSS if possible, since the later is mainly for style.

[2019-07-10 21:03] abelcheung commented on #518
@daattali It's the inclusion order. To guarantee theme CSS and user customized CSS work as intended, they have to be included as second-to-last and last one respectively, regardless of how layouts are included. So I'm thinking of pulling them out of front matter variables and treating them specially.

[2019-07-10 21:12] abelcheung commented on #518
@VincentTam What you want is possible as @daattali has noted. Actually my plan is to convert `staticman-script.html` into a proper .js file instead of script inlining inside HTML, in order to fulfill jQuery loading as a prerequisite. Simply include an empty front matter on top of .js file, and a correct javascript file with needed message would be generated upon site build time.

[2019-07-11 12:58] VincentTam commented on #518
@abelcheung Thank you all for your suggestions.  However, I will submit a PR with a pure JS solution two weeks later, without mixing Jekyll and JavaScript/CSS, like what I've done in [Hugo's Huginn theme](https://framagit.org/staticman-gitlab-pages/huginn/blob/master/assets/js/staticman.js), so that the UI text are loaded to the HTML. That enables portability of the script towards any static blog

[2019-07-11 16:36] IneffableKoD opened #519 "[Question] Custom Social Media Logos"
I manually added Telegram to the social links.

`icon: "fa-telegram"` does not exist, and I can't find out where to add it myself.

Thank you for your splendid work!

[2019-07-11 16:48] daattali commented on #519
The telegram icon is a new addition to font-awesome, it does not exist in the version this theme uses. It exists in font awesome version 5.

This is related to https://github.com/daattali/beautiful-jekyll/issues/324 - if you want to upgrade to the new fontawesome on your website, you can take a look at this PR https://github.com/daattali/beautiful-jekyll/pull/400

[2019-07-11 18:52] daattali commented on #518
@VincentTam sounds good

@abelcheung Are there instances right now where the inclusion order is wrong?

[2019-07-12 02:04] abelcheung commented on #518
@VincentTam That's great, then I'll take care of other javascripts first for now.

@daattali Luckily, not yet. Just that I want to be foolproof and deal with foreseeable problem as early as possible.

| variable | note |
| --- | --- |
| `layout.common-css` | Global CSS used by all layouts |
| `layout.css` | CSS used by some layouts only |
| `page.css` | Per-page CSS |
| `site.css.main` | Theme CSS

[2019-07-12 04:33] daattali commented on #518
It's been years since I touched the css framework, frankly one reason is because I took so much care to set it up properly that I've been scared of breaking it! I initially thought your idea was to combine `common-css` with `common-ext-css` and combine `css` with `ext-css` and convert googlefonts to regular css. That I would be 100% onboard with because it would simplify the code without much risk

[2019-07-12 06:40] abelcheung commented on #518
@daattali Put it simply, it's config variable combining (as you have stated), plus forcefully moving `main.css` to end of queue. Will submit a PR during weekend for your inspection.

[2019-07-23 11:10] danielmpetrov commented on #384
Would an update to the latest Bootstrap 3 (v3.3.2 -> v3.4.1) be a welcome PR?

[2019-07-23 16:14] daattali commented on #384
@danielmpetrov is there a big benefit to upgrading within bootstrap 3? I'm not too familiar with the new features of 3.4 vs 3.3

[2019-07-23 16:22] danielmpetrov commented on #384
@daattali Mostly bug fixes. It will also enable the theme to upgrade jQuery to version 3, which brings security fixes. There is an open PR for this as well - #357

[2019-07-23 16:25] daattali commented on #384
Ah yes I do see that comment you made there. Are there *any* regression bugs or behaviour changes? I'd be happy to update to the latest bootstrap 3 if you can test it out a bit and make sure there are no breaking changes!

[2019-07-23 16:33] danielmpetrov commented on #384
Since it's a point release, there wouldn't be any breaking changes, but I share your concern @daattali. I can go through it in the upcoming days and open a PR if it works out.

[2019-07-23 17:29] daattali commented on #384
Perfect. Yes I don't anticipate big (or any) problems, but because of the
number of users affected with any change, I try to be very cautious, so
some testing would be a good idea

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com
<http://attalitech.com>

On Tue, 23 Jul 2019 at 12:33, Daniel Petrov <notifications@github.com>
wrote:

[2019-07-26 09:20] VincentTam opened #523 "Add Staticman tag to the project header"
That would help your project to stand out when one search [#staticman](https://github.com/search?q=%23staticman).

[2019-07-26 18:27] VincentTam commented on #518
@abelcheung @daattali After reading [this article about form action URL](https://www.willmaster.com/library/manage-forms/bot-block-for-forms.php), it seems that removing the form action URL (`https://your-api/v3/entry/github/username/repo/branch/comments`) from the HTML source code of the generated page for each post can stop search engines and other robots from targetting Staticman users.

By the

[2019-07-28 02:18] daattali commented on #523
Added

[2019-07-28 02:18] #523 closed

[2019-07-28 02:28] daattali commented on #518
Is this a concern that you've observed in practice?

[2019-07-28 02:29] daattali commented on #518
Also, is your comment directly related to this issue? Sorry if it is, it's getting hard to track all the different issues/PRs, as this is only one of many projects I (try to!) manage :)

[2019-07-28 11:26] VincentTam commented on #518
@daattali Sorry it's not directly related.  Looking back, I should have put most of them in #521.  Since my previous comment, contradicts another comment that I had made: https://github.com/daattali/beautiful-jekyll/issues/518#issuecomment-510474504, I've to give a word to you and @abelcheung about the motivation behind such changes, even though I'm not quite sure about its effect against spam com

[2019-07-28 19:04] daattali commented on #518
Sounds good.

@abelcheung let me know when you've continued with the PR!

[2019-07-30 19:48] daattali commented on #339
@abelcheung I would be happy for a PR to support this! The `remote_theme` option seems to be much cleaner and easier for end users, which is my ultimate goal. I don't care about the numbers as much.

[2019-08-05 07:16] #342 closed

[2019-08-08 21:22] angoodkind opened #528 "Spacing in navigation bar links"
The links in the navigation bar are set too far apart, where there is no buffer between the page border and the first/last link (see attached screenshot). Is there a workaround for this?
<img width="1403" alt="Screen Shot 2019-08-08 at 4 20 09 PM" src="https://user-images.githubusercontent.com/1312344/62738725-9f784c80-b9f8-11e9-995c-f04e5de8c587.png">

[2019-08-08 21:57] daattali commented on #528
This is an issue that got introduced because of broken code. It was fixed a few months ago - you can see the fix that I wrote and do the same in your code: https://github.com/daattali/beautiful-jekyll/commit/89d1a4fd7e585cf1897bb6bc6e4b3593a63f5f43

[2019-08-08 21:57] #528 closed

[2019-08-09 23:19] angoodkind opened #530 "bigimg not appearing on Older Posts page"
I have added a `bigimg` to my index.html page, and it renders perfectly on the landing page. However, when I click Older Posts, it no longer appears, and looks like this:
<img width="1403" alt="Screen Shot 2019-08-09 at 6 09 40 PM" src="https://user-images.githubusercontent.com/1312344/62813751-2816eb80-bad2-11e9-8081-dce3724872d6.png">

Is there a way to fix this?

[2019-08-10 00:45] daattali commented on #530
Did you follow the same format for images as on my demo site? This sounds like a `/img` vs `img` type of issue

[2019-08-10 04:11] angoodkind commented on #530
Oops! That was the issue. Thanks!

[2019-08-10 04:11] #530 closed

[2019-08-17 15:17] YoniChechik commented on #393
Hi, great git!
I still have a problem with this answer because it makes the page not centered... can it be solved?

[2019-08-17 15:27] YoniChechik commented on #393
got it... this is for large screens (out of 12 columns...):
col-lg-10 col-lg-offset-1

[2019-09-06 13:35] dlectronique opened #539 "Failing to add Favicon as described in issue 312"
I'm trying to add a favicon to this site meetup-mates.github.io
I've followed the steps in issue #312

1 -  I placed a ```favicon.png``` image in the root and added this line to the _config.yml:
```favicon: "/img/favicon.png"```

2 - added this line to ``` _includes/head.html ``` file
```<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png?">```

I'm not quite sure under which line

[2019-09-06 13:42] #539 closed

[2019-09-06 13:42] dlectronique commented on #539
I'm a silly sausage, it's working.... Sorry!

[2019-09-11 06:52] wini3d opened #541 "Staticman GitHub App support"
More on a feature request. I was wondering if you are planning to have this supported or if it is already, is there a doc?

https://github.com/apps/staticman-net

Also, any guide on how to setup your own heroku staticmanlab instance?

[2019-09-11 12:57] daattali commented on #541
Static man is already supported for comments. What feature exactly are you requesting? I try not to bloat this theme with too much info specific to one small feature in it (that is - I prefer not to have huge docs sections dedicated to staticman)

[2019-09-11 13:03] wini3d commented on #541
Yes, using the[ staticman github app](https://github.com/apps/staticman-net) instead of the `staticmanlab` collaborator which I read has lesser limits.

[2019-09-11 13:20] daattali commented on #541
I'll defer to @VincentTam - he brought in staticman and would understand the question better

[2019-09-11 16:06] VincentTam commented on #541
@wini3d Since I ported Staticman Integration from Minimal Mistakes in #440, **this theme has been using Staticman v3 API scheme**, which has been merged in eduardoboucas/staticman#219.  After several months, the action URL was moved into JS in #521 to avoid spam bots.

https://github.com/daattali/beautiful-jekyll/blob/c74b5030c67eae26d6e443f71db4294d5ba54e74/js/staticman.js#L14

Since I've (and I'

[2019-09-11 17:09] wini3d commented on #541
Thank you. So are you suggesting to fork the merge from eduardoboucas/staticman#219 to have the same exact copy that your staticmanlab herokuapp is using?

[2019-09-12 03:34] VincentTam commented on #541
In [my linked guide for setting up Staticman API](https://vincenttam.gitlab.io/post/2018-09-16-staticman-powered-gitlab-pages/2/), there's a comparison between my `deploy` branch and the `dev` branch: https://github.com/eduardoboucas/staticman/compare/dev...VincentTam:deploy.  I'll update that because I meant the `dev` branch by the moment of writing the post: https://github.com/eduardoboucas/stat

[2019-09-12 03:40] wini3d commented on #541
Thanks @VincentTam . I just tried your deploy branch, the invite went successfully but getting 500 Internal Server Error when posting comments. I just changed the form action url from your staticman3 to my heroku url.

https://github.com/eduardoboucas/staticman/issues/311

[2019-09-12 03:52] daattali commented on #541
I'm going to close this issue because it's not relevant to beautifuljekyll - feel free to continue this discussion privately or in another repository where it makes sense :)

[2019-09-12 03:58] VincentTam commented on #541
@wini3d I had lost my concentration for a few seconds browsing various issues.  I should have answered your question in a GitHub issue under Statimcan's repo since that's a question about Staticman's API rather than this theme's Staticman integration.

To understand what type of questions about Staticman is on-topic here, you may think about an ATM.  Staticman's API is like the ATM's interface.  A

[2019-09-12 04:14] wini3d commented on #541
Thanks, I understand that and I have updated some findings [here](https://github.com/eduardoboucas/staticman/issues/311). We can move this discussion now to that issue.

[2019-09-12 04:14] VincentTam commented on #541
@daattali **Documentation request/questions for setting up** a site using this theme with an existing **Staticman v3** API is on-topic here, since there's some theme-specific parameters in each theme with Staticman support.  Here's the right place to place to ask questions/discussions about these parameters.

https://github.com/daattali/beautiful-jekyll/blob/96c25086b57e6af1fd44eec8f0bcdadce33730a

[2019-09-12 14:12] wini3d opened #542 "StaticMan Nested Replies Support"
Since the new Staticman v3 now supports nested replies, it would be nice to have the nested comment format supported and added, perhaps you can choose between the old flat and nested by include?

[2019-09-21 07:25] VincentTam commented on #542
@wini3d Support for nested comments is independent of the version of Staticman using.  For example, here's [a blog post written a year ahead of Staticman v3](https://networkhobo.com/2017/12/30/hugo-staticman-nested-replies-and-e-mail-notifications/).

I don't have the time to search into Jekyll's syntax, but you may find the "double-loop" logic in some Hugo sites, like https://yasoob.me/posts/runn

[2019-09-22 08:11] wini3d commented on #542
Sorry this issue should have been closed earlier. Thanks for the info

[2019-09-22 08:11] #542 closed

[2019-09-25 17:31] YoniChechik commented on #195
https://stackoverflow.com/a/46765337/4879610

The easiest solution in my opinion

[2019-10-14 15:08] zharinovkv opened #555 "How use (red, madenta etc. in _sass) themes?"

[2019-10-14 20:36] lostmsu commented on #246
@daattali if I do this, I can only place the `.md` file in the root folder, right? `_drafts` would not work?

[2019-10-14 21:04] daattali commented on #246
@lostmsu My understanding of jekyll is that files under `_drafts` are not published - that's a special folder for jekyll.

[2019-10-18 13:13] ximingxing opened #557 "How do you write mathematical formulas？"
can beautiful-jekyll support mathematical formulas ?

if so, What is the syntax for writing a formula？

if not, do we have other options to support mathematical formulas jut like includes plugins?

By the way, thanks，beautiful-jekyll is an amazing project！

[2019-10-18 16:06] daattali commented on #557
Yes please see the README https://github.com/daattali/beautiful-jekyll/blob/master/README.md#how-do-i-use-mathjax-equations-in-my-posts

[2019-10-18 16:06] #557 closed

[2019-10-29 02:15] noahmanion commented on #389
How did you fix it? Having a similar problem.

[2019-11-04 18:11] xw321 commented on #389
HI, sorry for replying late. It's been a long time after I fixed this, I barely recall any details. My suggestion would be take closer look at my repository and other similar ones. I think I spent some time tweaking the _config.yml file. Good luck.

[2019-11-04 18:12] xw321 commented on #389
HI, sorry for replying late. It's been a long time after I fixed this, I barely recall any details. My suggestion would be take closer look at my repository and other similar ones. I think I spent some time tweaking the _config.yml file. Good luck.

[2019-11-11 12:27] wi5nia opened #563 "_config.yaml issue after migrating"
Hi,

I have migrated from another theme to Beautifull Jekyll and a strange issue occured that GH pages tells me that there is an error in my config file in line 4:
title: Tomasz Wisniewski

After commenting it out an error on line 7
description: Tomasz Wisniewski blog

and so on and so forth.

Locally everything works.

Any suggestions on the resolution?

[2019-11-11 12:32] #563 closed

[2019-11-11 18:57] daattali commented on #563
What was the issue? To help others who might have similar problems

On Mon, Nov 11, 2019, 07:32 Tomasz Wisniewski <notifications@github.com
wrote:

[2019-11-12 09:25] wi5nia commented on #563
The issue was a misleading GH Pages error message because the error was WAY down the config file and it was an additional space where it shouldn't be

[2019-11-12 09:30] wi5nia opened #564 "Social media cards images"
It would be great if the theme would take the first image from the post to use in social media cards or it could be customizable.

[2019-11-17 16:49] wi5nia commented on #564
Anyone?

[2019-11-17 16:52] #564 closed

[2019-11-19 09:18] wi5nia opened #565 "share-img doesn't work on Twitter and Linkedin"
I have added a share-img to my post
share-img: "path"
and the image is used when sharing to facebook but not Twitter and Linkedin.

What is the issue?

[2019-11-19 18:38] daattali commented on #565
As per the documentation: "If you want to specify an image to use when sharing the page on Facebook or Twitter, then provide the image's full URL here,"

Looking at a sample page on your website , I see this in the source code:

[code]

which means you weren't using the image's **full** URL

[2019-11-19 18:38] #565 closed

[2019-11-19 19:36] wi5nia commented on #565
I've corrected the entry and still twitter and linkedin don't show the image :(

[2019-11-19 20:51] daattali commented on #565
It takes some time to update. https://cards-dev.twitter.com/validator

[2019-11-25 20:03] tauresa opened #566 "[Question] iframe"
Is there a way I can use iframe inside a page using markdown?

[2019-11-25 20:24] daattali commented on #566
I'm not sure. That's not a question for this theme though, it's a general markdown/jekyll question. You could google for "iframe in jekyll" or "iframe in markdown", or try it :)

[2019-11-25 20:24] #566 closed

[2019-12-02 07:46] akiannillo opened #568 "ORCID icon"
I'm trying to use the ORCID icon, but it doesn't show up (see bottom of https://akiannillo.github.io/).

https://github.com/akiannillo/akiannillo.github.io/blob/master/_data/SocialNetworks.yml

[2019-12-02 08:57] daattali commented on #568
It's not in the template, this thee doesn't know about orcid. That socialnetworks yaml file contains the possible websites you can use. If you want to add orcid, you'll need to add it to the template (look at the history of when one of the others were added and follow the same steps)

[2019-12-02 20:56] ryan-p-randall commented on #568
It looks like the ORCID icon was added to [Font Awesome just a couple months ago, in 5.11](https://github.com/FortAwesome/Font-Awesome/issues/4401#issuecomment-533557617).

Would adding it to this theme be as easy as bumping the version this theme loads in lines 6 & 7 of `_layouts/base.html`?

Like just changing
[code]
to
[code]
?

@akiannillo if bumping that doesn't automatically add the ORCID ic

[2019-12-03 03:10] daattali commented on #568
If I remember correctly, updating to font awesome 5 does involve some extra work, you can google for the migration instructions.

[2019-12-03 09:00] akiannillo commented on #568
Hi all,
changing simply the CSS does not work.
Even adding the academicons font, it breaks alignments and other things.
I'll look at this (https://github.com/daattali/beautiful-jekyll/pull/400/files) when I have time.
Best,

[2019-12-17 15:18] FuqiX opened #571 "[Question]How to access posts in html format in the _posts folder?"
Hello,

I added a file "2012-12-12-test.html" to the "_posts" folder. And couldn't access it using web address,  "user.github.io/2012-12-12-test" or "user.github.io/2012-12-12-test.html"
I am wondering what's the link for .html files in the _posts folder.

Thanks for your reply.

Best,
FX

[2019-12-17 16:58] #571 closed

[2019-12-19 22:56] bradyneal commented on #69
@rtlee9 Did you end up getting this working? I tried copy and pasting the above css into the bottom of main.css, but it didn't seem to change anything.

I am not a perfectionist, and I view this as essential to the readability of my blog posts (lots of links).

[2019-12-20 00:18] daattali commented on #69
I use the suggestion above in my own site and it works https://github.com/daattali/daattali.github.io/blob/6413e22ec8ffd00aa193a4eb4bf4d45de36824a7/css/main.css#L210-L216

Example: https://deanattali.com/blog/user2017/#scrapeall

[2019-12-20 00:37] bradyneal commented on #69
@daattali Thanks! That works for me! It looks like it was the difference between `display: inline-block;` and `display: block;`.

[2019-12-23 22:54] MuhammadIbnAlAbbas opened #572 "How to change theme to suit right handed languages"
how to change theme to suit right handed languages so that it changes from being left aligned:

![Screenshot_2019-12-24 يل يبلاسب لايبل تيلاتن بل ا الحياة](https://user-images.githubusercontent.com/53350464/71384053-17759680-25d7-11ea-9d9b-ac11d48ab324.png)

to become right aligned:
![Screenshot_2019-12-24 سر بسم الله الرحمن الرحيم - موضوع](https://user-images.githubusercontent.com/53350464/713840

[2020-01-26 09:21] simoarpe opened #576 "Footer stick to the bottom when contents are short or absent"
I know this has been asked already, but it really feels like an issue on large screens or when the content is just a few lines.

The footer does not stay at the bottom of the page but immediately below the content, and the rest of the page shows the background.

<img width="866" alt="Contact" src="https://user-images.githubusercontent.com/3308503/73133030-8a818b00-4023-11ea-8c21-afaf8e9946c5.png">

[2020-01-26 23:56] daattali commented on #572
I believe you should be able to add `direction: rtl;` to the CSS of just the main section or a few main sections.

Maybe try adding something like the following to the CSS

[code]

[2020-01-27 00:01] daattali commented on #576
This is indeed something that's been requested previously, and is a very old and common HTML problem. If you do find a good clean simple solution that doesn't cause any issues I would be very happy for a pull request!

[2020-02-20 01:47] sshen82 opened #581 "Change the size of the title"
Hi, thank you for building this. this template is awesome!

However, I do have a question on how to change the size of the title in the main page. I didn't find it in the yml file (Maybe I just don't know which one is.)

Thanks in advance!

[2020-02-20 02:24] daattali commented on #581
That's not a yaml option. To change sizes (and anything else related to how things appear) you need to edit the main.css file

[2020-02-20 02:25] sshen82 commented on #581
Oh, ok, thank you for your help!

[2020-02-20 02:25] #581 closed

[2020-03-03 19:43] gpotter2 commented on #269
Nowadays with `remote_theme` supported natively by github pages, if you made a theme that followed https://jekyllrb.com/docs/themes/ it would be plug and play.

I've tested it: if you move the `css/` and `js/` folders (all non default `_something` folders) to an `assets/` folder, it works just fine.

[2020-03-04 16:33] daattali commented on #269
That's great! I don't know anything about ruby and haven't looked into github remote  themes, so I would appreciate if you wanted to make a pull request.

[2020-03-16 20:40] #243 closed

[2020-03-16 20:41] #270 closed

[2020-03-16 20:42] daattali commented on #324
Done

[2020-03-16 20:42] #324 closed

[2020-03-16 20:46] #496 closed

[2020-03-27 13:49] tirthasheshpatel opened #592 "[Question] Setting the opacity of bigimg"
Is there a way to set the opacity of the ``bigimg`` (like the ``overlay_filter``) or going full rgba?

[2020-03-27 19:20] daattali commented on #592
There is no simple way to do that. The image is displayed using the `background-image` css property, and as far as I know it doesn't support opacity. There may be hacky workarounds - if you're comfortable with css and HTML then you can try googling for something like "css background image opacity" but my guess is that it wouldn't be simple.

[2020-03-27 19:20] #592 closed

[2020-03-27 19:33] tirthasheshpatel commented on #592
Thanks for your response, @daattali. Will look into html and css methods for a workaround!

[2020-03-29 01:49] memoriesus opened #593 "How to display the time of reading on the blog"
Thank you for submitting an issue!

Please only submit bug reports or feature suggestions. Please do not submit support requests and general help questions in this forum.

[2020-03-29 05:09] daattali commented on #593
Can you add details of what you mean?

[2020-03-29 13:40] memoriesus commented on #593
I mean it can display the time to tell the reader the time you can read it over.

[2020-03-29 15:59] daattali commented on #593
That's not a supported feature

On Sun., Mar. 29, 2020, 09:40 Memory Chain, <notifications@github.com>
wrote:

[2020-03-29 16:16] rubyreads commented on #593
@memoriesus
There is code that you can add, if you're comfortable doing so. Here is an [example](https://gist.github.com/rubyreads/b1156a4bea4e1d5ed823b87260d410f5). Since it is not a supported feature, you'll have to:
- decide where to place it
- make sure it doesn't conflict with the Beautiful Jekyll theme

I hope this helps.

[2020-03-29 18:11] daattali commented on #593
Thanks @rubyreads ! I'd be happy to add this feature if you want to submit a pull request

[2020-03-30 04:54] memoriesus commented on #593
But based on it it's not available to show me the real-time.

[2020-03-30 06:14] daattali commented on #593
What do you mean real time?

[2020-03-31 04:23] memoriesus commented on #593
I mean  now the code cannot make it happen, perhaps it has a bit bug.

[2020-03-31 07:30] daattali commented on #593
I don't understand what you mean. Currently this is not supported. @rubyreads is in the process of adding this feature.

[2020-04-02 03:18] memoriesus opened #599 "[Feature]-support weekday"
Hope it can support display day (week- Monday ....)time including week

[2020-04-02 04:35] daattali commented on #599
When you open an issue, please describe in detail what the issue is. Currently the text of your issue is:

[2020-04-02 04:51] daattali commented on #572
I just tried it and adding that css rule does indeed work

[2020-04-02 04:51] #572 closed

[2020-04-02 04:51] daattali commented on #555
This theme doesn't use sass. Any colours you want to change would be done in css files

[2020-04-02 04:51] #555 closed

[2020-04-02 04:54] daattali commented on #568
font awesome has been updated to 5.12.1 so you can try using orcid now

[2020-04-02 04:54] #568 closed

[2020-04-02 04:59] daattali commented on #541
@VincentTam do you know if there are any updates on staticman? I just checked https://staticman.net/ and there is no mention at all of a v3 API, only v2. If v3 isn't official or recommended yet, I'd like to close this issue

[2020-04-02 05:00] daattali commented on #519
font awesome 5.12 is now implemented, so you can try these new icons

[2020-04-02 05:00] #519 closed

[2020-04-02 05:02] daattali commented on #518
@abelcheung if you ever want to return to this PR to simplify css/javascript, it would be very welcomed!

[2020-04-02 05:03] #517 closed

[2020-04-02 05:03] daattali commented on #510
@VincentTam if what you said is still true for GitLab, I'd be happy to accept a small PR to the README

[2020-04-02 06:19] daattali commented on #237
This is a duplicate of https://github.com/daattali/beautiful-jekyll/issues/339 , which has a work-in-progress PR

[2020-04-02 06:19] #237 closed

[2020-04-03 04:17] memoriesus commented on #599
@daattali  I mean add day for the blog
For instance

[2020-04-03 04:53] daattali commented on #599
This isn't supported by beautiful jekyll as an option that you can easily change, but if you really want to add the weekday you can change the date format. According to [the docs](https://shopify.github.io/liquid/filters/date/) there are many ways to format a date.

[2020-04-03 04:53] #599 closed

[2020-04-03 04:54] daattali commented on #599
You would need to find where in the code the "Posted on xxx" is being generated, and use [these docs](https://shopify.github.io/liquid/filters/date/) to format the date in whatever way you prefer

[2020-04-07 21:46] daattali opened #600 "Use sensible default values for any value that's read from the config file"
As @skalee mentioned [here](https://github.com/daattali/beautiful-jekyll/pull/590#issuecomment-606386028) , when using remote themes, the user's config file will be empty and not match beautiful-jekyll's config. We need to make sure the theme still works properly even all config values are missing, perhaps by using [default values](https://shopify.github.io/liquid/filters/default/)

[2020-04-08 11:51] YoniChechik opened #602 "Couple of questions"
Hi Dean, I LOVE your template and use it for almost a year now! It's absolutely amazing!!!

Couple of questions:
1. Why don't you use jekyll-seo-tag instead of implementing all yourself?
2. Can you maybe consider updating a couple of outdated libraries? this what's popping for me when I audit my site (www.AIisMath.com):
![image](https://user-images.githubusercontent.com/16686924/78781069-4a863f00-

[2020-04-08 19:02] daattali commented on #602
1. Correct me if I'm wrong, but the jekyll plugin you refer to only works if you use this theme by installing it with ruby. It doesn't work with GitHub Pages. This theme was primarily designed as a very simple and easy to use GitHub Pages theme, and the priority will always be for GitHub Pages. I wanted to make a theme that ANYONE can use. For those people such as yourself that are advanced enough

[2020-04-11 19:06] xoac opened #606 "Github spoilers doesn't work correctly."
First thanks for awesome jekyll blog.
I think I could fund a bug or unimplemented feature.
Code:
[code]

I have added `\` to prevent nested code section marker.

The above code rendered here:
- - - -
<details>
<summary> Two days later I discovered that implementation of `no_escpe_std_replace` and `to_escpe_std_replace` was not done correctly. Can you found how we can make it better? </summary>

[c

[2020-04-11 19:14] daattali commented on #606
Sorry, I don't understand the issue. What is github spoilers? Does whatever you're trying to do work with other jekyll themes? Is it something in github-falvoured-markdown?

[2020-04-11 20:45] xoac commented on #606
Oo it looks like this is not officially supported. [Here](https://gist.github.com/jbsulli/03df3cdce94ee97937ebda0ffef282870 is example that I have followed.

But is there a way to use spoilers with this template?

[2020-04-11 21:23] daattali commented on #606
The page you linked to doesn't exist (or maybe it's private and it doesn't exist for me).

Anyway, when I tried googling for github spoilers I don't think it's a standard thing, it looks like just something a random person came up with and named it. Unfortunately I don't have enough bandwidth to look into unofficial features and try to support them or understand them.

[2020-04-11 21:54] xoac commented on #606
I have fixed link.

No problem. I probably created this issue without enough research. Thanks for quick responses.

[2020-04-11 21:54] #606 closed

[2020-04-12 00:12] daattali commented on #606
You can perhaps ask the person who created "github spoilers" how to use it inside a jekyll theme

[2020-04-12 22:11] GabeL7r opened #607 "Code blocks"
Hi Dean,

I love the theme!

I am having an issue with code blocks not being formatted properly and I was wondering if you could help me. The code blocks are being put in a <pre><code><text> HTML field rather than each line of the code getting a separate span with the correct highlighting applied.

You can see an example here: https://clean.tf/2020-04-11-resource-names/

And the _config.yml file h

[2020-04-12 22:22] daattali commented on #607
That sort of stuff is not handled by the theme, but by jekyll itself. There are many different ways to write markdown syntax and jekyll has support for a few different ones. The default one I chose to use is "kramdown" (you can see an entry `markdown: kramdown` in the config.yml file). You can read jeky'll documentation [here](https://jekyllrb.com/docs/configuration/markdown/) and experiment with

[2020-04-12 22:22] #607 closed

[2020-04-12 22:23] daattali commented on #602
I'm closing this issue as it's not really an issue. If you want to open an issue for a specific task (ie "update library X to version Y" or "use SEO") please do!

[2020-04-12 22:23] #602 closed

[2020-04-12 22:24] daattali commented on #541
As far as I understand, v3 that was discussed here is not an official recommendation. Due to lack of response here, I'm closing this issue. If someone wants to raise this issue again with more information, please do

[2020-04-12 22:24] #541 closed

[2020-04-12 22:26] GabeL7r commented on #607
Thanks for the quick reply, the reason I thought/think it is a theme issue is because I created the same post in a different directory where I initialized Jekyll and made no changes and the code block rendered properly.

I wasn't sure if bootstrap or some other setting in the theme was perhaps causing the code block to break? I also saw some custom CSS for code blocks in the theme.

[2020-04-12 22:36] daattali commented on #607
The css is only responsible for visual rendering. You mentioned the actual HTML generated is different than what you expect, that sounds to me like a markdown enginer issue. These issues are indeed annoying to troubleshoot, you'll have to play around with the different options. Sorry I can't be of more help.

[2020-04-13 14:51] skalee commented on #600
There are only about 20 references to these variables in `css/main.css`, so I agree that providing a default value every time config variable is used is a sensible solution.

However, if you consider switching to SCSS, then you could leverage variables and avoid duplicating these default values. For example:

[code]

[2020-04-13 19:06] YoniChechik commented on #602
Actually jekyll-SEO-tag is defaulted in GH: https://pages.github.com/versions/

[2020-04-13 21:30] daattali commented on #600
Will SCSS work for github pages websites that are purely on github without any local jekyll installation?

[2020-04-14 09:16] skalee commented on #600
@daattali Yes, SCSS is available in GitHub Pages, and everywhere else, as Jekyll supports SCSS out of the box. In fact, I'm using SCSS in my page hosted on GtiHub Pages via `github-pages` gem: https://github.com/fotorelacjonusz/fotorelacjonusz.github.io/blob/master/assets/css/fotorelacjonusz.scss.

[2020-04-14 17:48] daattali commented on #602
You're right, I don't know where I saw that it's not supported. It clearly is!

I'm not sure why I didn't use it initially when I built this >5 years ago - maybe it wasn't available, or maybe I just didn't know about it (which is very possible). If I would write this theme from scratch today I'd definitely use that plugin now that you told me about it. Is there any major benefit to adding it now a

[2020-04-16 09:48] YoniChechik commented on #602
It has json+ld

[2020-04-16 17:11] daattali commented on #602
Sorry I don't understand what that means. What exactly has json+id?

[2020-04-17 05:54] binlidaily opened #611 "How can I enlarge the spacing between list items?"
I write blogs in Chinese, the spacing between list items is not appropriate. How can I enlarge the spacing? I found many `li` tag setting in css files, I really don't know which one is the key setting? I tried to change some `li` tag, it doesn't work.

![image](https://user-images.githubusercontent.com/5987437/79536335-68dbf100-80b2-11ea-9089-11bb09f67f23.png)

Thank you very much!

[2020-04-17 06:34] daattali commented on #611
That sounds like something you can do with CSS, maybe using `margin` on `li` tags. You have to know or learn a bit of CSS to change the look away from the defaults.

[2020-04-17 06:35] #611 closed

[2020-04-19 08:51] daattali opened #614 "Remove _data folder"
See https://github.com/daattali/beautiful-jekyll/pull/590#issuecomment-616078852 for background information

- The ui-text data that staticman uses isn't that important (it's a neat feature but not a must, especially since staticman itself is not commonly used).
- The SocialNetworks can be removed. Until a year ago, all the social network links were rendered in the footer without the help of a YAM

[2020-04-19 09:00] daattali commented on #356
Closing as I don't think a simple static blogging website should invest so many resources into GDPR

[2020-04-19 09:00] #356 closed

[2020-04-19 13:39] YoniChechik commented on #602
https://yoast.com/json-ld/

[2020-04-19 15:26] daattali commented on #602
I'd be happy to accept a PR to add the seo plugin and remove the manual code, it would have to be well tested

[2020-04-19 17:50] Cloudsparkle opened #617 "Open URL's in new tab/window"
Hi,

Can you implement the possibility to open URL's in a new tab, and not in the same window as it is today?

[2020-04-19 18:01] daattali commented on #617
This isn't supported here natively as a configuration option (I don't think I've ever seen something like
this, it seems too specific). This is possible in HTML if you want, you can google for "html open link in new tab" and edit all the links

[2020-04-19 18:01] #617 closed

[2020-04-20 08:36] abhinabasaha opened #618 "Hi Dean,"
Thank you for submitting an issue!

Please only submit bug reports or feature suggestions. Please do not submit support requests and general help questions in this forum.

[2020-04-20 08:36] #618 closed

[2020-04-20 08:44] abhinabasaha opened #619 "Jupyter notebook not fitting in beautiful-jekyll page/posts"
Hi Dean, I have an issue in displaying the jupyter notebook in my beautiful-jekyll page.

As you can see here:
https://abhinabasaha.in/2020-04-20-Time_series_Analysis/

the data frame is large, as a result the entire page squeezes to the left.
I have added the css/jupyter.css and edited the _config.yaml.

https://github.com/abhinabasaha/abhinabasaha.github.io/blob/master/css/jupyter.css

https://g

[2020-04-20 10:51] memoriesus opened #620 "[Feature]- support nested video into the post"
Add video into the post and play

[2020-04-20 13:10] abhinabasaha commented on #619
I temporarily solved it by transposing the dataframe so that it fits within the cell sizes.

[2020-04-20 13:10] #619 closed

[2020-04-20 18:53] daattali commented on #620
There is nothing specific to this theme about this request. If this works in general in jekyll (which I imagine it would) then you can do it in the same way. This is not a feature that beautiful jekyll can support so I'm closing

[2020-04-20 18:53] #620 closed

[2020-04-21 08:16] OCram85 commented on #617
@Cloudsparkle: In markdown you can specify the the target as well. If you follow this syntax use can create links which should open in a new blank tab:

[code]

[2020-04-21 21:19] daattali commented on #617
Thanks @OCram85 . This suggestion would have to be done for every link, it's not a config parameter

[2020-04-23 23:20] daattali commented on #600
Done with #621

[2020-04-23 23:20] #600 closed

[2020-04-24 01:54] #614 closed

[2020-04-24 14:26] daattali commented on #593
Fixed with #622

[2020-04-24 14:26] #593 closed

[2020-04-24 19:24] daattali commented on #367
Closing this as I decided not to implement this feature

[2020-04-24 19:24] #367 closed

[2020-04-26 18:31] #339 closed

[2020-04-26 18:32] daattali commented on #339
`remote_theme` is now supported

[2020-04-26 18:37] daattali commented on #269
@gpotter2 if you'd like to make a PR for this, it should be much smoother than the previous one :)

[2020-04-26 19:10] daattali opened #624 "Move demo website to master branch docs/ folder instead of gh-pages branch, as preparation for #505"

[2020-04-26 23:06] daattali commented on #624
Done

[2020-04-26 23:06] #624 closed

[2020-04-26 23:58] daattali commented on #505
I moved the demo site into docs/ and removed the gh-pages branch. The README has been updated to recommend always using master and how to do it

[2020-04-26 23:58] #505 closed

[2020-04-27 04:17] daattali commented on #269
I've released a new gem and combined it with master. I'll add documentation soon and delete the gem branch.

[2020-04-27 04:17] #269 closed

[2020-05-01 00:08] daattali opened #627 "Update jQuery"
The current jquery version is old. At some point it should be upgraded. Related to #384

[2020-05-01 09:08] daattali commented on #384
I've started the work on migrating to bs4 in a `bs4` branch. It's a lot more work than I imagined, there are a lot of components that break and need to be rewritten. If anybody wants to help, PRs are welcome.

[2020-05-02 06:11] daattali commented on #384
Beautiful Jekyll now uses bootstrap 4.4.1

[2020-05-02 06:11] #384 closed

[2020-05-02 06:11] daattali commented on #627
Beautiful jekyll now uses jquery 3.4.1

[2020-05-02 06:11] #627 closed

[2020-05-02 06:41] daattali commented on #518
One of your suggestions of removing `googlefonts` was done abadcd5ede164296c48d8662aa7595797904bd8e

[2020-05-06 20:53] markjamesm opened #632 "Submenu Items Causing Github Build Error"
Attempting to add a submenu to one of my navbar-links is causing Github to display the following build error:

The page build failed for the `master` branch with the following error:
You have an error on line 23 of your `_config.yml` file.

- My [_config.yml](https://github.com/markjamesm/markjamesm.github.io/blob/master/_config.yml)

Lines 22-27 of my _config.yml:

22: navbar-links:
23:  About Me

[2020-05-06 20:57] daattali commented on #632
Sounds like a spacing issue. Make sure your spacing is correct.

[2020-05-06 21:09] markjamesm commented on #632
Thanks Dean! Seems like I can do this:

navbar-links:
  About Me: "aboutme"
  Projects:
    - All Projects: "projects"
    - CU Libraries: "https://markjames.dev/cu-libraries"
    - Linnstrument Helper: "https://markjames.dev/linnstrument-helper"
  Author's home: "https://markjames.dev"

but not this:

navbar-links:
  About Me: "aboutme"
  Projects: "projects"
    - CU Libraries: "https://markjame

[2020-05-06 21:09] #632 closed

[2020-05-11 07:55] nakshay opened #635 "Syntax highlighter migration"
It seems fair to migrate from rouge to PrimsJs for highlighter, Although size maybe an issue but it provides more features and modern look in themes like ```tomorrow night```, it also solves the scrolling issue which rouge has, especially on small devices like cell phones.

I feel below links helpful

[Add primsJS](https://mycyberuniverse.com/replace-rouge-highlighter-prismjs-jekyll.html)
[Disable

[2020-05-11 17:04] daattali commented on #635
Thanks @nakshay

Are there any major issues with rouge? Unless there's a really good reason to switch, I would prefer not to introduce more complexity (an additional javacsript file) for something that already works. I try very hard to keep this theme simple

[2020-05-11 17:12] nakshay commented on #635
absolutely agree with you on keeping it simple point. I observed rouge has issues on small screen, like no scrollbar and code wraps but may not be a major issue.

[2020-05-11 17:13] nakshay commented on #635
may be you can add notes in readme for those who want to migrate highlighter,  that will help you to keep it simple and help users who want to migrate from rouge.

[2020-05-11 17:30] daattali commented on #635
I'm not seeing these issues happening in beautiful jekyll. I addressed the line wrap issue a long time ago by adding CSS to prevent it, so there is horizontal scroll when necessary.

Vertical scroll doesn't exist by default because the code chunk will just be tall - if someone wants to cap the height of the code chunk and add a vertical scroll, it's as simple as adding `pre.highlight { max-height:

[2020-05-11 17:45] nakshay commented on #635
I have migrated to prismjs in my fork, but will create a nre repo to reproduce and will share the same.
Thanks

[2020-05-12 05:56] nakshay commented on #635
hi @daattali  I tried re-producing scrolling issue, but not able to.
I think my fork has side effects because I tried to tweak some CSS.

closing the issue .

[2020-05-12 05:56] #635 closed

[2020-05-12 06:11] daattali commented on #635
Either that, or you forked a long time ago before I fixed it.

[2020-05-13 09:25] TaoDFang commented on #389
yes I have same problem....

[2020-05-13 13:51] noahmanion commented on #389
I added a directory called 'blog' and put an index file in there that contains page metadata and the code to create a post index. I also listed 'blog' in the navbar section of config.yml. You can see on my github.io repo.

[2020-05-13 15:50] daattali commented on #389
Read the FAQ  section of the README, there's a paragraph about this.

[2020-05-13 17:35] TaoDFang commented on #389
Thanks Man it works !

[2020-05-13 17:38] TaoDFang commented on #389
Hi daattali, thanks for your reply. I did the same thing as README file says. But it didnt work.
I checked other people's page. I think its import to manually change index.html file in blog fold to add blogs

[2020-05-13 17:41] daattali commented on #389
This theme has gone through a lot of updates in the last month. If you think there are issues with the current setup+instructions (if you fork the current version of the project), feel free to fix it in the README!

[2020-05-13 17:46] TaoDFang commented on #389
Yeah, will do this after I figure out whats really happening there. Dont want  to create problems for other people

[2020-05-14 03:18] jeffreytse commented on #195
Jekyll uses kramdown as a default markdown converter from 2.0+. And It doesn't support the mathjax and so on, I think the below plugin can help you.

https://github.com/jeffreytse/jekyll-spaceship

Put your math expression within $...$

$ a * b = c ^ b $
$ 2^{\frac{n-1}{3}} $
$ \int\_a^b f(x)\,dx. $

[2020-05-14 03:20] daattali commented on #195
Is the mathjax support FAQ solution  from the README no longer working?

[2020-05-14 03:33] jeffreytse commented on #195
Hi @daattali,
It's just another awesome optional solution for **MathJax support** in plugin.
👍 Thanks for your kindly focus and great support.

[2020-05-15 23:28] fkarg opened #637 "Footnotes"
So I recently found out how to add footnotes, it was recommended to do them like this:

[code]

And while it works, when clicking on the footnote it jumps _just a bit_ too low, probably because it is not aware of the additional header. Is there a way to make that somehow smarter?

I'd prefer a 'Footnote'-system similar to the one in LaTeX, where I don't need to explicitly track the numbers, but th

[2020-05-15 23:42] daattali commented on #637
I believe this is a duplicate of #69

The new version from the past month fixes this. If you have an older version you can look at that discussion

[2020-05-17 10:00] Tanjim131 opened #638 "Site not found after forking"
I followed the steps in the doc. Forked the repo, edited with my username and updated the _config.yml file. But after pasting the link the URL bar, I am getting site not found. What's going on?

https://tanjimbinfaruk.github.io returns site not found

This is my repo: https://github.com/Tanjim131/tanjimbinfaruk.github.io

[2020-05-17 10:07] Tanjim131 commented on #638
I forgot to rename it as tanjim131.github.io (same as my uysername)

[2020-05-17 10:07] #638 closed

[2020-05-17 19:21] Tanjim131 opened #639 "Where to add readtime.html?"
Where should I add include readtime.html so that it correctly renders?

Adding at the top of the post doesn't render it correctly.

---
layout: post
title: Flake it till you make it
subtitle: Excerpt from Soulshaping by Jeff Brown
cover-img: /assets/img/path.jpg
tags: [books, test]
---

{%- include readtime.html -%}

Under what circumstances should we step off a path? When is it essential that we

[2020-05-17 19:27] daattali commented on #639
You dont include it explicitly. It's a YAML parameter, like all the other parameters.

[code]

[2020-05-17 19:27] #639 closed

[2020-05-17 20:46] Tanjim131 opened #640 "Creating archives navbar"
Is it possible to create an archives page like the following?

![image](https://user-images.githubusercontent.com/32413465/82159672-ca5dce00-98b1-11ea-915a-8f71f9f5996d.png)

[2020-05-17 20:53] daattali commented on #640
An "archive" is not directly supportd, but you can achieve something similar with tags if you give each post a tag of its year. Look at `link-tags: true` in the config file

[2020-05-17 20:53] #640 closed

[2020-05-17 20:54] #637 closed

[2020-05-17 20:56] daattali commented on #507
This will not be implemented because it will make the current navbar too different

[2020-05-17 20:56] #507 closed

[2020-05-18 12:19] rs9899 opened #641 "Build fails"
I'm noticing there being an issue of exit code 15 in jekyll build. Is there any issue with that Jekyll yml file in the GitHub action workflow?

[2020-05-18 16:12] daattali commented on #641
Yes I did notice that, but I'm not sure why. I looked at the history of builds and can't tell why it started failing. If you're able to figure it out I would be happy to get some help.

The theme itself does work with no issues, it's only the github action that's broken.

[2020-05-18 16:33] fkarg commented on #637
Awesome, thanks!

[2020-05-18 18:20] rs9899 commented on #641
Exit code 15 seems like out of resources
https://www.mersenneforum.org/showthread.php?t=23370

maybe its more of a resource constraint of the public github repo maybe. Not sure though. I will look more on this too.

[2020-05-18 18:31] daattali commented on #641
I haven't been able to figure it out. It would be very very helpful if you do -- thank you

[2020-05-19 09:43] Tanjim131 opened #642 "Change the background of code block to dark"
In the ``.css`` file I found the style related to code highlighting:

[code]

Where should I make a change to have a dark background like this picture?

![image](https://user-images.githubusercontent.com/32413465/82311418-7f45d700-99e7-11ea-9cb8-a9908ddb7422.png)

[2020-05-19 11:06] Tanjim131 commented on #642
Also while changing the ``.css`` file, I keep getting ``error: assets/js/main.js not found``.

[2020-05-19 14:30] daattali commented on #642
This is a general web/css question, it does not have anything to do with this theme specifically. Issues are for bug or feature requests, I cannot provide general web support.

[2020-05-19 14:30] #642 closed

[2020-05-22 05:20] quanhinh9 opened #643 "How to highlight asymptote code?"
Hi,

I use the asymptote code with `` asy but site not showing highlight.

How to fix it?

[2020-05-22 15:52] daattali commented on #643
I don't know what that is. This doesn't look like a beautiufl-jekyll specific issue, I think it's a question for the highlighter/kramdown engine/etc. I'm closing this issue as it's not directly about the theme

[2020-05-22 15:52] #643 closed

[2020-05-23 07:54] Tanjim131 commented on #643
Can you post a screenshot of the code and your output on the website?

[2020-05-24 15:27] #641 closed

[2020-05-28 16:56] Iolaum opened #646 "[Proposal] Add Matrix and Mastodon social network links"
Hello, I have started using your template recently ([here](https://github.com/Iolaum/Iolaum.github.io), it's still barebones). I really liked it and I am going to spend more time with it and make a small website out of it.

I was exploring the `_config.yml` options, being pleasantly surprised by the many options that were available for [social network links](https://github.com/daattali/beautiful-j

[2020-05-28 20:00] daattali commented on #646
I haven't heard of these servies, so I had to look them up and they seem legitimate. Feel free to submit a PR

[2020-06-01 17:34] navendu-pottekkat opened #647 "Changing Fonts should be easier"
Please only submit feature suggestions or bug reports if you believe something is broken. Please do not submit support requests and general help questions.
Add options to change the font family of the website

[2020-06-01 17:56] daattali commented on #647
I don't consider that a mandatory feature.  There are infiintely many things you can change about the appearance of the them by modifying the css, it would get very messy if every possible thing would get a dedicated option and instructions in the README. There are many configurable options for common things users might want to change, but for everything else you're free to modify the CSS.

[2020-06-01 17:56] #647 closed

[2020-06-04 18:11] angoodkind opened #648 "Update to latest version"
This might be a dumb question, but how do update my site to the most recent version of Beautiful-jekyll?

[2020-06-04 19:42] daattali commented on #648
It depends on how you're using the theme.

If you're using one of the "advanced" methods https://beautifuljekyll.com/getstarted/#install-steps-hard using the ruby gem, then updating is as simply as changing the line `gem "beautiful-jekyll-theme", "3.0.0"` to `gem "beautiful-jekyll-theme", "4.0.0"`

If you're using the simple method described in the README where you fork this github repository, the

[2020-06-04 19:42] #648 closed

[2020-06-07 05:58] Hax4us opened #650 "Proper way to update theme"
What is the proper way to update your theme. I was using blogger for years and now suddenly i decided to migrate so i am absolute beginner in Jekyll world and after reading docs i am able to setup my website with the help of your amazing theme ( i forked your theme and then after some changes i created a new repository and deleted forked one )
Mainly which folders or data should i copy blindly if

[2020-06-07 06:00] daattali commented on #650
This was asked a couple days ago, please see #648

[2020-06-07 06:00] #650 closed

[2020-06-07 06:03] Hax4us commented on #650
Thank you very much :)

[2020-06-07 23:20] daattali commented on #646
Matrix doesn't seem to have a font-awesome icon

[2020-06-09 15:53] Hax4us opened #652 "[Question] can i make post images rectangular"
By default Post image are in circular shape

[2020-06-09 16:16] daattali commented on #652
Every option that is common is exposed in the config file, this (and any other style you want to change) needs to be done manually in the CSS files.

[2020-06-09 16:16] #652 closed

[2020-06-09 16:20] Hax4us commented on #652
At least can you give a hint like which file exactly ?
 I don't know much about web development

[2020-06-09 16:22] daattali commented on #652
This theme is meant to be easy to use by anybody with no web knowledge. As such, it doesn't allow you to do EVERYTHING you want, the more flexibility you want the more knowledge you'll need. You need to create your own css file or modify an existing one. You'll need to learn some CSS and how it works if you want to do this. I cannot give you exact instructions

[2020-06-10 05:04] Hax4us commented on #652
Ok so i changed the shape of Post image to rectangular but changes in height & width is only working in desktop but not in mobile device , can you tell me why ?

[2020-06-10 06:53] daattali commented on #652
There are probably rules somewhere in the css file that are specific to mobile devices.

Can you show me what it looks like before and after your circle -> rectangle change

[2020-06-10 07:00] Hax4us commented on #652
Before

![Screenshot_2020-06-10-12-28-36-563_com termux](https://user-images.githubusercontent.com/30441647/84236953-21a03880-ab16-11ea-8be8-8a5fd63c4f33.jpg)
![Screenshot_2020-06-10-12-28-25-796_com android chrome](https://user-images.githubusercontent.com/30441647/84236962-25cc5600-ab16-11ea-8fb9-4483ae5978e5.jpg)

After

![Screenshot_2020-06-10-12-28-54-524_com termux](https://user-images.githu

[2020-06-10 07:06] daattali commented on #652
Thanks. You can open a separate issue to ask for this, and if other people also request/support this feature then maybe I'll change it

[2020-06-10 07:07] Hax4us commented on #652
Thank you

[2020-06-10 07:08] Hax4us opened #654 "[Request] Change post images shape to rectangular"
Addressing https://github.com/daattali/beautiful-jekyll/issues/652

For example

![Screenshot_2020-06-10-12-49-04-020_com android chrome](https://user-images.githubusercontent.com/30441647/84238583-e18e8500-ab18-11ea-8dcc-6f43bda1e2b9.jpg)

Above Screenshot is from __basically-basic-jekyll-theme__

[2020-06-11 21:03] aisbergde opened #655 "round-avatar - setting has no effect"
the setting has no effect
`# round-avatar: true`

it is still round

[2020-06-11 21:11] daattali commented on #655
Round is the default. You need to set it to `false` to disable

[2020-06-11 21:11] #655 closed

[2020-06-12 11:35] aisbergde commented on #518
@daattali

For a new user it is hard to understand, what is the best way to add own CSS not changing the delivered main.css

Some instructions on https://github.com/daattali/beautiful-jekyll would make it much easier.
I think many users did not use jekyll before, the jekyll documentation also doesn't help in this specific question.

So what I understand what to do, some instruction like this are r

[2020-06-12 16:33] daattali commented on #518
I explicitly **don't** want to add such advanced instructions. If I provide these instructions, more people will assume that doing such techniques is within the scope of what I need to teach them, and there's already enough support that I'm being asked for daily. If someone knows about CSS, then they have the skills required to understand how to change or add a new CSS file. I want this theme to r

[2020-06-12 19:47] aisbergde commented on #401
it would be fine to have a place where users could exchange experience. Less questions will be. Maybe an existing forum can be used, creating a subforum? Maybe something already exists?

[2020-06-12 19:49] aisbergde commented on #518
I get your point. maybe #401 could be a solution? A place where users can ask each other?

[2020-06-12 20:02] daattali commented on #654
Can you show the current version vs your proposed?

[2020-06-12 20:05] daattali commented on #401
A sub-forum I don't think would make much sense because there is already a general forum where people can ask questions and tag beautifuljekyll. In the first sentence unde the Support section of the readme:

The most useful improvement in my opinion is to create a dedicated support channel just for beautifuljekyll that other users can participate in.

[2020-06-13 05:45] Hax4us commented on #654
Means current look or shape of Post image , right ?

[2020-06-13 08:11] JovinLeong commented on #241
How is this an actual answer that warrants closing the issue?

[2020-06-13 09:47] aisbergde commented on #401
the common jekyll forum is a good starting point, but there is no separate group and I cant see that tags are used or can be easy used for filtering. I use mobil access.

Something dedicated would be fine. github pages have no dedicated forum features.

I don't know how easy it would be to setup something like disqus, vanillaforum, netlify or similar. For many years I host my pages on a dedicated

[2020-06-13 18:40] daattali commented on #654
The screenshot you showed is not from this theme so it's hard to compare. If you've implemented this feature for your own site, then it would be useful if you can show here your before and after, to be able to diretly compare the two versions.

[2020-06-14 12:19] idev opened #660 "Jekyll 4.1 Support"
Hello,

are there any plans to support Jekyll 4.x?

Kind regards

[2020-06-14 16:29] daattali commented on #660
Will consider it only after GitHub Pages upgrades to that version. The primary goal of the theme is to be used with GitHub Pages so I try not to steer away from that

[2020-06-16 21:57] daattali opened #661 "Consider using CSS variables/properties instead of plain CSS (or potentially SCSS)"

[2020-06-22 14:33] roman-tremmel opened #664 "how to inlcude academicons"
since most useres have a scientific background it could be helful to include academic icons like https://jpswalsh.github.io/academicons/ including google-scholar, orcid and others.

I will try it to include by myself, but this needs a couple of hours or even days :)

[2020-06-22 21:17] daattali commented on #664
Thanks for the suggestion.

I would prefer not to add this library to the theme. I prefer not to add too much dependency on many external libraries. There are many very very useful third party tools but I want to keep beautiful-jekyll minimal and simple. Every additional external dependency brings with it more room for issues, more support requests, more maintenance, slightly slower performance, a

[2020-06-24 04:52] tirthasheshpatel opened #665 "Feature Request: Adding a Table of Contents"
Is it possible to redesign the `posts` page to include a table of contents fixed on the side of the post? It will be very helpful to navigate from in between a post.

[2020-06-24 06:26] daattali commented on #665
That's not possible. If you install jekyll locally using one of the advanced methods, you might be able to find some "table of contents plugin" that somebody wrote and use it. But beuatiful jekyll doesn't support it.

[2020-06-24 06:26] #665 closed

[2020-06-26 05:52] iootaa commented on #510
A free and open-source instance of Gitlab allows to use Jekyll. The host is french and so the doc is : https://framablog.org/2017/03/20/les-gitlab-pages-debarquent-dans-framagit/

[2020-06-26 06:06] daattali commented on #510
@iootaa Feel free to add a few sentences to the README on how to translate this into GitLab!

[2020-06-29 21:56] camilogarciabotero commented on #664
Hi @daattali,

I was trying to follow your suggestions on adding the library, but I can't find the exact place on where to add it... Is it in `_includes/footer.html`? If it is, can you provide an example on how to do it (I've no proficiency on html code 😕). I've seen the suggestions on their web [page ](https://jpswalsh.github.io/academicons/) and they suggest adding the following lines on the htm

[2020-06-30 02:45] daattali commented on #664
I'm sorry I really don't have the bandwidth for such support requests. I maintain a few dozen open source projects and cannot solve individual issues.

[2020-07-01 10:52] Hax4us commented on #654
Sorry for delay :)

This is not my site i just took it for example
Here is source of example site https://github.com/thatvirtualboy/thatvirtualboy.github.io

[2020-07-01 10:54] Hax4us commented on #401
Make a room on gitter

[2020-07-01 15:28] daattali commented on #401
That's more of a chatroom than a discussion forum with independent threads, no?

[2020-07-01 15:40] daattali commented on #654
I'll leave this issue open, I'll look into adding an option for square vs round photos one day

[2020-07-05 04:00] daattali commented on #654
I experimented a little bit with removing the circular borders around post images in the feed page, and it did not look great. I could not find a way to make it fit the look of the page without significant other changes. I'm going to keep the images on the feed page as circular only. If you want to change it yourself, you can remove the `border-radius` from `.post-image img` in the main.css file.

[2020-07-05 04:00] #654 closed

[2020-07-05 06:37] Hax4us commented on #654
border-radius method is useless as images are not fitting correctly and whole layout is misbehaving

[2020-07-05 06:42] daattali commented on #654
It's only meant to be a thumbnail. It cannot cater to all image aspect ratios. I don't understand what you mean by "layout is misbehaving" - the layout seems fine, if not then please show a screenshot of what's wrong.

[2020-07-07 05:31] daattali commented on #664
ORCID and google scholar are now supported using fontawesome

[2020-07-07 05:31] #664 closed

[2020-07-07 17:17] wvobot opened #671 "Wrong jQuery link in staticman"
Was (and still) having some problems configuring Staticman comments. That's for another issue after some more investigation...

However, the `staticman-comments.html` include is requesting a non-existent file, the previously used jQuery:

https://github.com/daattali/beautiful-jekyll/blob/54ca4023738b77d3b7c64f7aded7fc404f00fec7/_includes/staticman-comments.html#L78

Probably a quick fix, if you ne

[2020-07-07 18:31] daattali commented on #671
You're right, it's using the old non existent file. Please submit a PR :)

To be honest, I've been considering removing support for staticman because it requires a lot of files and a lot of maintenance and a lot of documentation for just one feature...

[2020-07-12 05:18] daattali commented on #671
Fied

[2020-07-12 05:18] #671 closed

[2020-07-12 12:54] Hax4us opened #676 "Website not working"
Website > https://hax4us.github.io/blog/
But it's giving 404 error

Here is original repository of website > https://GitHub.com/hax4us/blog

[2020-07-12 13:14] Hax4us commented on #676
Resolved

[2020-07-12 13:14] #676 closed

[2020-07-12 13:30] Hax4us opened #677 "When site is in any other repository"
So my site lives in my blog respository  https://github.com/Hax4us/blog
But images from assets not loading except one image which is header logo ( see https://hax4us.github.io/blog/ ) why ?
my post > https://hax4us.github.io/blog/2020-07-10-sort-files-with-specific-extensions-bash/

[2020-07-12 13:38] Hax4us commented on #677
My bad , it was issue from GitHub side and automatically resolved idk how btw 😶

[2020-07-12 13:38] #677 closed

[2020-07-12 17:09] daattali commented on #676
Was the issue something that would be useful for others to know about?

[2020-07-12 18:06] Hax4us commented on #676
No, it was my silly mistake

[2020-07-13 03:22] nxli opened #678 "jQuery-3.4.1 missing in console after enabling staticman"
Can be reproduced by enabling staticman and then inspect the post page. The error is gone after adding jQuery-3.4.1 in `/assets/js/`

[2020-07-13 03:24] nxli opened #679 "Staticman error message even before submitting."
Can be reproduced by enabling staticman and then go to any post page. The following messages appear at the same time. The `submit comment` and `submitted` button appears at the same time as well.

[2020-07-13 03:32] daattali commented on #678
Which version of beautiful jekyll are you using? I fixed this yesterday https://github.com/daattali/beautiful-jekyll/commit/f23fe9c4181fe5d61b35059e40e75fd2ba02df72

[2020-07-13 03:33] daattali commented on #679
Is this related to the jquery issue?

I myself don't use and never used staticman so I'm not the best at debugging it

[2020-07-13 03:34] nxli commented on #678
I just noticed this error today and am not sure if it exists yesterday.

[2020-07-13 03:36] nxli commented on #679
I don't think it is a jquery issue since the two messages & buttons appear at the same time even without the jquery file.

[2020-07-13 03:37] daattali commented on #678
Fixed with #680

[2020-07-13 03:37] #678 closed

[2020-07-13 03:53] daattali commented on #679
It looks like a CSS problem. After looking into it for some time, I believe the problem is that the staticman javascript/css is using bootstrap 3 while the theme migrated to bootstrap 4

[2020-07-13 04:00] daattali commented on #679
Have you used staticman in beautifuljekyll previously?

[2020-07-13 04:11] nxli commented on #679
Makes sense, it is showing when it should have been hidden. No, I haven't used staticman in beautifuljekyll before.

[2020-07-13 04:20] daattali commented on #679
I know when the UI issue happened, when I upgraded to bootstrap 4 (staticman uses classes such as `hidden` which were used in bootstrap 3 but removed in bootstrap 4)

Regardless of the UI, I'm trying to see why the comment submission behaviour itself is broken too. I'm trying to use staticman in an older version of beautifuljekyll https://github.com/daattalitest/test1 but I can't get it to work

[2020-07-13 05:09] #679 closed

[2020-07-13 05:13] nxli commented on #679
A `.hidden {display: none;}` in `staticman.css` can also solve the issue. Your way is far more better though.

[2020-07-13 05:16] daattali commented on #679
I prefered to change everything to match bootstrap 4. There were a few other changes that had to be made.

[2020-07-13 05:24] daattali commented on #646
@Iolaum feel free to submit a PR if you'd like to see these added, but I'm closing the issue

[2020-07-13 05:24] #646 closed

[2020-07-13 16:40] Hax4us opened #682 "[Question] can i use adsense"
Can i use adsense in this theme ? I have no idea but a simple hint can help.
Is procedure same as blogger ? i will have to include add code in each post ?

[2020-07-13 17:29] daattali commented on #682
I also have no idea. Never used adsense, I don't know what's involved. You should look at the documentation for adsense, although before even doing that I would first google for "jekyll adsense" or "github pages adsense" and see if there are blog posts about how to do it to know if it's feasiable or not. But it's certainly not going to be supported out of the box so I'm closing.

[2020-07-13 17:29] #682 closed

[2020-07-28 18:37] lexicalunit opened #685 "Using a link the page subtitle causes render issue"
When I try to add a link to the subtitle of `index.html` I get some weird artifacts that seem to be generated by the code in `head.html`. They appear below the navbar so you can only see them if you go into developer tools and set `.navbar` to be `display: none`.

However on mobile you can see through normal user interaction. Just by trying to scroll up past the header as they will then be pulled

[2020-07-28 18:40] daattali commented on #685
I wouldn't expect that to work. The title and subtitle are meant to be plain text. It's very uncommon to use links there so I didn't invest extra time to make that work. Would you like to tackle this issue and try to make links (or any HTML) work in titles?

[2020-07-28 18:46] lexicalunit commented on #685
I could definitely take a stab at it if you could point me in the right direction. I was able to trace it to `head.html`, _I think_, but it wasn't obvious to me what was the issue there.

[2020-07-28 18:50] daattali commented on #685
The title and subtitle are used in many places, you'd have to do a code search for "title" and "subtitle". They're used in the meta tags of a page, they're used on the feed page, they're used in the blog/page header, they're used when sharing on social media, there are probably other places too. Thinking about it a little more, I think it's be weird to allow HTML , because that would completely th

[2020-07-28 18:58] lexicalunit commented on #685
Ohhhh, yeah I see now 🤔

I guess my use-case is pretty non-typical as I just have the one page and no posts. I may try to hack a solution at some point but it may not be compatible with the goals of this project and might therefore not be able to be merged back in safely. When I do tackle it I will try to make it something you could merge back though 🤞

[2020-07-28 20:45] daattali commented on #685
OK. I'm going to close this issue but if you do work on this and have something to merge, feel free to submit a PR

[2020-07-28 20:45] #685 closed

[2020-07-31 20:21] ppkris opened #687 "Deploying error to my own server."
Thank you Dean for this beautiful theme. I really like it.

Yet, I encountered one problem when deploying the _site to my server after building.
1. it seems not rendering well.
2. the permalink I set for "about", "blog" or "projects" does not work.
http://www.diagnosticforest.com:200/

Both of the problems do not exist when I deploy them on Github.
https://ppkris.github.io/df-beautiful-jekyll/
Git

[2020-07-31 20:25] daattali commented on #687
I'm sorry it's going to be very very difficult for me to help you debug a custom server set up, there's just too many variables at play there. If I had a lot of time on my hands I would ask you to send me credentials to your server to troubleshoot, but I'm working on about a dozen open source projects at the moment (plus my actual work) so I really don't have time to dedicate so much time for free

[2020-07-31 20:25] #687 closed

[2020-07-31 20:28] ppkris commented on #687
Thank you for the advice!

[2020-08-03 16:36] kunalspathak opened #689 "Collapsible section in markdown doesn't work"
I am trying to add a collapsible section in the markdown, but looks like it doesn't render correctly. I am expecting to render it the way it renders below.

<details>
<summary>Short summary</summary>

[code]
</details>

[2020-08-03 17:24] daattali commented on #689
Is this a problem speicfic to beautifuljekyll? It doesn't sound like it is. Do you know that this works in other jekyll websites with the kramdown engine? You can change the markdown engine in `_config.yml` to try other non-karmdown engines.

[2020-08-03 17:47] kunalspathak commented on #689
Thanks for the quick response. I will try it out.

[2020-08-04 01:46] daattali commented on #689
I'm closing this issue, but if you truly believe that this is specific to my theme only then feel free to re-open

[2020-08-04 01:46] #689 closed

[2020-08-08 03:58] lexicalunit commented on #661
This would be quite nice.

[2020-08-13 21:21] nickycutesc opened #703 "RSS setting in _config.yml not working"
I believe there is a bug with the rss setting in _config.yml on line 44. I have the value set to 'false', but I still see the RSS link on the bottom of the homepage. Am I missing another setting to prevent the RSS link from showing up?

[2020-08-13 21:29] nickycutesc commented on #703
NVM, I just had to wait for the page to refresh!

[2020-08-13 22:27] #703 closed

[2020-08-15 14:30] logicatcore opened #704 "Unexpected behaviour"
After a bit of trial and error and giving up on loading a JSON file to draw a network graph in my [post](https://logicatcore.github.io/2020-08-15-Finding-shortest-route-using-Dijkstra-algorithm/), I just instantiated a variable and copied the json contents into the html post file.

The problem, that I am facing now is, the graph shows up and works as expected for first few minutes after the build

[2020-08-15 15:22] daattali commented on #704
I just took a quick look at your page and it seems like one issue is that you're trying to include javascript files that don't exist (for example, `../assets/js/sigma.js-1.2.1/build/sigma.min.js` does not exist in your repo, and `../plugins/sigma.parsers.json/sigma.parsers.json.js` is an incorrect path as well).

I will not be able to provide any further unpaid support, please use online discussio

[2020-08-15 15:22] #704 closed

[2020-08-17 05:31] thomas-gg opened #705 "Bug: Dependency Error: Yikes! It looks like you don't have tzinfo or one of its dependencies installed. In order to use Jekyll as currently configured,"
When I try to run this website directly cloned as is locally with ruby I run into this error and am not sure how to resolve it.
![image](https://user-images.githubusercontent.com/32282600/90360204-e63b5200-e00f-11ea-8cc6-04d4a74c5887.png)
When I run the command gem install tzinfo and gem install tzinfo-data and then bundle exec jekyll serve I get the exact same error. I run gem check and tzinfo an

[2020-08-17 06:18] daattali commented on #705
I'm sorry but I can't help with private help requests as I receive about a dozen each day. This sounds like a generic jekyll issue, there are many online discussion forums for help with jekyll problems. I did notice you said that you were trying to run "this website directly cloned" which generally isn't the right way to use this theme - you either use GitHub diretly (as instructed in the README)

[2020-08-17 06:18] #705 closed

[2020-08-19 17:27] YoniChechik opened #707 "Two possible upgrades"
Great website!! I use it as well at www.AIisMath.com

I have two possible simple upgrades for you:
1. add favicon to head.html:
[code]
and easily add a flag at the _config for this.

2. possible semi-bug in _includes/header.html
see my change [here](https://github.com/YoniChechik/AI_is_Math/commit/3c10a30f8546a1a43d410d4b4e24dda4b7e288e5)

[2020-08-19 18:41] daattali commented on #707
Shalom Yoni

1. There is an FAQ about how to add a favicon - you just need to add a favicon image to the root and it'll automatically get picked up by jekyll. As far as I know, explicitly using the link tag is only required if you want to use a different location for the image. Is that the reason you're suggesting this, so that the location could be inside assets instead of the root folder? I woul

[2020-08-23 17:37] csgillespie opened #710 "Deploying site"
From the README

This __didn't__ work - I waited around 10 minutes. However, when I changed and pushed a file, the website was up in around 10 seconds. Perhaps adding a note in the README.

[2020-08-23 17:56] daattali commented on #710
Thanks for the notice @csgillespie (also, curious what you're using this for!)

It definitely used to work just like that. I'll try it with a test account

[2020-08-23 18:01] daattali commented on #710
Seems to have worked for https://github.com/daattalitest/daattalitest.github.io

I'll still add a note though to account for github potential glitchiness. Thanks!

[2020-08-23 18:01] #710 closed

[2020-08-23 18:09] csgillespie commented on #710
I was setting up a website for my daughter ;)

So a complete set of steps:

1. Create a brand new Github account
2. Create a `x.github.io` account and publish a simple index.html file. This worked.
3. Clone __your__ repo
4. Delete `x.github.io` and rename the cloned beautiful Jekyll to `x.github.io`
4. Wait 10 minutes, I didn't get an error, just a `404` (I think)
5. Comment out a single line on t

[2020-08-23 19:15] daattali commented on #710
Sounds like a the github build glitch, renaming the repo should have triggered a re-build. I'll add a note after I finish my current work (I'm adding a lot of features this weekend related to SEO/social media sharing, if your daughter cares about that stuff!)

[2020-08-23 20:10] JosemyDuarte opened #711 "Improve PageSpeed score"
I'm not sure on how to properly fix this (I'm mostly backend/DevOps) but I just found these warnings/suggestions while scanning for possible performance issues
<img width="718" alt="Screenshot 2020-08-23 at 21 05 40" src="https://user-images.githubusercontent.com/6247860/90987651-8d763700-e584-11ea-9a34-91f3b133c206.png">

https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fb

[2020-08-23 22:37] daattali commented on #711
Thanks for your comments. These issues are all within normal and I don't think it makes sense to try to remove them. In an ideal environment, where you know the exact content of each page and you have complete control over everything and every ms counts, these things would come into play. Since beautiful jekyll is a template theme, it cannot know which css exactly you use and what to load before v

[2020-08-23 22:37] #711 closed

[2020-08-23 22:42] daattali commented on #710
FYI I was able to replicate by doing what you did - deleting the repo, and quickly forking and renaming.

It's definitely a github bug though. On the [builds page](https://github.com/daattalitest/daattalitest.github.io/runs/1019288986) it tells me that the page was built and is available at `https://daattalitest.github.io` but that page is a 404. After forcing a re-build, it's fine

[2020-08-24 03:42] daattali commented on #660
Is there anything that isn't working with the current theme when using jekyll 4+?

[2020-08-28 10:04] VincentTam opened #713 "bump kramdown dependancy"
Thx for great theme.  I don't know Ruby (gems), and I don't have Ruby gems installed in the local repo for my fork of your theme.  I tried clicking the green button to generate a PR, but dependabot didn't show the generated PR for this particular kramdown gem.
I would appreciate an update for the Ruby gem dependancy.
![Screenshot from 2020-08-28 12-01-04](https://user-images.githubusercontent.com/

[2020-08-31 10:06] wi5nia opened #715 "Avatar not loading on home page"
Hi,
in my _config.yaml file I have
[code]
The problem is that for whatever reason it doesn't load on the home page https://tomaszwisniewski.com/
When you go into any post you can see that it works https://tomaszwisniewski.com/exam/training/2019/12/09/girls-in-tech-az203.html

The image loads also after going into https://tomaszwisniewski.com/img/avatar-icon.png

No errors in the browser devtools,

[2020-08-31 15:57] daattali commented on #715
Can you show me the code for your website repo? As long as there's an `avatar` config setting and you didn't set `show-avatar=false` in the YAML, it should show up, this doesn't make sense to me. I'd have to see your code to see why this is happening.

[2020-08-31 15:59] wi5nia commented on #715
I have invited you to the repo :) @daattali

[2020-08-31 16:24] daattali commented on #715
It seems you changed the gem versions in your website, was that on purpose? I can't try to run your website locally to troubleshoot because your website is trying to use jekyl 4.0.1 and I don't have an updated ruby version to support it. GitHub Pages itself is not using jekyll version 4, so I haven't looked into any problems that happen with jekyll 4. Only when GitHub moves to jekyll 4 I'll suppor

[2020-08-31 16:26] wi5nia commented on #715
I had a mess with my previous blog installation so I basically migrated...
jekyll new sitename
Added your stuff and that's it so there may be something in the play ... hmm...

[2020-08-31 16:48] daattali commented on #715
OK I found the issue.

So simple! In your blog posts, you manually defined `show-avatar` in the YAML. In other pages it wasn't defined. If you use beautifuljekyll via GitHub Pages, then you'd inherit my version of the config file, which set `show-avatar: true` to be the default behaviour , but if you don't have my config then you need to turn it on.

[2020-08-31 16:51] wi5nia commented on #715
HA! Good one, added to my index.markdown file

[code]

and all is good 😃 thanks!

[2020-08-31 16:57] daattali commented on #715
You can do what I did: https://github.com/daattali/beautiful-jekyll/blob/7d784b37c873dcbb7678cd3b2d77f4a494d90b1a/_config.yml#L196-L201

It works this way because up until very recently, I didn't even know how to run sites with ruby, I only knew github pages, so everything was catered to that. Now that I allow people to use their own config files, I should change this so that the default is not do

[2020-08-31 17:08] #715 closed

[2020-08-31 18:25] daattali commented on #713
I'm a noob when it comes to ruby/gems as well, my only experience is through writing the readme for this repo. So this doesn't make a lot of sense to me either. After a long time battling with the gemfile, I think that perhaps adding `spec.add_runtime_dependency "kramdown", "~> 2.3.0"` is all it takes to fix this, but I'm not sure. I also don't know if that will break anything else. I'd rather lea

[2020-09-01 05:56] #713 closed

[2020-09-01 06:48] daattali commented on #707
@YoniChechik let me know if you have any more info. I'll close the issue otherwise :)

[2020-09-03 07:00] VincentTam commented on #713
Thx for update.  I merged the above commit at VincentTam/beautiful-jekyll@8fbdaa2, but I'm still seeing this warning.
![kramdown security warning](https://user-images.githubusercontent.com/5748535/92081436-55ac9200-edc3-11ea-8320-8072a6eb8d2a.png)
With a bit of patience, I've finally received VincentTam/beautiful-jekyll#34 from @dependabot.

[2020-09-03 07:31] YoniChechik commented on #707
closing

[2020-09-03 07:31] #707 closed

[2020-09-03 22:12] daattali commented on #713
So it is or is not fixed?

[2020-09-03 22:14] daattali commented on #713
BTW notice that Gemfile.lock is no longer included in beautifuljekyll. I read up on the subject, and when building a gem that file should not be included

[2020-09-04 15:33] VincentTam commented on #713
After merging the automatically generated PR, the issue is gone.  I simply let the bot does it job.

[2020-09-04 18:04] daattali commented on #713
So what I did didn't help?

---
Dean Attali
President & CEO
AttaliTech Ltd
https://AttaliTech.com <https://attalitech.com>

On Fri, 4 Sep 2020 at 11:33, Vincent Tam <notifications@github.com> wrote:

[2020-09-04 20:52] VincentTam commented on #713
Sorry I can't tell.  I'm using Jekyll & Hugo, but I know neither Ruby nor Golang.  Actually the bot changed only `Gemfile.lock`, which was deleted at 114170b.  I did tried to merge the recent updates yesterday, but I was misled by the bot's automatically generated PR's.  If the problem illustrated in the screenshot doesn't happen on your GitHub repo for your GH Pages, then the Gem deps should be w

[2020-09-05 12:40] VincentTam commented on #713
I tried placing it inside my `_config.yml`, and I configured GH Actions a year ago, but I dunno why the GH Page build have failed.
I use this theme just like I'm using a bunch of others so as to showcase how Staticman can be integrated into blog themes.  My choice of blog theme is random, a few of them are well-known, and the rest are less popular.
P.S. I'm using Staticman, but I dunno node.js.

[2020-09-06 18:05] daattali opened #718 "Checklist for version update 5.0.0"
Next version 5.0.0:

- [x] Bump version in CHANGELOG
- [x] Update base layout to include the new version in the HTML
- [x] Update `beautiful-jekyll-theme.gemspec`
- [x] Push to rubygems.org
- [x] Update https://beautifuljekyll.com/updates/
- [x] Update https://beautifuljekyll.com/getstarted/
- [x] Add new Release on github

[2020-09-10 15:10] VincentTam commented on #541
@daattali I'm sorry for my lack of response.  I suffered from game addiction during the lockdown.  Learning C# now, I'm a little bit more active on Git* than before.

As far as I know (about the node.js app one year ago), the idea of a public instance isn't scalable.  When everybody uses it, the it can get "congested".  It's true that the official website has no mention about the newly introduced

[2020-09-10 15:25] daattali commented on #541
I understand those concerns, but I still would be a little hesitant to use a new version that isn't **at all** mentioned on the official site whatsoever.

[2020-09-10 15:42] VincentTam commented on #671
Sorry for the lack of response over a year.  That's a light feature that allows interactions with users.  Blogging is a way to communicate with its readers.  Some authors would like to receive feedbacks from their readers.  It would be nice if a theme provides the freedom for site owners to choose, and the ease of configuration for those who wish to enable comments.

In response to your question i

[2020-09-10 16:51] daattali commented on #671
I was only voicing concern that staticman seems to have a very large footprint (it requires more files in the template and more config variables than any other single feature here), but I am still supporting it. Although I also started supporting [utterances](https://utteranc.es/) as well which I personally find much easier to use :)

[2020-09-15 22:20] #718 closed

[2020-09-16 01:53] yeroc-sebrof opened #719 "Change width at which the top navbar becomes a burger"
At a width of 768 the right options from the top bar becomes a menu burger, I would argue this is too late as a resized half browser window on a 1080p screen shows the following:

![image](https://user-images.githubusercontent.com/24794972/93282903-52ec6c80-f7c7-11ea-8a68-093cf8ea8109.png)

This collision between the icon and the text does not occur beyond 1260px wide. Hopefully an easy fix to swi

[2020-09-16 02:29] daattali commented on #719
You're right, the next breakpoint (which is at 992px) makes more sense.  The problem you're seeing will still happen for a small range of widths, but it's still a width that makes more sense

[2020-09-16 03:39] #719 closed

[2020-09-17 03:22] ben-nathanson commented on #707
Thank you @YoniChechik! That code snippet resolved a bug where Jekyll wasn't picking up the favicon in the root in my site.

[2020-09-17 03:32] daattali commented on #707
@ben-nathanson I'm curious - was your favicon in the root and named `favicon.ico`? If yes, then it really should have worked, I'm not sure what could have prevented it.

[2020-09-21 16:46] charvi-077 commented on #660
I am also getting the similar version issue , Does it support version 4 or any other alternative to resolve this ?

[2020-09-21 17:02] daattali commented on #660
This theme supports whatever Jekyll version is used by GitHub Pages. When they upgrade to a new Jekyll version, I will do all the necessary testing and work to update this theme to support the new version.

[2020-09-25 23:00] LinyiGuo96 opened #721 "One question abou the yaml header"
Hi @daattali,

I forked your wonderful project **beautiful-jekyll** to build my personal website months ago but didn't finish it at that time.

Now I want to add an image backgroud behind the title in the `index.html`, but haven't figure it out. My yaml is as following:

[code]

BTW, the index.css file is copied from your homepage repository. How can I fix it?

Much appreciate:)

[2020-09-28 02:47] daattali commented on #721
Hi @LinyiGuo96 , thanks for using beautiful jekyll! The issues here are only for reporting bugs with the theme, not for general support questions. If you'd like support, please consider any of the plans https://beautifuljekyll.com/plans/

[2020-09-28 02:47] #721 closed

[2020-10-11 13:29] Timmmm commented on #246
Just to confirm, because the implicit nature of all this means it isn't obvious:

* `/_drafts/foo.md` -> Not published
* `/_wip/foo.md` -> Also not published (seems like anything that starts with `_` is special?)
* `/foo.md` -> Published at `/foo/`
* `/wip/foo.md` -> Published at `/wip/foo/`

So I think the best solution is to make a folder called `wip` or `drafts` and put your files in there.

[2020-10-11 15:19] daattali commented on #246
This isn't a beautifuljekyll specific suggestion,  it's just Jekyll in general. I think that's correct, but it's best to ask in a Jekyll forum

[2020-10-11 20:58] Timmmm commented on #246
Sorry my comment wasn't clear - I wasn't asking if it was the case - I was stating that it is the case, for future people like me who find this from Google.

[2020-10-11 21:15] daattali commented on #246
Ah ok, great!

[2020-10-18 12:10] danforth-restorative opened #731 "staticman comment submission fails"
First, thanks for this awesome website template! It really is beautiful!

I have my own instance of staticman, and my own custom form on the same page, so I know it's working right.

However, when I send a submission through the forms built into beautiful-jekyll, I get 405 nginx. Since it's hosted on my server, I can look at the logs, but that's not too illuminating:

[code]

I was using v2 endpoi

[2020-10-18 16:41] daattali commented on #731
I have no experience with trying to host a staticman instance, I'm afraid I can't help much with this. I'm not sure if staticman itself has some sort of forum where you can ask for help? Perhaps @VincentTam has any wisdom hereon this

[2020-10-19 00:51] danforth-restorative commented on #731
so I drilled down a bit deeper, and decided to hardcode my action url into the form.

`<form id="new_comment" class="page__comments-form js-form form" method="post" action="https://identosphere.net/staticman/v2/entry/danforth-restorative/digitalskills.info/master/comments">`

now the form is communicating with staticman.. so I figure something's up with the javascript, because before the error was

[2020-10-19 07:09] daattali commented on #731
So can this issue be closed? What endpoint appears in the form when you don't hardcore it? (You can use the chrome/firefox developer toolbar to look at the HTML on the page and see what the `action` attribute of the form contains)

[2020-10-19 07:17] danforth-restorative commented on #731
`<form id="new_comment" class="page__comments-form js-form form" method="post">`

I guess it's supposed to call upon staticman js, which I've seen in the built site has proper values encoded into it.. but I don't know how that's supposed to connect with the form.

[2020-10-19 07:25] daattali commented on #731
I don't know anything about staticman, I never used it myself...... but looking at the javascript file, I do see these lines:

https://github.com/daattali/beautiful-jekyll/blob/8e98675644c7dae56e4d50047868c64021dcccd2/assets/js/staticman.js#L18-L29

Notice specifically the line `url: endpoint + repository + '/' + branch + '/comments',`. My guess would be that this is where it's deciding on the URL

[2020-10-19 07:36] danforth-restorative commented on #731
I did set parameters and also saw those those lines in the built version of staticman.js

[code]

[code]

I may try and debug this more later, and will leave the issue open, since the comments aren't working without hardcoding the endpoint html side.

[2020-10-19 07:40] daattali commented on #731
So I see a couple of differences.

https://digitalskills.info/staticman/v3/entry/github/danforth-restorative/digitalskills.info/master/comments

vs

https://digitalskills.info/staticman/v2/entry/danforth-restorative/digitalskills.info/master/comments

It looks like your entrypoint uses v3 instad of v2, and has the word "github" in it. Your hardcoded string does not.

[2020-10-19 08:02] VincentTam commented on #731
@danforth-restorative If you git blame the JS code for Staticman and trace back the related PR and issues, you'd see that I have moved and decomposed the form action url to the JS file so as avoid to sp\@m bots (c.f. https://github.com/daattali/beautiful-jekyll/issues/518#issuecomment-515554335).

For testing, it helps it you include screenshots (and even better if application, server's JSON respo

[2020-10-20 04:10] danforth-restorative commented on #731
ok, thanks @VincentTam that's good to know about `git blame`.
I can't do it immediately, but will come back with more detail.

[2020-10-22 08:58] VincentTam commented on #731
Lemme do this for you this time.

![image](https://user-images.githubusercontent.com/5748535/96847956-165e0180-1454-11eb-8194-3141ed5d7bcb.png)
I encourage using Google ReCAPTCHA v2 as a means to stop b0τs.  I've wrote in `staticman.yml` and `_config.yml` (or somewhere else) that the user's personal ReCAPTCHA key has to used.

![Screenshot from 2020-10-22 10-45-07](https://user-images.githubuserco

[2020-10-31 01:57] hannlp opened #735 "How can i add a index or directory of my articles?"
at title

[2020-10-31 04:51] daattali commented on #735
Hi @hannlp thanks for your question. The GitHub Issues section is meant to be used only for bugs or feature requests. If you'd like to receive some support or have questions, please look at the different plans for support https://beautifuljekyll.com/plans/

[2020-10-31 04:51] #735 closed

[2020-11-01 11:18] hannlp commented on #735
I have solve it by myself, thank you a lot^ ^.

[2020-11-16 07:44] danforth-restorative commented on #731
ok... I reverted the form and had a few confounding errors like `405 method not allowed` not sure how I fixed that, since I forgot to pull changes to my server while testing (probably similar problem I was having the first time)

then I got `$.ajax is not a function` which I [solved by changing all instances](https://stackoverflow.com/questions/44212202/my-javascript-is-returning-this-error-ajax-i

[2020-11-16 07:44] #731 closed

[2020-11-16 10:08] VincentTam commented on #731
@daattali At the 2nd reading of the issue, I finally notice the words "host staticman instance".  In the [official repo for the Node.JS app Staticman](//github.com/eduardoboucas/staticman), you'd find more help on backend stuff like hosting a Staticman instance from other fellow users by just asking a question in the issues.  A theme's Staticman support do front end stuff.

I'm glad to see this qu

[2020-11-16 14:51] manelrodero opened #740 "Image for Twitter card isn't generated if cover-img has a caption"
Using beautiful-jekyll 5.0.0

Post with simple a simple **cover-img** like this:
`cover-img: "/assets/img/image.jpg"`

Renders correctly in HTML as:
`<meta name="twitter:image" content="https://www.blog.com/assets/img/image.jpg">`

But if we use a caption like this:
`cover-img: {"/assets/img/image.jpg" : "Caption"}`

then **twitter:image** is missing from the HTML code.

If we use **share-img** th

[2020-11-16 15:06] toleeck opened #741 "How to generate rss-feed with more than 10 items?"
I would like to receive a RSS-feed, in which, 30 posts are published.

As I understand it, the following construction in `_config.yml` should have saved me:
[code]

But I didn't get the expected result.
How to increase the number of entries in the RSS-feed, for those, if I am far from coding?

[2020-11-16 17:57] toleeck commented on #741
The number of posts in the rss-feed can be edited directly in the xml-file:
[code]

[2020-11-16 17:57] #741 closed

[2020-11-16 18:20] daattali commented on #741
Thanks for posting your own solution!

[2020-11-16 21:19] daattali commented on #740
That syntax is slightly wrong. It's an array, not a dictoinary, so it should be `["/img/path" : "caption"]` instead of `{}`

I'm honestly surprised that the caption is even working with this syntax :)

[2020-11-16 22:19] manelrodero commented on #740
Thanks. I'll try it with [ insted of { tomorrow and let you know.

I've only following instructions for cover-img in your README.md ;-)

`Include a large full-width image at the top of the page. You can either provide the path to a single image (eg. "/path/to/img") , or a list of images to cycle through (eg. ["/path/img1", "/path/img2"]). If you want to add a caption to an image, then the image sh

[2020-11-16 22:36] daattali commented on #740
Wow, that's definitely wrong! I'll fix that, thanks for pointing that out.

[2020-11-16 22:40] daattali commented on #740
Please close this issue if you think the new wording is good

[2020-11-20 00:17] ht-timchen opened #742 "google scholar link broken?"
Adding google scholar link to the social-network-links: in _config.yml file seems to break the build.

I have tried multiple format, e.g. https://scholar.google.com.au/citations?hl=en&user=UgJAkMgAAAAJ, or just UgJAkMgAAAAJ, but both break the build.

[2020-11-20 05:52] daattali commented on #742
I can't reproduce using the latest version. Unfortunately I can't debug your version. I suggest trying to update to the new version when you can (you'll also get many new features).

To debug one more time, perhaps try placing "google-scholar: UgJAkMgAAAAJ" as the first line in the list (above email) to see if that line specifically is broken or something about the list format. But unfortunately I

[2020-11-20 05:52] #742 closed

[2020-11-20 06:01] ht-timchen commented on #742
moving the google-scholar to the first line in the list actually works!

[2020-11-20 06:05] daattali commented on #742
So that means that there's an error with your syntax

[2020-11-22 13:01] manelrodero commented on #740
Hi,

Tested cover-img: ["/path/to/image" : "caption"] and it works well. Page has the cover and the caption is on bottom right of ti.

Generated code is (when developing locally):
<meta name="twitter:image" content="http://localhost:4000/path/to/image">

So, I'll close this issue.

BTW, if you try to add a caption to share-img using the same syntax you end having wrong source code ;-)
<meta name="

[2020-11-22 13:01] #740 closed

[2020-11-22 19:28] daattali commented on #740
Share-img should only be an image path, a caption doesn't make sense for it.

[2020-11-24 14:50] f-squirrel opened #744 "Quotes in a post title cut the title in the social preview"
I've noticed that if a post has quotes in its title then when the post is shared on Facebook or Twitter, only the part before the quotes is shown.
Example:
[code]
=> The preview shows everything before the quote:
[code]
When I remove the quotes:
[code]
=> The preview shows the full title:
[code]
I've tried to put `\"` but it did not help.

I am not sure if it is a bug or misconfiguration, I'd be h

[2020-11-24 18:42] daattali commented on #744
This seems like an escaping issue, I'm probably not escaping the title somewhere where it should be escaped. I'd be happy for a PR!

[2020-11-24 20:32] f-squirrel commented on #744
@daattali , I've created a PR(https://github.com/daattali/beautiful-jekyll/pull/745).
I am pretty new to HTML/Ruby, but it worked for me.

[2020-11-27 19:58] #744 closed

[2020-11-30 22:24] adityakamath opened #748 "Spacing between image and text is not consistent."
Hi, I have two pages - projects.md, and aboutme.md. I've basically used the same piece of code to add 2 circular png images (of the same size) in both the pages. However, in aboutme.md, I see a space between the image and the following text. In projects.md, this space doesnt exist. What am I doing wrong??

This is the code I used:

[code]

https://github.com/adityakamath/adityakamath.github.io/blo

[2020-12-01 06:44] daattali commented on #748
Hi @adityakamath , this doesn't look like an issue with the theme itself, but rather a problem with your code. I think a problem like this will happen with any theme. If you want to get personalized help then please have a look at the support plans! https://beautifuljekyll.com/plans/

[2020-12-01 06:44] #748 closed

[2020-12-01 08:53] adityakamath commented on #748
@daattali good to know that it's not an issue with the theme. I'll check my code, thanks!

[2020-12-04 06:45] lexicalunit opened #749 "Site avatar image is too low on Safari"
I didn't dig into what's going on here, but it seems to work fine on Firefox and Chrome.

**large screen**
<img width="914" alt="Screen Shot 2020-12-03 at 10 42 31 PM" src="https://user-images.githubusercontent.com/1903876/101130833-0f7cef80-35b9-11eb-8e06-df7e1f887f43.png">

**small screen**
<img width="815" alt="Screen Shot 2020-12-03 at 10 42 44 PM" src="https://user-images.githubusercontent.co

[2020-12-04 06:49] daattali commented on #749
Thanks for the report. I don't have any macs or iphones around me, I'll try to look into it when I'm with someone who has an Apple device

[2020-12-04 06:49] daattali commented on #749
To confirm: this happens for all beautifuljekyll websites, not just the demo one, right?

[2020-12-04 06:52] lexicalunit commented on #749
It's happening for my site and I checked https://beautifuljekyll.com/ just to see if it was happening there too just to confirm. I didn't check more sites than that though.

[2020-12-04 06:53] daattali commented on #749
That sounds like it's probably true for all of them :)

[2020-12-08 07:38] #749 closed

[2020-12-09 22:25] daattali commented on #401
GitHub now supports Discussions so that will be the solution to this! Anything that isn't a feature request or bug report should be hadnled in https://github.com/daattali/beautiful-jekyll/discussions

[2020-12-09 22:25] #401 closed

[2020-12-13 22:44] YES-12 opened #753 "I have a question. How do you add an Icon onto the website? This is because I want to add one on my template"
I have a question. How do you add an Icon onto the website? This is because I want to add one on my template

_Originally posted by @YES-12 in https://github.com/daattali/beautiful-jekyll/discussions/751#discussioncomment-203313_

[2020-12-18 07:57] ghosh-r opened #754 "Include Reddit in share options of posts"
Please add Reddit as a share option that appears below the pages marked as a post and added in the **_post** folder.

I am requesting you to add the option for posts to be shared on Reddit.

Users should be able to configure the `_config.yml` file in such a manner-

[code]
and an icon is added below every post so that readers can share the post to Reddit.

[2020-12-18 08:04] ghosh-r opened #755 "Include Medium in Homepage footer"
In the homepage footer, please add an option to include the links to the author's Medium profile and publication.

[code]

I want to be able to share my Medium profile and publication and the Medium logo to appear on the footer and the readers to be able to reach my Medium through the link.

[2020-12-18 20:09] daattali commented on #755
We can do one or the other, not both. Feel free to submit a PR to add this. If you don't know how, here's an example https://github.com/daattali/beautiful-jekyll/pull/625/files

[2020-12-18 20:11] daattali commented on #754
That's a good idea. I would welcome a pull request to add this

[2020-12-18 20:20] #753 closed

[2020-12-18 20:22] daattali commented on #754
Seems like this would be simple to implement.

https://www.reddit.com/submit?url={url}&title={title}

[2020-12-19 11:12] KnowsCount opened #756 "kramdown version error?"
[code]

My kramdown version is 2.3.0:

[code]

[2020-12-19 12:45] ghosh-r commented on #755
@daattali I am using a fork of this repo to build my own website. How do I create a PR from that repo? I have not created a PR from a forked repo which I have heavily customized before. Can you help me with that process?

[2020-12-19 17:46] daattali commented on #755
I found some instructions online https://stackoverflow.com/a/37718535

On Sat., Dec. 19, 2020, 07:46 Ritobrata Ghosh, <notifications@github.com>
wrote:

[2020-12-19 18:06] ghosh-r commented on #755
Would I have to do this if you add me as a contributor to this repository, even for a short period of time?

[2020-12-19 18:08] daattali commented on #755
Anyone can submit a PR. After it's accepted, you automatically show up in
the contributors list.

On Sat., Dec. 19, 2020, 13:06 Ritobrata Ghosh, <notifications@github.com>
wrote:

[2020-12-20 12:22] ghosh-r commented on #755
It would be really helpful if you could add me as a contributor manually to this repository, even for a short amount of time. The thing is, I use a forked version of your repo to host my own website. The website might get disrupted in this process.

[2020-12-20 18:34] daattali commented on #755
I'm sorry but I prefer not to add contributors. You can use a different branch on your fork or clone a new copy

[2020-12-20 19:48] ghosh-r commented on #755
Let me see what I can do.

[2020-12-26 22:16] Joshuaalbert commented on #755
yep, using a different branch is the way to do this. You can get the commit hash of the original fork you made, and then branch from that using `git branch branchname <sha1-of-commit>` then work on that then submit that for PR.

[2020-12-29 02:32] CarlosGrohmann opened #757 "Change the order of social icons on footer?"
Is there an easy way to change the order of the social icons of the footer? I did it by manually re-ordering stuff in `_includes/social-networks-links.html` but I was wondering if there was a better way...

[2020-12-29 03:08] daattali commented on #757
No there isn't, the order is hard coded and the only way to change it is by modifying the file you did

[2020-12-29 03:08] #757 closed

[2020-12-30 23:29] CarlosGrohmann opened #758 "hover or click to open navbar menu?"
I updated to the latest version from github and now I need to click on the navbar item to open the dropdown menu, but with the old version (from 2018 maybe?) I could open the menu only by hovering over it. Is this the new behavior? Can I change it back to hover?
Thanks for the great theme and dedication

[2020-12-30 23:42] daattali commented on #758
You're right, the dropdowns in navbar used to happen on hover and now it's on click. This change was introcued in version 3.0.0 when I migrated to bootstrap 4. Prior to this, the entire navigation bar was constructed manually by me - using a lot of hacky html, javascript, and css. When I migrated to bootstrap 4, I also simplified the codebase a lot and I'm now using bootstrap's own navbar - I kept

[2020-12-31 00:26] daattali commented on #758
The official bootstrap 4 documentation says: https://getbootstrap.com/docs/4.0/components/dropdowns

[2020-12-31 00:26] #758 closed

[2020-12-31 00:37] CarlosGrohmann commented on #758
No worries, the change in behavior is minimal and won't be an issue. I'm very happy with the new version.
thanks

[2020-12-31 02:44] CarlosGrohmann opened #759 "homepage not linked in avatar and site title"
So I deployed the new version of my website using the last beautiful jekyll, and I got a strange behavior of the avatar (at the center of the window) and the title (to the left). They used to link to the homepage, but now they link to the page I'm at.
The site can be accessed at http://carlosgrohmann.com/ or https://carlosgrohmann.github.io/
Using the .com address as an example, if I'm at the star

[2020-12-31 02:53] daattali commented on #759
That's strange, I'm not sure why that's happening. Since you had a website before, and you said you're upgrading, how did you do the upgrade? Did you do one of the two methods I describe [here](https://beautifuljekyll.com/faq/#updating)? If you upgraded by taking your existing github repo and selectively modifying files, I would imagine the current situation in the repo is messy. If you upgraded b

[2020-12-31 13:15] CarlosGrohmann commented on #759
Ok, found it.
The _config.yml was missing the `url` tag. In the old version there was a "section" for github-pages, not present in this version. Now it points to the correct address (at leas in the .com site, in the github-pages one it points to the .com, since I started using jekyll-scholar and can't use github to build the site anymore).

Thanks for the continuous support and have a great 2021!

[2020-12-31 17:33] daattali commented on #759
Great glad it's solved! Please consider supporting if you enjoy this :) https://beautifuljekyll.com/plans/

[2020-12-31 17:33] #759 closed

[2021-01-02 11:41] ghosh-r commented on #755
@daattali, I have added PR #762. Have a look.

[2021-01-02 11:48] ghosh-r commented on #755
@Joshuaalbert, where do I find the hash of the initial fork?

[2021-01-02 17:08] Joshuaalbert commented on #755
You can use `git log`. If you're using the `less` pager, then you can press `/` to search then type your email, then press enter. This will show you your first commit. The one above that will be the commit you want.

[2021-01-14 17:33] daattali commented on #756
What were the exact steps starting from a new project to reproduce this?

[2021-01-15 01:02] KnowsCount commented on #756
why running `bundle exec serve`? I forgot..

[2021-01-17 18:33] manelrodero opened #765 "Feature suggestion: Menu width based on the width of the longest word"
Hi Dean,

After asking on Twitter about this, I'm creating this "issue" with a feature suggestion.

Menu width should be based on the width of the longest word in menu items.

If not, words are "truncated" to the next line. For example, a menu called "ABOUT" with 3 items ("ME", "LAPTOP", "SOFTWARE") is rendered like this:

![image](https://user-images.githubusercontent.com/26098260/104852334-c7145

[2021-01-17 19:02] daattali commented on #765
I agree the length of the dropdown should be better.

Looking at the Bootstrap documentation, it seems that the length should automatically get adjusted to fit https://getbootstrap.com/docs/4.0/components/navbar/ - in the examples they have, they aren't doing anything special to set the width.

The code I use is very similar https://github.com/daattali/beautiful-jekyll/blob/master/_includes/nav.ht

[2021-01-18 13:48] manelrodero commented on #765
I'm not a web developer, so I don't know too much about Bootstrap.

In my error sample, I can have the text "SOFTWARE" without the wrap undefining word-break using F12 Developer Tools in 'beautifuljekyll.css' (line 255): https://github.com/daattali/beautiful-jekyll/blob/master/assets/css/beautifuljekyll.css.

.navbar-custom .nav-item.dropdown .dropdown-menu {
  min-width: 0;
  margin-top: 0;
  fon

[2021-01-19 04:23] daattali commented on #765
In your case specifically, by chance, the length of the word is only slightly more than the given space, so if you force it onto one line it looks normal. But if you add any more letters to the word "software" you'll see what this breaks - it will put everything on one line. It's not the correct solution.

[2021-01-19 09:00] sidharthramesh opened #766 "$.Ajax not available in staticman.js"
When trying to submit comments through staticman, the form posts to the same page and results in a 405 not allowed (since github doesn't allow posts)

The error on the console is:
[code]
Maybe the slim version of jQuery doesn't include ajax?
https://github.com/daattali/beautiful-jekyll/blob/fe0a48eea01d0351c8bff7473b5d58482da47da9/_includes/staticman-comments.html#L75-L81

As a result, none of the

[2021-01-19 15:48] daattali commented on #766
You're right, slim doesn't support Ajax. This is a bug, you can submit a PR

On Tue., Jan. 19, 2021, 04:00 Sidharth Ramesh, <notifications@github.com>
wrote:

[2021-01-19 16:27] sidharthramesh commented on #766
I saw your comment regarding including jQuery twice. How does this happen? I don't want to include it twice and make the page slower.

[2021-01-19 16:30] daattali commented on #766
Generally staticman is included on the page when jQuery is already loaded
by beautifuljekyll. But in case you for some reason are using it on a page
that didn't load jQuery, we need to load jQuery for staticman

On Tue., Jan. 19, 2021, 11:27 Sidharth Ramesh, <notifications@github.com>
wrote:

[2021-01-19 16:33] sidharthramesh commented on #766
I like the fact that the pages load fast. However, I'm working on optimising it even more.

Is $.ajax really required here? How about using fetch or axios here instead of the full version of jQuery? Including a very common version of jQuery from a CDN will be another alternative since it is almost a given that the browser will have a copy of it in its cache.

[2021-01-19 17:12] daattali commented on #766
I'm not an expert in staticman. You can look at the staticman javascript file to see where/why it's needed

https://code.jquery.com/jquery-3.5.1.slim.min.js is the version that's being loaded and it's the officially recommended CDN by jQuery, are you saying that's not a good CDN?

[2021-01-19 21:22] manelrodero commented on #765
I understand. But I don't know how to solve for everyone because I'm not a programmer :-/. I hope some BJ user can solve this problem.

A "solution" for my case without changing any CSS would be changing the "ABOUT" title for something larger. As the menu width seems to be related to width of top menu, then "SOFTWARE" will fit.

In default bootstrap, menus seems to adapt to the larger item on it l

[2021-01-19 21:49] daattali commented on #765
That's right, fixing it for one case is easy, but having a general solution that works for all cases is the difficult part. As my first comment mentions, I'm not sure why bootstrap menus seem to adapt in the documentation but not here - and would be happy if someone had half an hour to take a look and fix.

[2021-01-26 19:31] nvtrang91 opened #769 "Post header section doesn't show post title"
Please help,
My post does not show the title and subtitle and I couldn't find how to fix it. I kept the beautifuljekyll unchanged, just modified the _config file to no avatar, no title image.
![image](https://user-images.githubusercontent.com/35219743/105894869-57fbdb00-6047-11eb-9252-2071e2e324a9.png)

[2021-01-26 19:45] daattali commented on #769
Sorry, I'm not able to help with personal issues. This area is only for bugs with the theme, not personal support. For individual help please use a general jekyll forum online or [a support plan](https://beautifuljekyll.com/plans/)

[2021-01-26 19:45] #769 closed

[2021-01-29 16:34] EthanMcBloxxer opened #770 "Feature suggestion: Blog post search bar"
A search bar to more easily navigate blog posts could be beneficial when having 4+ pages.
A possible candidate for this could be [Simple-Jekyll-Search](https://github.com/christian-fei/Simple-Jekyll-Search). I've implemented it on my website already and think it would be a good addition to Beautiful Jekyll.

[JSFiddle Demonstration](https://jsfiddle.net/d1h79vsf/) (this is done with liquid and a "

[2021-01-29 22:21] daattali commented on #770
Thanks for the suggestion Ethan. It's definitely a nice feature, but I generally try to avoid feature creep and keep the theme simple. If this feature can be incorporated with minimal changes and is very simple for the user to turn on/off - eg. by simply switching a config parameter, then I'd be happy to merge

[2021-01-29 23:30] EthanMcBloxxer commented on #770
My strategy was to create "search.html" in includes, then include it in the home layout if `post_search: true` in _config.yml.

[2021-01-30 07:41] the4rchangel commented on #660
Quick question. I am doing an exact replica of this repo, getting no page build errors, and my page is only returning "404- There isn't a GitHub Pages site here."

I cant for the life of me figure out what's up. I gave it plenty of time to update and if I wipe it and replace my old repo it comes up within a min or 2 after seeing this error. It's been 10-15m and still nothing with this repo clone.

[2021-01-30 07:53] daattali commented on #660
I see https://exploits.run/the4rchangel.github.io.bak2/ working correctly

[2021-01-30 07:55] the4rchangel commented on #660
Well there's clearly something wonky going on with my settings here 😬 my apologies. Will troubleshoot in the AM

[2021-01-30 17:51] manelrodero commented on #765
Sorry, I tried to fix it myself overwriting CSS without success.
I hope someone knows how to solve this for everyone.

In the meantime, I've used this workaround, define About menu item using an extra space like this:

[code]

This does the trick for my page but obviously is not the solution.

[2021-01-30 18:54] daattali commented on #765
Note that a solution like that may work on your specific device but because
you're relying on the precise width of a font, it might not look the same
on other devices.

On Sat., Jan. 30, 2021, 12:51 manelrodero, <notifications@github.com> wrote:

[2021-02-01 14:10] VincentTam commented on #510
@iootaa Thx for info.  I tested that a year ago on Framagit, the free (as in freedom) GitLab instance that you've mentioned: https://framagit.org/staticman-gitlab-pages, and I would say that it works with almost any static web generator you can think of, thanks to the built-in GitLab CD/CI, which can execute any Docker image (hosted on either Docker Hub or [GitLab container registry](https://docs.

[2021-02-01 14:31] VincentTam commented on #541
@wini3d @daattali Sorry I'm eating my words again.  Due to the quoted comment from the app's maintainer, I'm going to submit a PR for a README update about the GitHub App setup on a custom Heroku app instance.

I've found the motivation to try out the GitHub App, thanks to a clearly-written blog article https://hajekj.net/2020/04/15/staticman-setup-in-app-service/.  Here's some screenshots showing

[2021-02-03 19:53] rupeshtiwari opened #777 "responsive feature image for blog"
I added custom-styles.css trying to overwrite the css to show different background image. please let me know what mistake I am doing this is not working at all.

[code]

[2021-02-03 20:05] daattali commented on #777
Unfortunately I receive dozens of help requests every week and I cannot offer free support any longer. I suggest getting help from an online jekyll forum, or if you would like my help feel free to choose [a plan](https://beautifuljekyll.com/plans/)

[2021-02-03 20:05] #777 closed

[2021-02-04 06:00] daattali commented on #518
@aisbergde there is a `site-css` config field now that allows you to add a css file to every page, I believe this is what you wanted

[2021-02-04 06:14] daattali commented on #518
Regarding the original issue by @abelcheung : I think `css`+`ext-css` could be combined into one, and `common-css`+`common-ext-css` could be combined into another variable. But I don't think the four of them can be combined into one, because there is a distinction between them: the former is a way of specifying css on a single page, and the latter is for css site-wide

Same goes for js

[2021-02-04 06:57] daattali commented on #576
https://github.com/daattali/beautiful-jekyll/pull/577 had a potential fix to this. Should look into it again when there is some time

[2021-02-04 07:05] daattali commented on #661
Instead of going to scss, which would be a huge structural change, perhaps a happy middle ground is introducing some css variables. Unfortunately IE11 doesn't support them, so this will have to wait until IE11 dies...

[2021-02-04 07:08] daattali commented on #766
Perhaps @VincentTam has something useful to say here

[2021-02-04 09:11] VincentTam commented on #766
When I ported @<span>mmistakes</span>'s code, I was using the min version.  Tracing back the changes, I see that it has been replaced to a slim version at commit https://github.com/daattali/beautiful-jekyll/commit/5991966d38054938fa0506414b9f7e1c10946340#diff-e9c677c6d71b6acd8eb0963e0e2a9bd997a86240a3711c2d391c42d18eb12c32.

I'm learning JavaScript, and I'll know `$.ajax` in a month or so.

AFAIK,

[2021-02-04 14:43] daattali commented on #766
You're right looks like I'm at fault for slim-mifying jquery. When I refactored I noticed that slim version is fine for all the parts of the site that I built, I didn't think to consider staticman. Let us know when you find out

[2021-02-04 16:12] VincentTam commented on #766
I respect your decision to use slim.  I'll soon search for the functional difference between the two versions of jQuery.  As @<span>onweru</span> has worked out a pure-JS implementation of Staticman integration in his Hugo theme for which I has been invited to a collaborator (c.f. the 2nd external link in my previous comment), it would be nice if I can decipher his code and find a slimmer version.

[2021-02-09 11:36] ghosh-r commented on #755
For someone, who is not using a forked version of this repo, doing this is trivial-
The following should be added-

File: `_includes/social-network-links.html`

[code]
and,
File: `_config.yml`
[code]

[2021-02-09 11:36] #755 closed

[2021-02-09 17:27] daattali commented on #755
Thank you @ghosh-r

I would still welcome a PR at any point

[2021-02-12 14:20] VincentTam commented on #766
@sidharthramesh @daattali I've fixed the code a few days ago by replacing `$.ajax` method with `fetch()` in standard JS.  Please verify and merge, so that the reported problem would be fixed.

P.S. Staticman officially updated its website to include setup guide for v3 yesterday.  https://staticman.net

[2021-02-12 14:29] sidharthramesh commented on #766
Hey @VincentTam thank you! I considered using fetch as well, however not all browsers support it. Especially IE. So perhaps a solution using XHR will be better for comparability? Axios can be another alternative. What do you think @daattali ?

[2021-02-12 17:39] VincentTam commented on #766
@sidharthramesh Thanks for suggestion.  I prefer your way.  I've worked it out.  Please verify.

[2021-02-12 17:46] sidharthramesh commented on #766
Great work @VincentTam. I'll be testing it and using this PR on my fork. @daattali please consider merging and closing this issue.

[2021-02-12 21:23] VincentTam commented on #766
I'm posting links to MDN docs about the browser compatibilities for quick reference.

1. https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API#browser_compatibility no IE support :sob:
2. https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest#browser_compatibility
  - `XMLHttpRequest()` constructor: 7
  - `onreadystatechange`: 5
  - `readyState`: 7
  - `readyState.constants`: 9
  - `

[2021-02-23 06:53] zenithexpo opened #783 "Medium link option in footer"
I would like to add Medium profile link option in the footer. Can I create PR for the same?

[2021-02-23 19:25] daattali commented on #783
Yes that would be a welcomed addition!

[2021-03-01 10:50] #783 closed

[2021-03-01 22:49] Emaleth opened #786 "Feature Suggestion: custom-social.html"
Same way we can create and include custom css and js, it would be nice to get same for custom social links, those would appear next to ones built-in to look seamlessly.

[2021-03-01 23:58] daattali commented on #786
Are there any social media links that you'd like to add that aren't available? I much prefer adding more sub-items to that list rather than creating an entirely new feature for that

[2021-03-02 00:21] Emaleth commented on #786
Oh, in that case: Odysee.com

[2021-03-02 00:39] daattali commented on #786
Looks like it may be part of fontawesome soon https://github.com/FortAwesome/Font-Awesome/issues/17320 (you might already know that since you said "yet")

I don't think adding this feature would benefit enough people to warrant adding it - it would involve adding documentation, making code changes, and having one more thing that must be tested every time I make a release. The easiest solution for

[2021-03-02 01:08] Emaleth commented on #786
Oki, for now will do. Hoping it grows and at some point you will include it.

[2021-03-02 08:12] daattali commented on #786
When if you mean "include the icon" then yes I will as soon as it's possible.

If you mean "include the custom html file" then I don't currently foresee that happening.

I'm closing this issue as resolved. Feel free to open a new issue if you have another request!

[2021-03-02 08:13] #786 closed

[2021-03-09 17:59] b-kennedy0 opened #787 "Formatting change suggestion: Long strings not wrapping"
First, apologies, I am in no way a HTML/CSS expert, this is just a suggestion.

Long strings (such as URLs) break the container in mobile view as they do not wrap. E.g
![image](https://user-images.githubusercontent.com/42816209/110516116-11e36e00-8101-11eb-9325-b87da7cb0cca.jpeg)

A quick search suggests a modification to CSS:
[https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-ou

[2021-03-09 18:15] b-kennedy0 commented on #787
Not sure if useful in any way, but I managed to coerce my own page to wrap by using HTML and adding CSS inline. E.g.
`<div style="overflow-wrap: break-word; word-wrap: break-word; -webkit-hypens: auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;">`

[2021-03-09 21:06] b-kennedy0 commented on #787
I _think_ so, yes.

To be honest, I was hoping that somebody with **much more** experience than I would chime in here!

[2021-03-09 21:40] daattali commented on #787
Let's give it some time and see if others are able to discuss and test. I'm very conservative about making changes that affect existing behaviour because of the huge number of people affected

[2021-03-18 07:33] Hax4us opened #791 "cover-img is not working"
Post Link : https://hax4us.github.io/2020-07-12-install-jedi-vim-termux/

Problem : Cover-img is not working

Source : https://github.com/Hax4us/Hax4us.github.io/blob/gh-pages/_posts/2020/2020-07-12-install-jedi-vim-termux.md

image is here : https://github.com/Hax4us/Hax4us.github.io/blob/gh-pages/assets/img/vimjedi_preview.jpg

[2021-03-18 19:22] daattali commented on #791
I don't know what version of beautifuljekyll you're using. It must be very old. cover-img is only available for about a year if I recall (it was called something else before), I suggest re-installing from scratch if you want all the new features.

[2021-03-18 19:22] #791 closed

[2021-03-19 07:41] Hax4us commented on #791
yes you were right :) btw old name of cover-img was bigimg

[2021-03-25 12:15] rafisics commented on #195
Hi, I am facing problem activating mathjax in a [post in my github page](https://github.com/rafisics/portfolio/blob/master/_posts/2020-02-28-test-markdown.md).
I have done the following things.
- Added the `ext-js` key in the `./_config.yml`:
[code]
- Added these lines to `_includes/head.html`:
[code]
- Added `usemathjax: true` in the YAML front matter in the [markdown file](https://github.com/raf

[2021-03-26 10:26] aisbergde opened #794 "netlify deployment - Links to Home doesn't work, it is not possible to get back to the home page"
the template works fine on Github-pages, but it doesn't work correctly when the same repository is published to netlify. On netlify the generated links to the homepage are wrong, they point to the current page.
to reproduce:
- fork the original template
- add to the Gemfile: `gem "jekyll"
- deploy to netlify
- visit the about site, or any other page, for example a post
- check the link which is us

[2021-03-26 11:34] aisbergde commented on #794
As a workaround I found only to add a "Home" in the menu structure. But it should be possible somehow that the template works with both github pages and netlify. The problem seems to be something with `nav.html`.

I also tried a bit with `baseurl: /`, but this has no effect.
And I really don't know where to search for a solution.

[code]

[2021-03-26 17:22] daattali commented on #794
I don't know what it means to "deploy to netlify". This isn't something I would know hot to fix but I'd be happy to get insights if you're able to troubleshoot and better understand the issue.

[2021-03-27 10:43] aisbergde commented on #794
@daattali
The issue with Github pages:
https://docs.github.com/en/github/working-with-github-pages/about-github-pages#prohibited-uses

But there are free alternatives:

https://www.netlify.com/

it is a very popular service, because the starter package is free and contains all required:
https://www.netlify.com/pricing/

They also support easy deployment of several static site generators:
https://j

[2021-03-27 16:22] daattali commented on #794
Thanks for all the details. This theme was indeed created as a github-first theme and github is the priority, because I wanted it to be very accessible to beginners.

I myself am not a ruby developer and however 0 experience with ruby except for the few hours creating a gem. So this sort of troubleshooting is unfortunately outside of my expertise.

[2021-03-27 17:29] aisbergde commented on #794
Then I will ask in the jekyll community, if someone could help to solve.

[2021-04-01 21:36] askdesign commented on #69
This worked for me, on a site with a fixed header. Thank you!

[2021-04-11 11:24] gpotter2 opened #796 "Rewrite history request"
Hello,

Please rewrite the history of this repo to remove the mention to my name in https://github.com/daattali/beautiful-jekyll/commit/114170ba86429da3ea2f2b658656c4089eeb9c1d

I am aware that this is annoying, but I am getting *spammed* with notifications of non-technical people failing their rebase.. There is no way to disable notifications in all forks on github. I just end up blocking whoever

[2021-04-11 16:13] daattali commented on #796
I'm really sorry, I'll try to look into this

[2021-04-11 16:15] daattali commented on #796
If you know the exact procedure for this, feel free to let me know

[2021-04-12 07:53] gpotter2 commented on #796
You can do

[code]

replace `pick` by `rename` on the commit, then rename the commit, finish the rebase.

Make sure you're using the latest up-to-date version because you'll have to force-push the changes (`git push -f`)

[2021-04-12 18:39] daattali commented on #796
It scares me to tinker with git history, I'll do it if I have to do but I emailed github support for help to see if they can help

[2021-04-13 09:44] gpotter2 commented on #796
Heh; I can answer that.

[code]

[2021-04-13 16:01] daattali commented on #796
Rewriting the history also means that ALL commit SHAs since then will be modified, which is something I really wanted to avoid. Looks like we won't need to! Here's a message I received from support just now:

[code]

I'll leave this issue open until you can verify that this stopped

[2021-04-15 14:43] artis3n opened #797 "Support Cloudflare analytics as alternative to Google + Matomo"
<https://support.cloudflare.com/hc/en-us/articles/360052685432-Cloudflare-Web-Analytics>

Happy to put in the PR myself as long as you approve, similar to Google where an account code is added to the config and inserted into a JS script template.

[2021-04-16 00:02] daattali commented on #797
I didn't know cloudflare offered analytics! TLDR of how it's different from GA/why use it over GA?

Is it getting traction? I only want to support popular tools

[2021-04-16 00:42] artis3n commented on #797
They released it last year. It's main selling point (it's free) is privacy-preserving analytics.

https://blog.cloudflare.com/free-privacy-first-analytics-for-a-better-web/

[2021-04-16 04:25] daattali commented on #797
Sure, I'll accept a PR -- I assume it will add one config file parameter and a _includes html file

[2021-04-16 14:14] artis3n commented on #797
Yup!

[2021-04-20 04:52] #797 closed

[2021-04-20 15:31] gpotter2 commented on #796
Hah, nice.
It's likely they followed suite on my request. They said they would ask the devs about that.
I'll keep you up to date and report if I get any

[2021-05-04 08:18] jeromehanan opened #802 "Issues after updating content"
After updating contents on md files inside posts directory, Actions was successfully built but github.io page doesn't show me up anything. What actually happened was I've just updated the title of first post and push into master branch. Can you pls help me out to figure out the exact issue??

Below is the evidence for what was built

![Capture](https://user-images.githubusercontent.com/37964809/11

[2021-05-04 08:40] jeromehanan commented on #802
I found out the solution..

[2021-05-04 08:40] #802 closed

[2021-05-04 12:56] jeromehanan opened #803 "How to run locally?"
For development purposes, how to run on this on localhost? I've installed Ruby, RubyGem and Jekyll via Bundler? What to do then? I run this  `$ bundle exec jekyll serve ` on terminal, but I cannot see it working properly.

[2021-05-04 14:42] daattali commented on #802
It might help other people in the future of you can add a comment about what the issue/solution was

[2021-05-04 14:46] daattali commented on #803
This is not a question specific to beautiful jekyll, and it isn't an issue or a feature requests, so I'm going to close this.

There are many instructions online about how to locally run jekyll themes, but it's out of scope for me to help individuals learn how to run jekyll locally.

[2021-05-04 14:46] #803 closed

[2021-05-15 15:08] jashrathod commented on #10
I have added the favicon.png file. I'm able to view it on the home page but not "About" page or any of the posts.

You can find the code here: https://github.com/jashrathod/jashrathod.github.io

[2021-05-15 18:57] kzu opened #810 "Just like page.head-extra, add site.head-extra support for site-wide headers"
It's useful to be able to add additional `<head>` content site-wide, not just per-page, like the current `page.head-extra`.

[2021-05-15 19:32] kzu opened #812 "Just like page.footer-extra, add site.footer-extra for site-wide footer content"
Similar to #810 but for footer

[2021-05-16 03:58] daattali commented on #810
You can already do this, by adding this parameter as a default value in the config file

Like here https://github.com/daattali/beautiful-jekyll/blob/a531737107167728c5fc8e25a4aadbd65d47533c/_config.yml#L203-L211

[2021-05-17 07:00] #754 closed

[2021-05-17 15:19] kzu commented on #810
I'm sorry, not following. I can't figure out what that snippet means and how it allows me to add an extra head site-wide.

Also, it seems quite a bit less discoverable than just introducing the same property at both the site and page level, rather than resorting to an entirely different mechanism for what's essentially the same.

Just my 2cents :)

[2021-05-17 16:43] daattali commented on #810
You can see an extra on my personal site (using footer-extra on all pages)

https://github.com/daattali/daattali.github.io/blob/61e009260efd73cb319d3c952af35cb96ce9582c/_config.yml#L99

I agree that having another explicit parameter for it would be easier, but that would result in a lot of duplications - every single YAML parameter can be duplicated in this way and that's not maintainable. I try t

[2021-05-18 01:43] kzu commented on #810
I see. But wouldn't that default apply only to *page* headers, meaning non-page layouts wouldn't get it?

[2021-05-18 03:18] daattali commented on #810
You can use it on any layout or any page. Read the jekyll documentation I linked to. It can be used on any page

[2021-05-19 20:39] kzu commented on #810
What I'm saying is that the cognitive leap from just another property that matches the page-level one (that's from *your* template, not jekyll) vs going "all in" jekyll is a bit much. Sure, I understand that Jekyll can do everything (and more :)), but I thought the point of your template and your added properties was to simplify that process and offer a somewhat more "higher level" abstraction/con

[2021-05-19 21:28] daattali commented on #810
[What I linked to on my personal site](https://github.com/daattali/daattali.github.io/blob/61e009260efd73cb319d3c952af35cb96ce9582c/_config.yml#L99) is actually an example of using the parameter on ALL pages, regardless of the layout

To clarify: *any* of the page-specific options can be used site-wide by using the "default" section in the config file. I agree that the average user may not know th

[2021-05-26 10:54] tillgrallert opened #816 "Author information is missing from `<meta>` tag in HTML"
I just updated a [project website](https://openarabicpe.github.io) to the latest version of Beautiful Jekyll and it appears the `<meta>` tag for authorship information in the HTML header is empty even though the YAML for blog posts includes the relevant field.  One of the recent changes seemingly was to remove the general authorship information from `_config.yml` but I am not sure what is going on

[2021-05-26 11:13] tillgrallert commented on #816
After some poking around it is indeed the case that the `author` tag in the YAML for blog posts is ignored and everything instead relies on the `_config.yml`. Why is that?

[2021-05-26 15:28] daattali commented on #816
Was "author" ever a supported YAML option?

[2021-05-26 15:29] tillgrallert commented on #816
I thought it was. But then if you as the developer think it wasn't, I am most probably wrong.

[2021-05-26 18:57] kzu commented on #810
Makes sense, nuked my changes!

[2021-05-26 18:57] #810 closed

[2021-05-26 18:58] kzu commented on #812
Just like  #810, this isn't needed either

[2021-05-26 18:58] #812 closed

[2021-05-26 22:46] daattali commented on #816
Actually there's a `author` field in the config file. It's currently only used in the footer, but it would make sense to have it generate a meta tag for author as well. I'd be happy to accept a PR adding a meta tag for author

[2021-05-27 12:18] tillgrallert commented on #816
Dear @daattali, this is already the case. `<meta>` tags for author are generated based on the `author` field in the config file.

[2021-05-27 15:22] daattali commented on #796
Can we close this?

[2021-05-27 15:24] daattali commented on #816
Ah yes, looks like it is there. So if the author is supported in the config file, can we close this issue? Or do you have a different feature request?

[2021-05-27 15:32] tillgrallert commented on #816
I think, we can close this issue. I will probably submit another feature request for the support of the author tag in the YAML block of individual posts.

[2021-05-27 15:37] #816 closed

[2021-05-27 19:27] #796 closed

[2021-05-30 00:33] daattali commented on #766
I think IE11+/edge is reasonable, anyone using IE10 or below is probably having problems with half the internet, so I wouldn't worry about that. Too bad that IE never implemented fetch support. I'm sorry for the long delay, will look at the PR now

[2021-05-30 19:59] daattali commented on #770
Done in commit 950c341739a876b0f73de23e59839b42e8869b69

I added a search button to the navbar so that the search will be available on every page and so that it will work even for people who don't use the default `layout: home` homepage, and so that it doesn't take up space in the middle of the page (it didn't seem right to me)

On large screens there's a magnifying glass icon at the end of the na

[2021-05-30 19:59] #770 closed

[2021-06-24 18:03] lorenzoFabbri commented on #254
Is this the reason while it's not possible to add links to internal files? Like you can do with Jekyll?

[2021-07-17 02:49] leopqrz opened #837 "Website in two languages"
Hi, sorry if this is a silly question, but this is my first time creating a website.
How is the easiest way to have a double website each in a different language (Portuguese and English)?
ps. Using the beautiful-Jekyll

[2021-07-17 04:15] daattali commented on #837
Beautiful jekyll doesn't have such a feature. I suggest googleing for ideas on how to have a multi-language jekyll site, or perhaps asking on social media/online forums for how to do that. It seems like a generic jekyll question, not specific to this theme

[2021-07-17 04:56] #837 closed

[2021-07-17 05:04] leopqrz opened #838 "footer links doesn't work"
After creating an "example.com" domain that redirects to name.github.io my social media links on footer stopped working.

They all have the "refused to connect" message when I click.

Is there any step to be done to make the links work again?

[2021-07-17 10:08] #838 closed

[2021-07-20 08:22] leopqrz opened #841 "Logo + name (top left)"
I know that towards the top left of the website there is a choice between a logo or website name. How do I have both? logo + name

[2021-07-20 16:27] daattali commented on #841
That's not a supported feature out of the box. If you want to do that, this theme is fully open sourced so you can modify the template. But it's not something I can help with

[2021-07-20 16:27] #841 closed

[2021-08-01 04:09] barun108 opened #843 "jekyll 3.9.1 | Error: no implicit conversion of Hash into Integer"
I am getting this error on local run

[2021-08-01 17:28] daattali commented on #843
Hi @barun108 unfortunately I cannot provide support for local installation issues. This theme is mostly meant to be a GitHub Pages theme, and the local installation instructions are a DIY with no support because every system is different and can have its own specific issues. I suggest asking for help in jekyll forums that have thousands of users who might be able to help

[2021-08-01 17:28] #843 closed

[2021-08-09 07:53] DoctorD90 opened #847 "Feature idea: copyright line in footer"
The source code of the site is released under the MIT license, but the contents created by authors/owners of each site could be copyrighted under different license than MIT.
Would be possible to add in the footer a simple span/div (configurable from `_config.yml` maybe) with the desired license? (example: Creative Commons). I dont aim to have a full list of pre-configured licenses (it would be awe

[2021-08-09 16:17] daattali commented on #847
I would strongly prefer not to create an additional file that *must* exist, so of the license file is optional that would be ok. However, as far as I know there is no way to check for the existence of a file with jekyll and have conditional rendering logic based on whether the file exists.

This is the closest thing
https://jekyllrb.com/docs/static-files/ but it only works on purely static files w

[2021-08-11 10:43] DoctorD90 commented on #847
I thought about it.
What about to create a variable in the `_config.yml` or a simple empty `_includes/copyrigth.html` and leave people to fill it? In this way you can preconfigure the html layout in the `_includes/footer.html` and people can call it with an `include` in their posts if they want.
For my purposes I added a span in the footer, but im not really an html/css expert, so it looks nice bu

[2021-08-12 00:52] daattali commented on #847
There is already a 'footer-extra' parameter, which allows you to specify an HTML file to include in the footer. It sounds very similar to what you suggest. Would that work for your purposes?

[2021-08-12 08:23] rusty-snake commented on #843
Hi, I had the same issues and could solve it by installing ruby 2.7 (rather than 3.0).

https://blog.kagesenshi.org/2021/05/ruby24-fedora34.html
https://bbs.archlinux.org/viewtopic.php?id=265534

[2021-08-14 22:57] VMois opened #850 "Add support for Polywork icon in the footer"
I have recently got access to a [Polywork](https://www.polywork.com) and want to put my Polywork link on my personal website (of course, powered by `beautiful-jekyll`). There is already support for LinkedIn, Twitter, etc. icons in the footer. I would like to add support for the Polywork icon too.

Polywork has freely available icons [here](https://drive.google.com/drive/u/0/folders/1LpVFyw8rsxggJw

[2021-08-14 23:41] daattali commented on #850
Any icon that is supported by fontawesome can be included. You can see the list of icons they currently support here https://fontawesome.com/v5.15/icons

They do continuously add new ones, so perhaps one day if polywork will become popular enough they'll add their icon. You can also request fontawesome to add polywork's icon to their library.

If the icon is not on fontawesome, I won't be able to

[2021-08-14 23:41] #850 closed

[2021-08-15 20:00] VMois commented on #850
I found the request for the PolyWork icon - https://github.com/FortAwesome/Font-Awesome/issues/18038. If anyone is interested in the icon, please, go to the request and hit "thumbs up".

[2021-08-16 02:59] daattali commented on #850
When it gets added, feel free to open an issue here again

[2021-08-23 16:56] DoctorD90 commented on #847
Thanks for patience! I tried it. It seems doesnt work.
- I created a file footer-license.html
- I added "footer-extra: "footer-license.html" to the _config.yml
- Rebuild the site cleaning the cache

Nothing appeared

[2021-08-23 19:14] daattali commented on #847
It's a YAML parameter (per-page parameter), not a global (config file) parameter.

If you want to apply it to all pages, you can use the `defaults` in the config file.

I'm closing this issue as it's not a bug and it will not be added as a new feature. If you are having trouble figuring out how to use a feature (like footer-extra) you can look at other sites using them. My personal website example

[2021-08-23 19:14] #847 closed

[2021-08-23 20:29] 8itCat opened #853 "Blog posts not showing up on front page"
My repo:
https://github.com/8itCat/8itCat.github.io

[2021-08-23 22:21] daattali commented on #853
Issues are reserved only for bugs and feature requests. If you're having an individual problem with the project, feel free to use the Discussions area or ask anywhere else online.

[2021-08-23 22:21] #853 closed

[2021-08-24 01:33] rocklan opened #856 "Post preview on homepage double escaping xml characters"
If you have a post that contains an ampersand character, then it is accidentally double escaped when showing on the home page. It ends up looking like this:

[code]

I think the issue is with the home layout, the summary is being pumped through the `xml_escape` filter needlessly:

https://github.com/daattali/beautiful-jekyll/blob/30a757de4741301dfefb2b20630eb5dece98b97a/_layouts/home.html#L71

Rem

[2021-08-25 03:19] mura94 commented on #705
@thomas-gg were you able to solve this?

[2021-09-04 06:24] matanmus opened #865 "Both a website title and an image logo in the navigation bar."
Hello Dean.

Beautiful Jekyll is really great and helpful. I was wondering if it is possible to have both a website title and an image logo in the top-left corner of the navigation bar. Within _config.yml I could not manage to do it.

Thank you,
Matan

[2021-09-04 06:26] matanmus commented on #865
Hello Dean.

Beautiful Jekyll is really great and helpful. I was wondering if it is possible to have both a website title and an image logo in the top-left corner of the navigation bar. Within _config.yml I could not manage to do it.

Thank you,
Matan

[2021-09-05 04:20] daattali commented on #865
That's not possible out-of-the-box. You can probably modify the source files yourself to achieve that - you'd have to modify `_includes/nav.html` and the css file. (And of course you'll need to know basic CSS and HTML to be able to do that :) )

[2021-09-05 04:20] #865 closed

[2021-09-13 18:59] sparkertime opened #870 "Any chance of a new release?"
For those of us on the remote theme option, any chance of a new release? I'd love to get the search features that were added in May

Thanks!

[2021-09-14 05:40] daattali commented on #870
Yes, a new version is definitely due. I just spent this past weekend upgrading another project of mine, I'll try to release this next time I find a free day

[2021-09-21 11:55] SupremeYE opened #874 "I'm Sorry"
I'm still inexperienced in github, so I changed it without clone after fork. I'm sorry....

[2021-09-21 16:28] #874 closed

[2021-10-05 07:46] amirhossein-nhn opened #885 "Change the font used on the pages"
I want to change the font used on the pages. Now, the default font is Times New Roman. Is there any way that I can change the font?

[2021-10-05 08:29] daattali commented on #885
You can change the font and do any other visual change by adding a CSS file. Teaching CSS is out of scope for me, you'll need to do a short CSS tutorial.

[2021-10-06 01:54] patgarz opened #886 "giscus support"
I'm reaching the finishing stages of adding [giscus](https://giscus.app) comments support for my Beautiful Jekyll site. If you're not familiar, giscus is what I would consider the "spiritual successor" to utterances as it uses GitHub Discussions rather than GitHub Issues for its comments.

Do you have any interest in me putting together a PR to add that functionality? Setup is almost identical to

[2021-10-06 16:05] patgarz commented on #886
To any consumer, yes. For anyone wanting to dive into the site code, they'll also find the `giscus-comment.html` included in `_includes` and a reference in `comments.html` (nearly identical to utterances).

I'll go ahead and put together the PR and link it here so you can see the exact diff - should be able to do that after I'm off work this evening.

[2021-10-10 01:45] daattali commented on #756
Closing this issue due to old age and no details, but if you do still have this error then please do open an issue with full reproducible steps

[2021-10-10 01:45] #756 closed

[2021-10-10 01:46] #765 closed

[2021-10-10 02:02] #766 closed

[2021-10-10 02:23] #787 closed, assigned to nobody

[2021-10-10 02:25] daattali commented on #794
@aisbergde please do update with more details if you found a solution, and whether this is a problem for only this theme or all jeyll github themes

[2021-10-10 02:25] #885 closed

[2021-10-10 06:20] #856 closed

[2021-10-10 08:00] daattali commented on #886
Closign the issue, as it's already in a PR

[2021-10-10 08:00] #886 closed

[2021-10-10 20:13] aisbergde commented on #794
I only used this theme to create my own site and some sites for some friends. One of this site I wanted to publish on netlify, because it is a commercial site. And only then I found this issue. But I was able to reproduce with other sites using this theme on netlify. Maybe it is a netlify issue.
I could try to use gitlab pages. In general gitlab is a good alternative, the allow commercial sites, t

[2021-10-10 23:28] daattali commented on #794
Thanks for letting me know. I'm going to close this issue, I would be very happy if you try to use gitlab -- please do report back with results. If it doesn't work, let me know. If it does, perhaps you can help with https://github.com/daattali/beautiful-jekyll/issues/510 :)

[2021-10-10 23:28] #794 closed

[2021-10-22 17:05] alexanderramos89 opened #892 "C-2273"

[2021-10-22 18:24] #892 closed, assigned to nobody

[2021-10-22 23:54] angoodkind opened #893 "Where to modify css for tables?"
I would like to add a table in one of my regular pages, but without a header. For example, I've found the code and css below. Which css file would I add this to?

[code]

Thanks!

[2021-10-23 23:59] angoodkind commented on #893
Maybe I'm using an older version, but I don't see this option. At the bottom of my `_config.yml` file it says `2fc73a3a967e97599c9763d05e564189`. Is that a version num?

[2021-10-24 01:56] daattali commented on #893
Here it the line in the current version https://github.com/daattali/beautiful-jekyll/blob/5180092c45a71ab74e5b4fade01748555eb474e5/_config.yml#L126

If you don't see this parameter in your config then yes your version is too old. In that case you can use the `css` YAML frontmatter parameters (that was around since day 1)

[2021-10-24 06:26] Hax4us opened #894 "cover images are getting cropped automatically"
Here is post https://hax4us.github.io/2021-10-22-hack-instagram-account-without-phising-attack/

My cover image size is 1280x720 and i want to preserve original size so that my text written on image will not trimmed.

So is there any option to specify size of image ?

[2021-10-24 06:51] #894 closed, assigned to nobody

[2021-10-24 06:51] #893 closed, assigned to nobody

[2021-10-24 15:23] MarkEdmondson1234 opened #895 "CNAME issues taking over my website"
This looks like a more appropriate place for this issue

https://github.com/daattali/daattali.github.io/issues/25

https://github.com/domainpbn/www.markedmondson.me/issues/1

I think what happened was this repo was forked, and for some reason a CNAME with my website was added.  As my repo was on private mode due to a GitHub sponsorship plan, this now means someone else controls my www web domain.

[2021-10-25 06:17] #895 closed, assigned to nobody

[2021-10-26 13:28] wy-luke opened #896 "How could I add a navbar option linked to a js funtiuon?"
**beautiful-jekyll is awsome!**

In the config.yml file, I can only set the page it linked, like the about.md. But how could I just want it work as a button?
Should I change the layout or some file else?
Thank you so much!

[2021-10-27 08:09] #896 closed, assigned to nobody

[2021-11-03 21:42] TurtleP commented on #576
Sorry to bump this 9 month old issue, but has there been any progress on it? I was just updating my website and came across this issue.

[2021-11-03 23:29] daattali commented on #576
There has not been any important updates on this. If anyone wants to try to fix it I'd be happy to incorporate a PR. There was previously a PR but it was old and did not work, and the person who wrote it did not respond to try to fix it so I closed it.

[2021-11-20 20:34] cyaris opened #902 "Avatar icon disappearing instead of fading on mobile scroll."
Experiencing this on mobile only and actually haven't been able to replicate it while testing mobile functionality on my laptop. Only seen only while using a browser from my mobile phone.

https://user-images.githubusercontent.com/35279417/142740207-59de8c1b-d73a-4bd8-8c1b-cafdd1de4cf7.mov

[2021-11-23 03:40] daattali commented on #902
It's most likely an issue with the specific browser you're using. Is that Chrome or some other major browser, or is it a simple default browser?

[2021-11-23 23:31] cyaris commented on #902
Using Google Chrome on mobile.

[2021-11-24 15:48] daattali commented on #902
What's the url? So i can try

[2021-11-24 20:32] cyaris commented on #902
My domain is https://cyaris.github.io/. I'm not seeing the issue anymore but before posting I made sure to check https://beautifuljekyll.com/ and it was occurring there too.

[2021-11-25 03:34] daattali commented on #902
If you're not seeing it anymore, it might have been a temporary bug with your phone/browser? I've never experienced this and I've been looking at beautifuljekyll sites daily for 6 years :) Closing this issue, feel free to reopen if needed

[2021-11-25 03:34] #902 closed

[2021-11-28 15:35] alperyazar opened #906 "If previous or next page title has "", pagination links get broken."
On my blog, one page has `""` characters at the title. The post before and after that page have invalid next and previous links.

Cause:
https://github.com/daattali/beautiful-jekyll/blob/71824e526850c971e95cffc3f36ee0c071bfa781/_layouts/post.html#L70
https://github.com/daattali/beautiful-jekyll/blob/71824e526850c971e95cffc3f36ee0c071bfa781/_layouts/post.html#L75

Example:

` <a class="page-link" h

[2021-11-28 16:19] daattali commented on #906
Can you show me the exact YAML for the page? I just tried placing quotes in a page title and it seems to work for me.

[2021-11-28 18:55] alperyazar commented on #906
Oh, my mistake! I am using version 5.0.0 but I mistakenly thought that I was using the latest. Looks like problem has been already fixed in 505305ebe7c1f1e8a2b11cdd6582619fd5f745ab.

[2021-11-28 18:55] #906 closed

[2021-12-06 06:55] zhichucode opened #910 "Add a favicon for the website"
I want to add a favicon. I write this in the `_config.yml`
`favicon: /assets/img/favicon.ico`
but it doesn't work.

[2021-12-06 07:21] daattali commented on #910
That isn't meant to work, did someone/somewhere claim that the config file accepts a favicon parameter?

See here https://beautifuljekyll.com/faq/#favicon

[2021-12-06 07:21] #910 closed

[2021-12-06 08:22] zhichucode commented on #910
Thank you for your help.

[2021-12-17 02:00] OZ7UP commented on #794
Late reply is late, but as a fellow netlify user, I can confirm that this works.

[2021-12-17 03:01] daattali commented on #794
@OZ7UP if this solution doesn't break other sites (served with jekyll, or github user sites, or github project sites), I would love a PR

[2021-12-18 15:18] omnomnomest opened #917 "Dark Mode Button"
We all need a dark mode feature.

[2021-12-18 18:46] daattali commented on #917
We also all need a wage to support us and not to be expected to work for free :)

[2021-12-18 18:46] #917 closed

[2021-12-20 06:15] OZ7UP commented on #794
I don't really have the time to do any extensive testing, especially with other sites (besides, I'm really new to GitHub, having only started in late October), but perhaps someone else who has the time to spare could do so, using the code provided by Aisbergde.

Speaking of which, the changes that Aisbergde has suggested for lines 4 and 6 should also be applied to line 53 if people want their avat

[2021-12-21 05:05] pavelsg opened #920 "Posts for 2021????"
Am I doing something wrong or it just doesn't work for 2021 posts? :)
Simply trying to rename 2020-02-28-test-markdown.md to 2021-02-28-test-markdown.md removes post from the index/blog (page doesn't get generated)

[2021-12-21 10:25] daattali commented on #920
This shouldn't be an issue. Please link to the file in your github repository and to your website

[2021-12-22 10:14] pavelsg commented on #920
Sure, but will try to reproduce using clean repo first.

[2021-12-23 14:15] mucst commented on #263
@glederrey 's solutuion worked for me.
I am running a `ruby:2.7-bullseye` based container and had this "Connection was reset" issue. After setting the `host` in `_config.yml` (or appending the `--host` argument, everything worked like a charm.

[2021-12-25 22:01] MohamedAliRashad opened #923 "Add Copy-to-Clipboard feature"
I want my blog readers to be able to copy code directly from the website. can a feature like this exist ?

https://www.aleksandrhovhannisyan.com/blog/how-to-add-a-copy-to-clipboard-button-to-your-jekyll-blog/

[2021-12-25 23:23] daattali commented on #923
The code sections in this theme are simple HTML code blocks, they aren't the fancy ones that have interactive features. You can add this yourself if you're very savvy with HTML/javascript, but it's not going to be a built in feature here.

[2021-12-25 23:23] #923 closed

[2021-12-27 21:55] tatewilhelm opened #924 "Building (even with a fresh fork) fails."
This is issue with building on my personal website I already have worked on, and a new fork.

When I push commits, the actions return the following:

Beautiful Jekyll CI
[code]

pages build deployment:
[code]

This applies to both a new template and one that has been used for a while.

Repositories I used:
[tatewilhelm.github.io.old](https://github.com/tatewilhelm/tatewilhelm.github.io.old)
[tatew

[2021-12-28 20:34] daattali commented on #924
I'm not seeing any problems, I just tried creating a site in a few different methods and had no issue. Please outline all steps to reproduce your issue.

[2021-12-29 01:36] tatewilhelm commented on #924
Oops found the issue. I apparently specified the theme for some reason on my original config.yml and I just added it to the new repository thinking it wasn't the one causing the issue.

Sorry, but thanks for your time still.

[2021-12-29 07:30] #924 closed

[2022-01-02 19:59] cskartikey opened #926 "Update copyrightyear"
I know this will be a bit pedantic but I love the project and just want to remind you to upload the copyright year to 2021
![image](https://user-images.githubusercontent.com/64925909/147887886-12e1c1b4-7d17-4410-a048-8e11bd2c1c81.png)

[2022-01-03 00:12] daattali commented on #926
Thanks! It will actually update automatically to the current year when any change is made to the website. I'll do that right now, thanks for the reminder!

[2022-01-03 00:12] #926 closed

[2022-01-04 18:28] tillgrallert commented on #920
Just stumbled across a similar problem. As soon as I set the date in a post's YAML to 2022, eg. today's "2022-01-04", the date is duplicated in the post's URL (i.e. "2022-01-04-2022-01-04-{filename}.md") and title and subtitle are removed from the output. In addition, the post has no title, subtitle, summary or tags on the blog's landing page. For an example see <https://openarabicpe.github.io/>

[2022-01-04 21:52] tillgrallert commented on #920
After some digging around in the new build workflow in the Github Actions menu, I saw that my text editor had faultily added tab-stops instead of spaces in front of the tags in the YAML frontmatter. Once I replace them, the issue was solved.